[2016-07-17 00:28] ligadata-rich commented on #1320
A half measure for this 1.5.1 release would be to get the other 1.2.9 jars for the src provider specializations (e.g., the sas one described in this bug).   @ligadatahari maybe we can just try the 1.2.9 version of these extensions in our lib assembly.

[2016-07-17 02:00] ligadata-rich commented on #1320
etc from new packages?

I looked at the file that tripped up Shlpa's test.  Sas evidently always
generates the functions in the pmml that had the identifier that was not
known.  I compared it with the new test files that are in the most recent
production release.  All models have these functions.  Unless Villu put
these functions in all of the generated code... if that were the case, then
the cust

[2016-07-17 07:18] ligadatahari commented on #1320
I did a build as 1.2.9 including the following in build.sbt
libraryDependencies += "org.jpmml" % "pmml-model" % "1.2.9"
libraryDependencies += "org.jpmml" % "pmml-schema" % "1.2.9"
libraryDependencies += "org.jpmml" % "pmml-sas" % "1.2.9"
libraryDependencies += "org.jpmml" % "pmml-rattle" % "1.2.9"

and found the following included in ExtDependencyLibs jar. but knime and rapidminer were giving err

[2016-07-17 07:22] ligadata-pokuri commented on #1320
What are the issues with knime & rapidminer?

[2016-07-17 18:06] ligadata-yousef opened #1324 "OrientDB connection failure"
Hi Pokuri,

i tried with Saleh to run QueryGenerator tool but each time we faced same error:

Jul 17, 2016 11:31:06 AM com.orientechnologies.common.log.OLogManager log
INFO: OrientDB auto-config DISKCACHE=857MB (heap=928MB os=3,833MB disk=34,843MB)
Exception in thread "main" java.lang.NoClassDefFoundError: Could not initialize class com.orientechnologies.orient.core.Orient
  at com.orientechnologi

[2016-07-17 18:22] ligadata-pokuri commented on #1324
Hi @ligadata-yousef ,

it is saying it does not find the class. Looks like you are missing jar file in the path. We can take a look at it tomorrow morning or your time.

[2016-07-17 19:06] ligadatahari commented on #1320
knime and rapidminer - it cannot get from repo. We can manually compile and
include it in our ExtDependancy jar

On Sun, Jul 17, 2016 at 12:22 AM, ligadata-pokuri <notifications@github.com>
wrote:

--
Hari (harane Ramasamy)
LigaData

[2016-07-17 19:32] ligadata-rich commented on #1320
There is no issue per se with the knime and rapidminer.  The thought is
that perhaps there will be similar issues with the way those pmml authoring
tools generate their pmml... doing something that is not supported by jpmml.

I think that building those jars from source might be our only way for the
time being.

On Sun, Jul 17, 2016 at 12:06 PM, Hariharane Ramasamy <
notifications@github.com> wrot

[2016-07-18 00:46] ligadatahari commented on #1320
I was able to upload the model, and want to find out with pmml-sas and without it. I want to find out how to reproduce the issue

Shilpa/Rich can u help

Hari

[2016-07-18 01:39] ligadata-shilpa commented on #1320
@ligadatahari  this problem does not prevent from getting uploaded.
You will see this error after you push the data into kafka and start kamanja.

[2016-07-18 08:31] ligadata-yousef commented on #1324
Hi @ligadata-pokuri we use those JAR:

1- Orientdb-jdbc-2.1.19-all.jar
2- Orientdb-jdbc-2.2.3-all.jar
3- Orientdb-client-2.1.19.jar && Orientdb-core-2.1.19.jar.

[2016-07-18 09:39] ligadata-yousef commented on #1324
verified.

[2016-07-18 09:39] #1324 closed

[2016-07-18 18:02] ligadata-ahmad opened #1325 "NullPointerException when running StartKamanjaCluster.sh script"
Exception in thread "main" java.lang.NullPointerException
        at com.ligadata.installer.NodeInfoExtract$.writeNodeIdConfigs(NodeInfoExtract.scala:209)
        at com.ligadata.installer.NodeInfoExtract$.main(NodeInfoExtract.scala:169)
        at com.ligadata.installer.NodeInfoExtract.main(NodeInfoExtract.scala)

Problem: Invalid arguments supplied to the NodeInfoExtract-1.0 application... unabl

[2016-07-18 18:23] ligadata-ahmad opened #1326 "SmartFileAdapter Failed to connect to HDFS with hadoop High availability enabled"
exception while connecting to HDFS :

To solve the issue we need to pass more parameter like :
dfs.nameservices
dfs.ha.namenodes.EXAMPLENAMESERVICE
dfs.namenode.rpc-address
hadoop.rpc.protection
dfs.client.failover.proxy.provider

[code]

[2016-07-18 19:27] ligadata-greg commented on #1323
Hari,

I checked the PMML specification for the XML definition for the OutputField.  See the link and section of text below.
http://dmg.org/pmml/v4-2-1/Output.html

<xs:element name="OutputField">
  <xs:complexType>
    <xs:sequence>
      <xs:element ref="Extension" minOccurs="0" maxOccurs="unbounded"/>
      <xs:sequence minOccurs="0" maxOccurs="1">
        <xs:element ref="Decisions" minOccurs=

[2016-07-18 19:30] ligadata-pokuri commented on #1323
Hi Greg & Shilpa,

That is mistake from our usage. We are just Logging the Key & Type for all output & target fields. We are not checking whether type exists or not before we do operations on that field. That is simple fix and you will get that fix in 1.5.1.

[2016-07-18 21:17] ligadata-dan opened #1327 "KamanjaKafkaConsumer may process first message when that message should be ignored"

[2016-07-18 22:35] #1323 closed

[2016-07-18 22:38] ligadata-shilpa commented on #1319
Verified branch 1.5.1.1323 - models got loaded and output was obtained successfully.

[2016-07-18 22:44] ligadata-shilpa commented on #1319
Pulled and verified branch 1.5.1.1323. Models got uploaded and output was obtained successfully.

Samplle output file attached. Sample Model used was Linear Regression.
[HMEQ_Kscored_R_RegrLin.json.zip](https://github.com/LigaData/Kamanja/files/370293/HMEQ_Kscored_R_RegrLin.json.zip)

[2016-07-18 22:45] ligadata-shilpa commented on #1323
Pulled and verified branch 1.5.1.1323. Models got uploaded and output was obtained successfully.
Sample output file attached. Sample Model used was Linear Regression.
[HMEQ_Kscored_R_RegrLin.json.zip](https://github.com/LigaData/Kamanja/files/370294/HMEQ_Kscored_R_RegrLin.json.zip)

[2016-07-18 23:19] ligadata-pokuri opened #1329 "Handle Tagged Message handling for JSON deserialization"
Handle Tagged Message handling for JSON deserialization. We can handle others later, at this moment we support only JSON deserializer in 1.5.1 & 1.4.x

[2016-07-18 23:37] ligadata-ahmad commented on #1326
Hi Yasser the fix is in this branch https://github.com/LigaData/Kamanja/tree/SmartFileAdapterToSupportHAHadoop

[2016-07-19 00:21] ligadata-ramana opened #1330 "Kamanja upgrade from 1.2 to 1.5.0 failed when using sqlserver database."
It is failing to obtain a connection using apache collection pool package.

ERROR [main] - Message:Unable to create EvictionPolicy instance of type org.apache.commons.pool2.impl.DefaultEvictionPolicy
ERROR [main] - Message:Failed to connect to Database
ERROR [main] - Failed to Migrate
com.ligadata.Exceptions.StorageDMLException: Failed to execute select/insert/delete/update operation on Database

[2016-07-19 00:41] ligadata-william opened #1331 "When pushing HelloWorld data in JSON format using SimpleKafkaProducer, get NullPointerException if incorrect casing for field given"
This is was observed on branch 1.4.3

I attempted to push data into kafka 0.8.2.2 with SimpleKafkaProducer using the following command:
[code]
If I change 'id' to 'Id' (Note the capitalized 'I'), it works as expected. If I replace it with a non-existent field (such as 'blah'), it also manages to push the data (albeit in a non-partitioned way). See error below as well as attached Adapter bindings c

[2016-07-19 02:41] ligadata-dan commented on #1331
@ligadata-william

So looks like we default to NULL if we don't find and "id" (which then produces a non-partitioned output). So, everything but the "id" actually works... But then we specify the correct id, we are passing an BigInt in the file looks like.

{"com.ligadata.kamanja.samples.messages.msg1" : {"id":13,"name":"Palestine","score":2}}

Looks like we expect Strings only in the key values,

[2016-07-19 02:48] ligadata-pokuri commented on #1331
Dan,

At any cost we should never get any NULL pointer exceptions. And in this case "id":13, if you make .toString in scala most of the base types will return string values. Please take a look at the Null pointer exception.

[2016-07-19 02:49] ligadata-dan commented on #1331
@ligadata-william

Do we need to add a new parameter to the Took API to take in the Key Type?

What is the story for this?  Do we want to fix it in 1.6 or 1.7?  I assume we don't want to push it into 1.5.1.

[2016-07-19 02:51] ligadata-dan commented on #1331
@ligadata-pokuri

Do you mean this:
840 [WARN] AppInfo$: Can't read Kafka version from MANIFEST.MF. Possible cause: java.lang.NullPointerException

[2016-07-19 02:52] ligadata-dan commented on #1331
@ligadata-pokuri

What causes an outage here is a ClassCastException.

[2016-07-19 02:53] ligadata-pokuri commented on #1331
@ligadata-william , is it null pointer exception or casting exception?

[2016-07-19 03:34] ligadata-william opened #1339 "Json Ser/deser doesn't properly convert data passed in as an integer to its expected type, double"
I get the below error when pushing in data in JSON format with 0 passed in for a data field that is of type Double.

[code]

[2016-07-19 03:38] ligadata-pokuri commented on #1339
@ligadata-tulasi , we need to accept the following, if scala is accepting. Need to see whether we can fix it for 1.5.1 or later.

int, long, float => double.
int, long => float
int => long

[2016-07-19 03:50] ligadata-william opened #1340 "When pushing data in JSON format, Strings not passed in with quotation marks (") cause exception"
See error below when I send data in for a field defined as string but not encapsulated in quotation marks. These should be handled and converted to strings. This was observed in 1.4.3.
[code]

[2016-07-19 04:10] ligadata-william commented on #1331
Looks like it's actually a casting exception. The NullPointerException is just a warning that seems to occur whether the push is successful or not.

[2016-07-19 04:13] ligadata-dan commented on #1331
https://github.com/LigaData/Kamanja/pull/1341

Please verify

[2016-07-19 16:18] ligadata-yasser commented on #1326
Made tests to make sure functionality is still working with old configs.
everything looks fine

[2016-07-19 18:25] ligadata-ahmad commented on #1325
closing this as verified

[2016-07-19 18:25] #1325 closed

[2016-07-19 19:04] ligadata-ahmad commented on #1326
closing this as verified by Yasser and my self

[2016-07-19 19:04] #1326 closed

[2016-07-19 19:23] ligadata-william commented on #1329
I've verified this is working in both 1.4.3 and 1.5.1.

[2016-07-19 20:01] ligadata-william commented on #1329
Verified and closing.

[2016-07-19 20:01] #1329 closed

[2016-07-19 20:03] ligadata-william commented on #1331
Verified and closing.

[2016-07-19 20:03] #1331 closed

[2016-07-19 20:05] #1319 closed

[2016-07-19 21:50] ligadata-william opened #1345 "KamanjaManager doesn't externalize metrics when restarted inproc"
When shutting down and starting KamanjaManager back up inproc (in the same JVM), it doesn't call the private def validateAndExternalizeMetrics. This is because when restarting down, the KamanjaManager variable, isTimerStarted remains true, therefore the scheduled thread pool that calls the metricsCollector doesn't get started (see lines 948 through 950 of KamanjaManager.scala).

The fix appears to

[2016-07-19 21:50] ligadata-william commented on #1345
@ligadata-pokuri I've tested this locally and the fix I mention above works on my system.

[2016-07-19 21:55] ligadata-dan commented on #1345
@ligadata-pokuri @ligadata-william

This is in my code, I will fix this

[2016-07-19 22:07] ligadata-rich opened #1346 "JsonSerializer fail"
In JsonSerializer.scala there is a function that will serialize a metadata BaseElemDef called SerializeObjectToJson

I am using this to create a meaningful debug message when a Python model definition is created.

Here is the code for just the model def case:

      case o: ModelDef => {
        val outputMsgs =
          if (o.outputMsgs != null) {
            o.outputMsgs.toList
          } else

[2016-07-19 22:09] ligadata-rich commented on #1346
I am going to code around it for now... I don't see this getting fixed for 1.5.1 or 1.6 even if the repair is something more than a hack.  There are broad implications depending on how thoroughly this bug is fixed.

[2016-07-19 22:13] ligadata-pokuri commented on #1346
@ligadatahari , can we have small wrapper function to get the empty string if it is null like below and call that every where we have String serialization?

def StringValue(x: String): String = {
if (x == null) return ""
return x;
}

[2016-07-19 23:05] ligadata-dan commented on #1327
@ligadata-pokuri  @ligadata-william

After investigation, the way to reproduce this is by passing "False" into IGNOREFIRSTMESSAGE parameter on the StartProcessing call.  This is not being done anymore.  for now we should close this issue and reopen if we pass this additional information

[2016-07-19 23:05] #1327 closed

[2016-07-20 01:28] ligadata-dan opened #1348 "1.5 FileConsumer fails to create a producer object when no Security is required"
Need to default to a "Plaintext" if nothing is specified

[2016-07-20 01:38] ligadata-dan commented on #1348
https://github.com/LigaData/Kamanja/pull/1349

[2016-07-20 03:23] ligadata-pokuri commented on #1348
verified

[2016-07-20 03:23] #1348 closed

[2016-07-20 05:50] ligadata-pokuri commented on #1339
Fixed in branch 1.5.1.HierarichalMigrateIssue and merged into 1.5.1

[2016-07-20 06:19] ligadata-pokuri commented on #1339
@ligadata-william , can you verify this?

[2016-07-20 19:07] ligadata-william commented on #1339
Verified as fixed. Closing.

[2016-07-20 19:07] #1339 closed

[2016-07-20 23:33] #1330 closed

[2016-07-21 21:38] ligadata-shilpa commented on #1290
This fix isn't included in 1.5.0/1.5.1 .

[2016-07-21 21:41] ligadata-greg commented on #1290
Hello,
Pokuri confirmed this bugfix is not in the latest.  Please include it in the next release.

We will wait on this bugfix to record videos using Kamanja to run models from R or SAS (assuming there will be some small release with it in the next two weeks.)

[2016-07-21 22:05] #1274 closed

[2016-07-21 22:06] ligadata-dan commented on #1265
@ligadata-haitham

kafkaV10 branch has the code that will compile with 0.10 dependency.

[2016-07-21 22:08] ligadata-dan opened #1351 "Updating Tenant fails for SQL adapter."
Primary Data source in the tenant is expected to have "Location", but sql storage config does not have it, therefore fails to update.

[2016-07-22 18:27] ligadata-ahmad opened #1352 "SmartFileAdapter process files only on the leader node"
When running SmartFileAdapter with kamanja installed on cluster (3 nodes ) only the leader node is processing files .

[2016-07-22 18:33] ligadata-pokuri commented on #1352
Fixed in branch 1.5.1.1352. Will merge to new releases.

[2016-07-22 22:01] ligadata-dan commented on #1351
https://github.com/LigaData/Kamanja/pull/1353

[2016-07-24 23:58] ligadata-ahmad opened #1354 "failed to add scala model when importing two classes from one package in single import statement"
Compiler errors :

[code]
But it works fine if I change the import statement to be like this :
import com.abc.messages._
or
import com.abc.messages.MessageA
import com.abc.messages.MessageB

[2016-07-25 15:36] ligadata-william opened #1355 "Failure to write scala files when compiling messages/containers gives misleading error"
When adding messages or containers, if Metadata API fails to write a scala file to the workingdir, it simply states a FileNotFoundException like the one found at http://kamanja.org/forums/topic/failed-to-add-containermessage/

A FileNotFoundException should not be displayed to the user in APIResults but a clean error message indicating that Metadata API failed to write a file to the target directo

[2016-07-25 15:46] ligadata-william commented on #1290
If this fix isn't available, I'm removing the verify label.

[2016-07-26 18:15] ligadata-william commented on #1351
Verified as fixed.

[2016-07-26 18:15] #1351 closed

[2016-07-26 18:21] ligadata-william commented on #1311
Verified as fixed. Closing.

[2016-07-26 18:21] #1311 closed

[2016-07-26 21:29] ligadata-william opened #1357 "Storage Adapter metrics are difficult to read"
[code]
The "Metrics" section is difficult to read and contains some redundant information in them. For example the string:
[code]
contains Storage, which is already indicated in the "Type" section, and Storage_1, which is already in the "Name" section.

putOps, putObjs, and putBytes should be more expressive such as, "Operations Performed", "Objects Uploaded", and "Bytes Sent" respectively (dealer

[2016-07-26 21:31] ligadata-william commented on #1243
I've verified this as fixed. However, there are two issues related to the statistics, #1244 and #1357.

[2016-07-26 21:31] #1243 closed

[2016-07-27 00:21] ligadata-ahmad opened #1358 "issue when using multiple outputAdatper"
The issue is that when using multiple outputAdapter and one of them fail , the other adapter will not emit the message  to the destination

[2016-07-27 14:56] ligadata-krishna commented on #1358
we need to fix this asap possible as it is critical path in some customer deployment.

[2016-07-27 16:32] ligadata-pokuri commented on #1358
This is fixed in branch 1.5.1.1358

[2016-07-27 19:30] ligadata-william opened #1359 "trait ExecContext uses "final" which prevents Kamanja Automation from overriding"
In previous versions of Kamanja, I was able to implement my own def execute while monitoring kafka topics using the Kamanja's Kafka consumer. In 1.4+, def execute has been made "final", preventing an override from occuring and the trait's initial implementation is used instead.

This prevents me from properly retrieving messages from kafka in current form. In order for me to get around this, eithe

[2016-07-27 23:00] ligadata-haitham opened #1360 "Migration using SQL as storage : issue when schemanem is not the same as login user"
when doing Migration, and in SystemCatalog we have the "SchemaName" not the same as "User", following error will happen.
-  sample config
 "SystemCatalog": {
        "StoreType": "sqlserver",
        "hostname": "xxxxxxxxxxx",
	"SchemaName" : "database1",
        "user": "sa",
        "password": "pass123",
        "jarpaths": "/opt/jars",
        "jdbcJar": "sqljdbc4.jar"
}

- error stack trace:

[2016-07-28 22:00] ligadata-ramana commented on #1244
Issue #1357 address the issue of producing more readable statistics as a json string

[2016-07-29 01:46] ligadata-pokuri commented on #1313
Fixed in branch 1.5.1.1320

[2016-07-29 01:47] ligadata-pokuri commented on #1313
Shilpa can you please verify it in 1.5.2?

[2016-07-29 01:48] ligadata-pokuri commented on #1320
Fixed in branch 1.5.1.1320. Shilpa can you please verify it in 1.5.2?

[2016-07-29 17:48] ligadata-william commented on #1359
I took a look into this code. Looks like the implementation of trait ExecContext calls protected def executeMessage. I am able to override this so I'll close this issue. I'm running into some other issue where my own implementation of executeMessage isn't getting called and if I find it's a bug I'll open another issue later.

[2016-07-29 17:48] #1359 closed

[2016-07-29 18:23] ligadata-greg commented on #1313
Hello,
The SAS best format adapts to the number of needed numeric bytes per field,
not between numeric and character.
http://support.sas.com/documentation/cdl/en/lrdict/64316/HTML/default/viewer.htm#a000184495.htm

SAS character formats start with "$" as in
$ASCIIw.
$EBCDICw.     where "w" is a parameter for the number of bytes.

Yes, please verify.

On Thu, Jul 28, 2016 at 6:47 PM, ligadata-pokur

[2016-07-29 19:19] ligadata-dhaval commented on #1351
re-verified for 1.5.2-alpha

[2016-07-29 20:02] ligadata-dhaval commented on #1291
re-verified for the 1.5.2-alpha release

[2016-07-29 20:03] ligadata-dhaval commented on #1297
re-verified for the 1.5.2-alpha release

[2016-07-30 00:51] ligadata-ahmad opened #1375 "Failed to append to file in HDFS using HDFS output adapter"
exception (attached) from the adapter when pushing 2 messages sequentially to the engine  in a
very short time.

[Exceptions.txt](https://github.com/LigaData/Kamanja/files/391620/Exceptions.txt)

[2016-07-30 04:58] ligadata-dhaval commented on #1313
Verified by myself and Shilpa. Closing this issue.

[2016-07-30 04:58] #1313 closed

[2016-07-30 04:59] ligadata-dhaval commented on #1320
Verified by myself and Shilpa. Closing this issue.

[2016-07-30 04:59] #1320 closed

[2016-08-01 18:40] ligadata-sridhar commented on #1375
Fixed on 1.5.1-phoenix branch

[2016-08-01 18:41] ligadata-pokuri commented on #1358
This is in 1.5.2

[2016-08-01 18:43] ligadata-ahmad commented on #1358
verified.

[2016-08-01 18:43] #1358 closed

[2016-08-01 18:44] ligadata-pokuri commented on #1352
this is in 1.5.2

[2016-08-01 18:46] ligadata-ahmad commented on #1352
verified

[2016-08-01 18:46] #1352 closed

[2016-08-01 18:58] ligadata-pokuri commented on #1290
this branch is merged to 1.5.2

[2016-08-01 19:07] ligadata-pokuri commented on #1346
No customer is impacting with this. Marked as P3

[2016-08-01 19:15] ligadata-pokuri commented on #1293
In documentation we have to say wget is our PreReq for easyInstall script(s)

[2016-08-01 19:22] ligadata-ashish opened #1381 "Doc bug with SBT supported version"
http://kamanja.org/advanced-developers-guide-1-5/dev-env-1-5/

We only support SBT v0.13.7 not "+". Pleae highlight and make absolutely clear in the docs.

[2016-08-01 19:40] ligadata-ashish commented on #1200
Rejected after review with Pokuri. Kafka issue. If valid issue, please post on Kafka forum

[2016-08-01 19:40] #1200 closed

[2016-08-01 20:04] ligadata-pokuri commented on #1290
This was verified by tulasi

[2016-08-01 20:04] #1290 closed

[2016-08-01 23:20] ligadata-ahmad commented on #1375
verified

[2016-08-01 23:20] #1375 closed

[2016-08-02 06:50] ligadata-yasser commented on #1158
please verify. it is fixed on branch 1.5.2

[2016-08-02 16:51] ligadata-dan commented on #1265
Handled under branch

KafkaCompatibility
https://github.com/LigaData/Kamanja/tree/KafkaCompatibility

[2016-08-02 16:52] ligadata-dan commented on #1129
Hi Baraa

@ligadata-baraa

Doing some housecleaning.. do we still have issues open on this?

[2016-08-03 01:33] ligadata-tulasi commented on #1340
The issue is fixed in 1.5.2 release. If the input field data is numeric for type String then there is no need for quotes,  if it is alpha numeric then the value should be in quotes.

[2016-08-03 01:34] ligadata-tulasi commented on #1340
Please Verify

[2016-08-03 14:52] ligadata-alison commented on #1293
I have added it to 1.5.2.

On Mon, Aug 1, 2016 at 12:15 PM, ligadata-pokuri <notifications@github.com>
wrote:

[2016-08-03 17:00] ligadata-ramana opened #1383 "Investigate a possible issue with migrationstatusinformation"
An issue has been found when the customer migrated from 133 to 1.4 followed by 1.4 to 1.5
The error reported indicated a problem with recording status of upgrade in the table migrationstatusinformation. Reproduce the issue and fix it if it is a problem.

[2016-08-03 18:17] ligadata-dan commented on #653
Is this still an issue

[2016-08-03 18:52] ligadata-ahmad opened #1384 "primary key doesn't work as expected in containers"
When pushing CSV file using KVInit twice ,  same key is inserted twice.
Test container is attached as well as the csv file .

Also i see the following each time I run KVInit script :

[2016-08-03 18:54] ligadata-ahmad commented on #1384
[container.txt](https://github.com/LigaData/Kamanja/files/400180/container.txt)

[2016-08-04 01:34] ligadata-ahmad opened #1385 "Exception is thrown (com.jcraft.jsch.SftpException: No such file ) after starting the engine immediately."
Exception is thrown (com.jcraft.jsch.SftpException: No such file ) after starting the engine immediately.

Even that the file was already processed by the engine earlier successfully

process to reproduce :

1. start the engine with inputadapter configured to read form sftp server
2. copy a file into input dir
3. stop the engine after it complete processing  the file
4. start the engine again

[2016-08-04 01:51] ligadata-pokuri commented on #1385
Ahmed, did it process anything after that or just stopped?

[2016-08-04 03:25] ligadata-ahmad commented on #1385
It processed the next file normally .

[2016-08-04 07:37] ligadata-yasser commented on #1385
This is the same issue caused by engine sending last processed file from previous engine running.

[2016-08-04 16:40] ligadata-alison commented on #1381
Fixed on all Kamanja versions on old and new website.

[2016-08-04 16:49] ligadata-alison commented on #1321
Fixed all issues on all Kamanja versions on old and new websites

[2016-08-04 16:54] ligadata-alison commented on #1293
Added to 1.5.2 on old and new websites

[2016-08-04 16:54] ligadata-alison commented on #1199
Fixed on 1.5.x on old and new websites

[2016-08-04 16:55] ligadata-alison commented on #993
Fixed

[2016-08-04 16:55] #993 closed

[2016-08-04 17:37] ligadata-alison commented on #1381
Ashish - please verify

[2016-08-04 17:38] ligadata-alison commented on #1293
william, please verify

[2016-08-04 17:39] ligadata-alison commented on #1199
JP, please verify

[2016-08-04 17:46] ligadata-alison commented on #1306
Dhaval, please verify

[2016-08-04 17:47] ligadata-alison commented on #1321
Dhaval, please verify

[2016-08-04 17:51] ligadata-alison commented on #993
Bill cannot verify so this issue remains closed.

[2016-08-04 20:04] ligadata-alison commented on #623
Greg did not write an article on fuzzy sets. Closing this ticket. Mahesh can't verify.

[2016-08-04 20:04] #623 closed

[2016-08-04 20:11] ligadata-alison commented on #558
William, we have a Kafka Kerberos section now. Is this sufficient?

[2016-08-05 19:31] ligadata-alison commented on #558
William says the documentation is sufficient. Pokuri, please verify...

[2016-08-05 19:31] ligadata-alison commented on #558
Pokuri, please verify that I can close?

[2016-08-05 20:58] ligadata-pokuri commented on #558
@ligadata-william , close this if you are verified

[2016-08-08 17:25] ligadata-william opened #1389 "Models written in PMML/KPMML cannot have input message sets defined for it"
While Java and Scala models are capable of having sets of input messages defined for ingestion, PMML and KPMML currently do not have this capability. Java and Scala use a model configuration stored with metadata to perform this but PMML/KPMML don't have this.

P.S. I thought I had added this last week but I didn't see it in the issues list this morning.

[2016-08-10 21:29] ligadata-ahmad commented on #1384
this issue was fixed by adding a partition key and set persists flag to true in the container definition :

`"Persist": "true"
`
[code]

[2016-08-10 21:29] #1384 closed

[2016-08-11 01:44] ligadata-ahmad opened #1394 "primary key doesn't work as expected in message"
same key is inserted multiple times into storage

[2016-08-12 02:04] ligadata-ramana commented on #1383
Unable to reproduce this issue. But I have tested the following upgrade path

1.3.3(2.11) -> 1.4.0(2.11) -> 1.5.0(2.11)

[2016-08-12 02:09] ligadata-pokuri commented on #1394
Sample Message

{
  "Message": {
    "NameSpace": "com.abc.containers",
    "Name": "WindowAlertThresholds",
    "Version": "00.01.00",
    "Description": "WindowAlertThresholds",
    "Fixed": "true",
    "Persist": "true" ,
    "Fields": [
      {
        "Name": "windowSizeInMins",
        "Type": "System.int"
      },
      {
        "Name": "uniqueCallsThreshold",
        "Type": "System.int"

[2016-08-12 03:04] ligadata-pokuri commented on #1394
use this to extract message/container data

$KAMANJA_HOME/bin/ContainersUtility.sh --config $KAMANJA_HOME/config/Engine1Config.properties --containername "com.abc.containers.windowalertthresholds" --operation "select" --filter /tmp/filter.json --outputpath /tmp --serializer "com.ligadata.kamanja.serializer.csvserdeser" --serializeroptionsjson "{ \"alwaysQuoteFields\": false,\"fieldDelimiter\": \",

[2016-08-12 08:06] ligadata-pokuri commented on #1394
Integrated fix in branch 1.5.1-phoenix

[2016-08-12 08:06] ligadata-pokuri commented on #1394
ahmed can you verify the bug.

[2016-08-12 19:12] ligadata-ashish commented on #1120
@ligadata-dan could you pls provide a 2-3 line description of what the issue is, the impact if not fixed and how should it get fixed.

[2016-08-12 19:14] ligadata-pokuri commented on #1103
you can not have more than one message binding per adapter for same message.

[2016-08-12 19:15] ligadata-ashish commented on #1103
@ligadata-alison please review with Saleh and update documentation on intended design

[2016-08-12 19:16] ligadata-ashish commented on #1097
@JPCreedon where is this "typo" issue...in documentation or release notes. Trying to figure out who needs to fix it where.

[2016-08-12 19:22] ligadata-ashish commented on #1022
@ligadata-alison please sync with @ligadata-william to document all reserved words that CANNOT be used in models eg. SCALA reserved words

[2016-08-12 19:25] ligadata-ashish commented on #1010
@ligadata-alison We don't support "user defined functions" in the product at this point in time. @ligadata-dhaval please check the code to ensure that this functionality is disabled.

[2016-08-12 19:27] ligadata-ashish commented on #1009
@ligadata-dhaval Could you provide more details around the issue. How, where, when? Please update here before working on fix

[2016-08-12 19:27] ligadata-alison commented on #1022
we have a section:

http://kamanja.org/advanced-developers-guide-1-5/defining-messages-and-containers-1-5/input-messages-1-5/reserved-words-1-5/

with a list of all Scala reserved words. Is this ok?

On Fri, Aug 12, 2016 at 12:22 PM, ligadata-ashish <notifications@github.com>
wrote:

[2016-08-12 19:29] ligadata-ashish commented on #1006
@ligadata-dhaval please fix

[2016-08-12 19:29] ligadata-alison commented on #1010
What about macros and constants?

http://kamanja.org/advanced-developers-guide-1-5/models-1-5/kpmml-1-5/udfs-macros-constants-1-5/

On Fri, Aug 12, 2016 at 12:25 PM, ligadata-ashish <notifications@github.com>
wrote:

[2016-08-12 19:30] ligadata-ashish commented on #999
@ligadata-dhaval Good job raising it. We need to fix this and if you find more, please open issues.

[2016-08-12 19:31] ligadata-ashish commented on #998
@ligadata-dhaval please fix

[2016-08-12 19:33] ligadata-ashish commented on #994
No known usage in the field at this point. Seems a good to fix for consistency. Changing to P3

[2016-08-12 19:34] ligadata-ashish commented on #988
@ligadata-pokuri Please take a look. Seems a bad user experience for the customer

[2016-08-12 19:35] ligadata-william commented on #1022
The link in documentation www.scala–lang.org/docu/files/ ScalaReference.pdf is formatted incorrectly. There is a space before ScalaReference.pdf and the hyphen '-' between the words scala and lang is actually a combined double hypen '--'. These need to be fixed. Otherwise, including the table and a link to scala's documentation ought to be fine.

[2016-08-12 19:37] ligadata-william commented on #1022
As an additional note: in an ideal world, this would also be a code fix. When we first parse the message or container definition, we should check for ourselves whether there are any reserved words in there or not and generate an error message if any are found.

[2016-08-12 19:37] ligadata-ashish commented on #976
@ligadata-ramana please work on the fix

[2016-08-12 19:39] ligadata-ashish commented on #944
@ligadata-pokuri , @ligadata-ahmad please review and update

[2016-08-12 19:40] ligadata-alison commented on #1022
William, would you please give me the actual link to scala's documentation
so I can reformat correctly?

On Fri, Aug 12, 2016 at 12:35 PM, William Tarver <notifications@github.com>
wrote:

[2016-08-12 19:40] ligadata-ashish commented on #942
@ligadatahari Feature request - please review after Python is done and dusted.

[2016-08-12 19:42] ligadata-ashish commented on #868
@ligadata-dan Please fix

[2016-08-12 19:43] ligadata-alison commented on #1022
I got it - http://www.scala-lang.org/docu/files/ScalaReference.pdf

On Fri, Aug 12, 2016 at 12:40 PM, Alison Apel <alison@ligadata.com> wrote:

[2016-08-12 19:44] ligadata-ashish commented on #811
@ligadata-ramana A customer might look at this, please review and fix

[2016-08-12 19:47] ligadata-pokuri commented on #805
@ligadata-dhaval , please rebase your changes with dev and open new pull request to merge into 1.6.0 release

[2016-08-12 19:49] ligadata-ashish commented on #803
@ligadatahari please review and fix. Goal is consistency.

[2016-08-12 19:53] ligadata-alison commented on #1010
sorry - I meant - what about user-defined properties?

On Fri, Aug 12, 2016 at 12:29 PM, Alison Apel <alison@ligadata.com> wrote:

[2016-08-12 20:01] ligadata-pokuri commented on #683
For Delimited data, Message/Container type must be at first position and Partition key can be anywhere. From 1.4 on wards we don't even consider partition idx to push data. We simply take the partition key specified in Message/Container definition.

[2016-08-12 20:01] ligadata-pokuri commented on #683
@ligadata-william , @ligadata-dhaval , one of you please verify whether this is working as expected or not.

[2016-08-12 20:16] ligadata-dan commented on #1120
@ligadata-ashish

I think the issue here is that JTM model does not care about the container, but it is being recompiled.   The thought was that only models that depend on the recompiled container need to be recompiled.

We deemed it to be a low priority at the time.

[2016-08-12 20:24] ligadata-greg opened #1398 "GenerateMessage.sh creates message with no fields"
Hello,
SUMMARY:
When running GenerateMessage.sh using a *.csv data set, no errors are reported, but a JSON message is generated with NO fields.

DETAILS:
Before recording a Kamanja example video, I was going through myself to test and validate our doc, and Shilpa's doc on this specific example.    I am following this doc section:
http://kamanja.org/gen-msg-def-1-5/

and Shilpas "Doc_RunningPMMLMod

[2016-08-12 20:25] ligadata-greg commented on #1398
the generated file

`Gregs-MacBook-Pro:hmeq_R_demo gregmakowski$ ls -l
total 8
-rw-r--r--  1 gregmakowski  staff  195 Aug 11 16:27 message_20160811042736.json
Gregs-MacBook-Pro:hmeq_R_demo gregmakowski$
Gregs-MacBook-Pro:hmeq_R_demo gregmakowski$
Gregs-MacBook-Pro:hmeq_R_demo gregmakowski$ head *json
{
  "Message":{
    "NameSpace":"com.ligadata.kamanja",
    "Name":"testmessage",
    "Version":"0

[2016-08-12 20:27] ligadata-greg commented on #1398
[hmeq_prep3.txt](https://github.com/LigaData/Kamanja/files/416118/hmeq_prep3.txt)

[2016-08-12 20:28] ligadata-greg commented on #1398
[RUNNING PMML MODELS IN KAMANJA.pdf](https://github.com/LigaData/Kamanja/files/416119/RUNNING.PMML.MODELS.IN.KAMANJA.pdf)

[2016-08-12 20:30] ligadata-greg commented on #1398
This is a PMML generated by R, which reads the above *.txt file  (I normally save it as a *.csv, but github would not allow attaching of *.csv).

The PMML skips reading the first field, the key field, rec_ID.   The scored records output must exactly match the scored input records.

The attached file is a PMML file.  In order to attach it, I added the *.txt extension.

[hmeq_R_tree_m1.xml.txt](http

[2016-08-12 22:39] ligadata-william opened #1400 "The default cluster configuration file does not contain proper configuration for any version of kafka"
As of Kafka 1.5.3, in order to support backwards compatibility, cluster configuration requires a few changes for the input/output adapters that have not been updated properly in the cluster configuration that is packaged in the binaries.

[2016-08-12 22:42] ligadata-william opened #1401 "Kafka input adapters fail to start without any messages (ERROR or otherwise)"
When starting Kamanja, if the cluster configuration only contains the ExtDependencyLibs for the kafka input adapters and is missing the KamanjaInternalDeps and kafka-clients jar as described in http://kamanja.org/kafka-adapters-shipped/, then Kamanja continues to run and the adapters have not started.

If the adapters fail to start, Kamanja should fail with an error.

[2016-08-13 00:36] ligadata-ahmad commented on #1394
closing as verified .

[2016-08-13 00:36] #1394 closed

[2016-08-15 17:02] ligadata-william commented on #1400
@ligadata-dan I actually took 2 seconds to look in the config directory and realized there is a cluster configuraiton for each version of Kafka. We might want to simply remove the ClusterConfig.json in favor of these and require the user to pass in the kafka version instead.

[2016-08-15 17:24] ligadata-william commented on #1400
I'll close this and consider a different issue after thinking about how we should handle our configuration files.

[2016-08-15 17:24] #1400 closed

[2016-08-15 17:50] ligadata-william commented on #1340
verified as fixed.

[2016-08-15 17:50] #1340 closed

[2016-08-15 17:51] ligadata-william commented on #1321
@ligadata-dhaval, can you verify this?

[2016-08-15 17:52] ligadata-william commented on #1307
@ligadata-ramana has the code for this already been merged? I'm going to test on dev to see if it's no longer an issue.

[2016-08-15 19:05] ligadata-pokuri commented on #1307
@ligadata-william , Yes william this code is merged in 1.5.1. You can verify in 1.5.3 and close it

[2016-08-15 21:26] #1199 closed

[2016-08-15 21:27] JPCreedon commented on #1097
In the github description... another one is here:

"Passing Verion from Top build file to sub projects"

[2016-08-15 21:37] ligadata-pokuri commented on #1097
@JPCreedon , these are commits history. It is just description of the check-in. There is no documentation or code associated with these typos.

[2016-08-15 21:45] JPCreedon commented on #1097
I know, it was just a point to paying more attention when doing the check-in.

[2016-08-15 21:45] #1097 closed

[2016-08-18 22:08] ligadata-dhaval commented on #1321
Verified and closing this issue.

[2016-08-18 22:08] #1321 closed

[2016-08-19 18:20] ligadata-dhaval commented on #1010
Commented the higher level call to functions. Please find the below result:

Unexpected action! action=addfunction
Result: {
  "APIResults" : {
    "Status Code" : -1,
    "Function Name" : "StartMetadataAPI/route",
    "Result Data" : null,
    "Result Description" : "Unexpected action! action = addfunction"
  }
}

Also removed from help command.

Branch: github_1010

[2016-08-19 18:25] ligadata-dhaval commented on #1010
Pull request: 1405

https://github.com/LigaData/Kamanja/pull/1405

[2016-08-19 18:26] ligadata-dhaval commented on #1010
@ligadata-alison Could you please update the documentation accordingly.

[2016-08-19 18:29] ligadata-dhaval commented on #1009
@ligadata-ashish We are no more supporting user defined functions so might as well close this issue. I have already deprecated the function calls and made a pull request for it.

[2016-08-19 18:30] ligadata-alison commented on #1010
Hi Dhaval,
     Would you please take a look at the following page:

http://kamanja.org/advanced-developers-guide-1-5/models-1-5/kpmml-1-5/udfs-macros-constants-1-5/

and let me know what else is not currently supported?

thanks,
alison

On Fri, Aug 19, 2016 at 11:26 AM, Dhaval Kolapkar <notifications@github.com>
wrote:

[2016-08-19 18:30] ligadata-dhaval commented on #683
@ligadata-pokuri I will verify this.

[2016-08-19 19:06] ligadata-dhaval commented on #1010
I don't think there should be any changes. I can see for UDF doc says deprecated. That should be fine.

[2016-08-19 20:04] ligadata-alison commented on #1010
great - thank you Dhaval - I think we can close this issue - the
documentation is up-to-date

On Fri, Aug 19, 2016 at 12:06 PM, Dhaval Kolapkar <notifications@github.com>
wrote:

[2016-08-22 18:55] ligadata-alison opened #1406 "Write kvinit documentation"

[2016-08-23 20:17] ligadata-dhaval commented on #1009
@ligadata-pokuri @ligadata-william  Shall I close this issue as we are not supporting user defined functions?

[2016-08-24 21:34] ligadata-dhaval opened #1407 "StartMetadata catch exceptions not in order of their subclasses"
In StartMetadataAPI, the catch block has Throwable first, then Exceptions and then RuntimeException. The order should be RuntimeException, Exception and Throwable.

[2016-08-24 21:36] ligadata-dhaval commented on #1407
@ligadata-pokuri I think we should not be handling Runtime exception in the catch block?

[2016-08-24 23:43] ligadata-ramana commented on #976
Even though We have defined AuditRecord.actionTime as a String, The MetadataAPI.addAuditRecord populates Long value of Datetime as a String. So AuditRecord.actionTime is acutally a long value of Datetime when the audit record was created. Unable to reproduce NumberFormatException as long as we use our API functions addAuditRecord and getAuditRecord. Created a new Scala Test Component TestAuditAPIS

[2016-08-25 00:55] ligadata-ramana commented on #976
A pull request #1408 created.

[2016-08-25 05:40] ligadata-dhaval commented on #1407
Created a pull request #1410

[2016-08-25 05:41] ligadata-dhaval commented on #1177
No issues found. Closing this request.

[2016-08-25 05:41] #1177 closed

[2016-08-25 06:07] ligadata-dhaval commented on #1006
Created a pull request #1412

[2016-08-25 06:09] ligadata-dhaval commented on #1009
Closing this issue as we do not support user defined functions

[2016-08-25 06:09] #1009 closed

[2016-08-25 16:52] ligadata-william commented on #1407
Hey Pokuri,

I have created branch Berkley_1.5.3 based off tag v1.5.3 and and push the new branch into the repository. I have also merged the changes into the dev branch and the 1.6.0 branch.

I haven’t merged into master nor have I created any new tags. Let me know if this is something you want me to do as well.

-William

[2016-08-25 18:52] ligadata-dhaval opened #1413 "Kamanja does not check if the user defined message definition file is present for updateMessage"
Kamanja does not check if the user defined message definition file is present for updateMessage.

[2016-08-25 18:53] ligadata-dhaval commented on #1413
Resolving as a part of the branch github1036

[2016-08-25 23:24] ligadata-dhaval opened #1414 "If incorrect choice give while choosing the message to be removed arrayindexoutofbound exception"
Instead of invalid choice an exception of arrayindex out of bound is thrown while remove message

[2016-08-25 23:25] ligadata-dhaval commented on #1414
The code change will be a part of the git branch github1036

[2016-08-26 18:43] ligadata-sridhar opened #1416 "JTM compiler not generating Scala model correctly for grok match"
This is happening in flareJTMFixes branch.

Following Grok expression was given in the jtm model:
  "grok match": {
        "m1.data": "%{IPORHOST:clientip} %{USER:ident} %{USER:auth} \\[%{HTTPDATE:timestamp}\\] \"(?:%{WORD:verb} %{NOTSPACE:request}(?: HTTP/%{NUMBER:httpversion})?|%{DATA:rawrequest})\" %{NUMBER:response} (?:%{NUMBER:bytes}|-)"
      },

But below was generated in scala model (it i

[2016-08-26 22:14] ligadata-sridhar opened #1417 "JTM model fails to compile with %{COMMONAPACHELOG} grok match"
This is happening in flareJTMFixes branch.

JTM has the transformation defined as below:

  "transformations": {
    "archiveprocessing": {
      "dependsOn": [ ["m1"] ],
      "computes": {
      },
      "grok match": {
        "m1.data": "%{COMMONAPACHELOG}"
      },
      "outputs": {
        "o1": {
          "where":"$clientip != null && !$clientip.equals(\"testip\")",
          "mapping": {

[2016-08-27 17:58] ligadata-dhaval opened #1418 "PMML and Python models returns null is returned instead of meaningful message to the user."
For add PMML, Python and Jthyon, we are returning null instead of a string or APIResult. It says TO BE IMPLEMENTED.
Code: null /// FIXME : we will return null for now and complain with first failure.
Also, "PMML models are only ingested with command line arguments.. default directory selection is deprecated" Are we going to resolve it? as it does not match our standard practice.

[2016-08-28 12:37] ligadata-yousef commented on #1398
Hi Greg,

to generate a message from a file you should remove double quote from the name of field in file for example:

"rec_ID","BAD","TIN_IMO_REASON_DebtCon"    should be    rec_ID,BAD,TIN_IMO_REASON_DebtCon

you can pass _ and $ as special character in the name of field because Kamanja use field as variable in scala code so if there are any special characters except _ and $ kamanja will raise a

[2016-08-30 17:49] ligadata-dhaval commented on #1036
Completed the changes and testing it now.

[2016-08-30 18:29] ligadata-dhaval opened #1419 "No info and handling for tenantid as user choice"
1. There is no information about what we are selecting when no command line tenant id given.
2. If choice is out of bound, it is not handled. It gives an exception and APIResult is not related to the error.

[1]System

Enter your choice(If more than 1 choice, please use commas to seperate them):
2
 WARN [main] -
java.lang.ArrayIndexOutOfBoundsException: 1
       	at com.ligadata.MetadataAPI.Utilit

[2016-08-30 18:29] ligadata-dhaval commented on #1419
Solution will be a part of the branch github1036

[2016-08-30 18:41] ligadata-dhaval commented on #1419
This is for all metadata taking user input for tenantid

[2016-08-30 19:05] ligadata-dhaval opened #1420 "Jar upload missing location gives unhandled exception before the APIresult"
ERROR [main] - Failed to download the Jar of the object(com.ligadata.kamanja.samples.messages.msg1.000000000001000000's dep jar )
java.lang.NullPointerException
       	at java.io.File.<init>(File.java:277) ~[?:1.7.0_79]
       	at com.ligadata.MetadataAPI.MetadataAPIImpl$.DownloadJarFromDB(MetadataAPIImpl.scala:1310) [KamanjaInternalDeps_2.11-1.5.3.jar:1.5.3]
       	at com.ligadata.MetadataAPI.M

[2016-08-30 19:06] ligadata-dhaval commented on #1420
Change will be a part of branch github1036

[2016-08-31 19:52] ligadata-dhaval commented on #1419
Created a pull request #1423

[2016-08-31 19:53] ligadata-dhaval commented on #1414
Created a pull request #1423

[2016-08-31 19:54] ligadata-dhaval commented on #1413
Created a pull request #1423

[2016-08-31 19:55] ligadata-dhaval commented on #1036
Created a pull request #1423

[2016-08-31 19:57] #1420 closed

[2016-08-31 20:04] ligadata-dhaval commented on #999
Part of the pull request #1423

[2016-08-31 23:57] ligadata-dhaval commented on #998
Part of the pull request #1423

[2016-09-02 04:47] #1416 closed

[2016-09-02 04:54] ligadata-joerg commented on #1417
Please provide the complete JTM. JTM compiler is right - clientip is not provided in the snipped.

[2016-09-02 04:54] #1417 closed

[2016-09-06 23:38] ligadata-dhaval commented on #1159
Created a pull request #1428

[2016-09-07 04:49] ligadata-ramana commented on #1355
Created a pull request #1425

[2016-09-07 05:29] ligadata-ramana commented on #1303
created a pull request #1424

[2016-09-07 05:46] ligadata-ramana commented on #1398
Yousef is correct. After removing quotes around the fields in hmeq_prep3.txt, GenerateMessage.sh generated the following
{
  "Message":{
    "NameSpace":"com.ligadata.kamanja",
    "Name":"testmessage",
    "Version":"00.01.00",
    "Description":"",
    "Fixed":"true",
    "Persist":"false",
    "Fields":[{
      "Name":"rec_ID",
      "Type":"System.Int"
    },{
      "Name":"BAD",
      "Type":

[2016-09-07 17:14] ligadata-william opened #1429 "kamanja script not updated with guava-19 for the 2.10 version of the script"
On branch FC-37, the elasticsearch storage adapter requires guava-19.0 on the classpath for kamanja to start properly. This was done for Utils/Script/scala-2.11/kamanja but not for Utils/Script/scala-2.10/kamanja.

[2016-09-07 17:26] ligadata-haitham commented on #1429
fix is provided in the same branch.

[2016-09-07 18:18] ligadata-william commented on #1036
If MESSAGE_FILES_DIR is missing, if i run
[code]
rather than getting an API Result indicating the config parameter is missing, I am asked to choose a tenantId instead. After I select a tenantId I get the error I'm looking for but I should see the error before tenant selection.

[2016-09-07 18:21] ligadata-william commented on #1036
If I run
[code]
without MODEL_FILES_DIR specified, I am prompted to choose a tenant, if I choose a tenant, I get
[code]
instead of an API Result. kpmml, scala and java all give an api result.

[2016-09-07 18:24] ligadata-william commented on #1413
This is fixed but I won't close it until #1036 is fixed since they share a pull request.

[2016-09-07 18:25] ligadata-william commented on #1414
This is fixed but I won't close it until #1036 is fixed since they share a pull request.

[2016-09-07 18:25] ligadata-william commented on #1419
This is fixed but I won't close it until #1036 is fixed since they share a pull request.

[2016-09-07 19:03] ligadata-william commented on #1355
The compiler work directory is created when it doesn't exist and when it can't be created, there is a clear message indicating that there was a failure to create the directory. Verified as fixed.

[2016-09-07 19:03] #1355 closed

[2016-09-07 19:25] ligadata-william commented on #1407
Verified as fixed. Closing.

[2016-09-07 19:25] #1407 closed

[2016-09-07 20:07] ligadata-william commented on #1429
Verified as fixed. Closing.

[2016-09-07 20:07] #1429 closed

[2016-09-07 20:19] ligadata-william commented on #1398
I've confirmed this is the case. I believe it's standard to not include quotes in CSV headers as it is understood they are all text. However, it wouldn't hurt to document this. I'll close this issue as verified and open a doc bug related to this.

[2016-09-07 20:19] #1398 closed

[2016-09-07 20:21] ligadata-william opened #1431 "Documentation required for GenerateMessage.sh to indicate quotation marks should be excluded from file header"
When running GenerateMessage.sh, if the --inputfile contains headers with quotation marks (") around each column name, fields will not be generated. Documentation is needed to indicate quotation marks should not be a part of the headers.

[2016-09-07 20:21] ligadata-william commented on #1431
This is related to #1398

[2016-09-07 20:21] ligadata-william commented on #1398
#1431 has been opened for documentation purposes.

[2016-09-07 20:23] ligadata-william commented on #1381
This issue cannot be verified as the link is now broken. @ligadata-alison can you please update with the proper link?

[2016-09-07 20:29] ligadata-alison commented on #1381
Hi William,
     The new link is

http://kamanja.org/learn/advanced-developers-guide/preparing-the-development-environment/

Please verify.
thanks,
alison

On Wed, Sep 7, 2016 at 1:23 PM, William Tarver <notifications@github.com>
wrote:

[2016-09-07 20:53] ligadata-william commented on #1381
Verified as fixed. Closing.

[2016-09-07 20:53] #1381 closed

[2016-09-07 23:28] ligadata-william opened #1432 "When using Elasticsearch with a non-default cluster name, metadata API and kamanja are unable to connect"
In my elasticsearch.yml, I set cluster.name: elasticsearch_william and when attempting to upload cluster config, it failed to connect. When I changed it back to the default "elasticsearch", I was able to connect.

We need to allow an elasticsearch cluster name to be passed in via configuration.

[2016-09-08 00:52] ligadata-dhaval commented on #1036
For PMML, the code is not implemented to return any results. In the code it shows to be implemented. I have created an issue for PMML and assigned it to Hari.

[2016-09-08 01:35] ligadata-haitham commented on #1432
an optional key can now be added to DataStore called "clusterName".
the default value is "elasticsearch" if not specified otherwise.
changes r in FC-37 branch.

[2016-09-08 05:06] ligadata-ramana commented on #811
Two weeks ago, pumping large amount of data into kafka queues caused few issues due to kafka-queue getting filled up too quickly. Lack of resources in our simple laptops may be part of the issue. We addressed the issue by minimizing retry interval and data is pumped without interruptions and fairly efficiently. Couldn't reproduce the issue in a test where I used Medical Model and 108000 messages d

[2016-09-08 07:09] ligadata-ramana commented on #811
Unable to reproduce the issue; I have done the following tests

Using MedicalApp,
Uploaded a file with 108k messages and 32 unique users
Uploaded a file with 500k messages and 32 unique users

Created a test spec Storage/Cassandra/src/test/scala/SimulateConcurrentUpdates.scala
and ran a variety of tests where 16 threads were doing both single-row inserts as well batch inserts
concurrently. Still u

[2016-09-08 07:11] ligadata-ramana commented on #811
William, Please try to reproduce the problem in your environment in 1.6.0.

[2016-09-08 20:52] ligadata-william commented on #1036
I'll close this issue then. @ligadata-dhaval, can you comment the issue number?

[2016-09-08 20:52] #1036 closed

[2016-09-08 20:53] ligadata-william commented on #1419
Verified as fixed. Closing.

[2016-09-08 20:53] #1419 closed

[2016-09-08 20:53] ligadata-william commented on #1414
Verified as fixed, closing.

[2016-09-08 20:53] #1414 closed

[2016-09-08 20:53] ligadata-william commented on #1413
Verified as fixed. Closing.

[2016-09-08 20:53] #1413 closed

[2016-09-08 21:21] ligadata-dhaval commented on #1036
Issue no is #1418 for pmml returning null.

[2016-09-08 22:16] ligadata-william commented on #1303
Verified as fixed. Closing.

[2016-09-08 22:16] #1303 closed

[2016-09-08 22:20] ligadata-william commented on #1293
@ligadata-alison I don't see a mention of wget as a pre-requisite. I've looked at both http://kamanja.org/wiki/installation-steps-for-advanced-developers-guide/ and http://kamanja.org/wiki/run-easyinstallkamanja-sh/ and I'm unable to find it.

Can you please send me the link where that documentation exists?

[2016-09-08 22:20] ligadata-william commented on #1211
Verified as fixed. Closing.

[2016-09-08 22:20] #1211 closed

[2016-09-08 22:38] ligadata-alison commented on #1293
http://kamanja.org/learn/advanced-developers-guide/preparing-the-development-environment/

On Thu, Sep 8, 2016 at 3:20 PM, William Tarver <notifications@github.com>
wrote:

[2016-09-09 17:09] ligadata-william commented on #1293
Verified as fixed. Closing.

[2016-09-09 17:09] #1293 closed

[2016-09-09 18:03] ligadata-william commented on #1159
Verified as fixed. Closing.

[2016-09-09 18:03] #1159 closed

[2016-09-09 18:14] ligadata-william commented on #1120
I'm seeing two issues here now. One, when I update a container (in the medical app for example), the JTM is no longer being recompiled (which is good) but the copdriskassessment model, which is dependent on it, isn't being recompiled (which is bad).

Another issue is that updating a message (such as hl7) is causing the COPDDataIngest JTM to be recompiled (BAD) instead of its actual dependent model

[2016-09-09 18:45] ligadata-william commented on #1010
Functions operations are confirmed removed in branch 1.6.0. Closing as this issue is no longer valid.

[2016-09-09 18:45] #1010 closed

[2016-09-09 19:00] ligadata-alison commented on #1431
Hi William,
      Please verify:

http://kamanja.org/learn/tools-guide/tool-to-generate-a-message-definition/

thanks,
alison

[2016-09-09 20:08] ligadata-william commented on #1265
Verified fixed. Closing.

[2016-09-09 20:08] #1265 closed

[2016-09-09 20:18] ligadata-william commented on #723
Verified this is fixed. Closing.

[2016-09-09 20:18] #723 closed

[2016-09-09 20:19] ligadata-william commented on #683
I've verified this. Closing.

[2016-09-09 20:19] #683 closed

[2016-09-09 20:21] ligadata-william commented on #1244
Closing this as a duplicate

[2016-09-09 20:21] #1244 closed

[2016-09-09 20:24] ligadata-william opened #1433 "Updating a container in medical sample fails to recompile copdriskassessment model"
When I update a container (in the medical app for example), the JTM is not being recompiled (which is good) but the copdriskassessment model, which is dependent on it, isn't being recompiled (which is bad).

[2016-09-09 20:25] ligadata-william opened #1434 "In the medical app, when updating a message such as HL7,Beneficiary,etc. we are recompiling the JTM instead of copdriskassessment"
Updating a message (such as hl7) is causing the COPDDataIngest JTM to be recompiled (BAD) instead of its actual dependent model copdriskassessment.

[2016-09-09 20:26] ligadata-william commented on #1120
Issues #1433 & #1434 have been opened to track the issues found in my previous comment.

[2016-09-09 20:30] ligadata-william commented on #1434
Observed also is updating a the hello world message definition does not recompile it's model either.

[2016-09-09 20:30] ligadata-william commented on #998
Testing this is blocked by #1434

[2016-09-09 20:33] ligadata-william commented on #1434
This is a blocker.

[2016-09-09 20:33] ligadata-william commented on #1433
This is a blocker.

[2016-09-09 23:06] ligadata-william commented on #1432
Verified as fixed. Closing.

[2016-09-09 23:06] #1432 closed

[2016-09-11 07:13] ligadatahari opened #1435 "Kamanja update python model enters OUTMESSAGE queue incorrectly"
here are the add / update commands
kamanja add model python $KAMANJA_HOME/input/SampleApplications/metadata/model/subtract.py MODELNAME subtract.SubtractTuple MESSAGENAME org.kamanja.arithmetic.arithmeticMsg OUTMESSAGE org.kamanja.arithmetic.arithmeticOutMsg TENANTID tenant1 MODELVERSION 0.00001
kamanja add model python $KAMANJA_HOME/input/SampleApplications/metadata/model/add.py MODELNAME add.Add

[2016-09-11 19:08] ligadata-ramana commented on #1434
A pull request #1436 is created

[2016-09-11 19:09] ligadata-ramana commented on #1433
A pull request #1436 created.

[2016-09-12 17:49] ligadata-william commented on #1434
hl7 is listed under MessageAndContainers and is therefore a dependency. InputTypesSets should not be the sole definer of dependency on a type. The COPDRiskAssessment model still requires knowledge of hl7 and if the model is not recompiled with the proper jar after update, errors will occur in the model.

Conversely, COPDDataIngest lists none of the messages as dependencies, yet it is the one recom

[2016-09-12 22:45] ligadata-william commented on #1431
Verified as fixed. Closing.

[2016-09-12 22:45] #1431 closed

[2016-09-12 22:52] ligadata-william commented on #1307
Verified as fixed. Closing.

[2016-09-12 22:52] #1307 closed

[2016-09-12 22:53] ligadata-william commented on #1306
@ligadata-dhaval what is the status on this issue?

[2016-09-12 22:55] ligadata-william commented on #1182
@ligadata-pokuri is this something we're planning on dealing with? We can either leave it open without a verify label or just close it as will-not-fix.

[2016-09-12 22:56] ligadata-william commented on #1174
@ligadata-ramana this is only specific to 1.5.x, correct?

[2016-09-12 22:59] ligadata-william opened #1437 "kamanja.org does not have a proper download link"
The download links currently redirect the user to the github page Kamanja is on. However, the releases there only have source code downloads and not binary downloads. The old download links to amazon S3 storage should be made available.

[2016-09-12 23:01] ligadata-william commented on #1437
Just to add clarity, the user can access the downloads through the release notes but not through the home page of kamanja.org which contains 2 download links (both of which redirect to different parts of the Kamanja github page).
Our download links need to take the user to a page where the user may select their version to download and download it directly from our website.

[2016-09-12 23:02] ligadata-william commented on #1129
@ligadata-baraa @ligadata-dan this has been in verify for over 2 months. Has this been verified by anyone?

[2016-09-12 23:03] ligadata-william commented on #1103
@ligadata-alison @ligadata-saleh this has been in verify for a month. Has this been verified?

[2016-09-12 23:37] ligadata-william commented on #1006
Verified as fixed. Closing.

[2016-09-12 23:37] #1006 closed

[2016-09-12 23:40] ligadata-william commented on #1103
@ligadata-saleh @ligadata-pokuri I've tested this and as far as I can see, we are still allowing the same adapter to have two bindings associated with it, causing duplicate output.

[2016-09-13 00:02] ligadata-william commented on #977
Verified as fixed. Closing.

[2016-09-13 00:02] #977 closed

[2016-09-13 00:03] ligadata-william commented on #946
Verified as fixed. Closing.

[2016-09-13 00:03] #946 closed

[2016-09-13 00:04] ligadata-william commented on #870
Verified as fixed. closing.

[2016-09-13 00:04] #870 closed

[2016-09-13 00:14] ligadata-ramana commented on #1434
Fixed the issue. Please use the same pull request #1436 (branch Issue1434) to verify the fix

[2016-09-13 11:47] ligadata-william commented on #1434
Verified as fixed. Closing.

[2016-09-13 11:47] #1434 closed

[2016-09-13 11:48] ligadata-william commented on #1433
Verified as fixed. Closing.

[2016-09-13 11:48] #1433 closed

[2016-09-13 12:29] ligadata-william commented on #998
Verified as fixed. Closing.

[2016-09-13 12:29] #998 closed

[2016-09-13 12:29] ligadata-william commented on #999
Verified as fixed. Closing.

[2016-09-13 12:29] #999 closed

[2016-09-13 16:16] ligadata-ramana commented on #1174
I have incorporated all those changes I have done in 1.5.x into 1.6.0. Please use the pull request #1438 to test 1.5.x to 1.6.0 upgrade.

[2016-09-13 17:35] ligadata-william commented on #1174
This feature request is specific to micro version upgrades. So the user should be able to upgrade from 1.4.1 to 1.4.2 or 1.5.2 to 1.5.3 for example.

[2016-09-13 17:41] DhavalKolapkar commented on #1306
@ligadata-alison I am not able to find cluster install on the new kamanja site. http://kamanja.org/learn/advanced-developers-guide. Also there is no search option, so couldn't try out that option. Could you share the link of the page, where you made the changes?

Thank you.

[2016-09-13 17:56] ligadata-william commented on #1158
Verified fixed. Closing.

[2016-09-13 17:56] #1158 closed

[2016-09-13 18:08] ligadata-alison commented on #1306
Hi Dhaval,
      I'll talk with Ashish about a search option - it is so important!
Here is the page:

http://kamanja.org/learn/multi-node-installation-guide/

Please take a look at the left for the 3 sections.
thanks,
alison

On Tue, Sep 13, 2016 at 10:41 AM, Dhaval Kolapkar <notifications@github.com>
wrote:

[2016-09-13 19:17] ligadata-alison commented on #1306
Hi Dhaval,
    I have added a note in step 4 of cluster install. If it is ok, please verify and close the bug.
thanks,
alison

[2016-09-13 19:19] ligadata-dhaval commented on #1306
Thank you Alison. Verified and closing it.

[2016-09-13 19:19] #1306 closed

[2016-09-13 23:43] ligadata-william commented on #895
Verified fixed. Closing.

[2016-09-13 23:43] #895 closed

[2016-09-13 23:45] ligadata-william commented on #894
Verified as fixed. Closing.

[2016-09-13 23:45] #894 closed

[2016-09-14 15:39] ligadata-ramana commented on #1260
Unable to reproduce the issue. Also checked with Dan to make sure I am not missing in scenario. Closing the ticket as a non-issue for now

[2016-09-14 15:39] #1260 closed

[2016-09-14 16:43] ligadata-william commented on #976
I'm currently unable to verify this using the unit test. There seems to be an issue with the setup for the MetadataAPI tests. See #1408 for details.

I'll take a quick look and see if I can fix it in short order.

[2016-09-14 17:05] ligadata-william commented on #873
Verified fixed. Closing.

[2016-09-14 17:05] #873 closed

[2016-09-14 17:24] ligadata-ramana commented on #1120
Both 1433 and 1434 are verified and closed. I can close this ticket.

[2016-09-14 17:24] #1120 closed

[2016-09-14 17:30] ligadata-ramana commented on #1182
When we upgrade at the same patch level, we don't need make any changes to metadata objects(models, containers, messages) or data persisted for containers or messages while data is  flowing through the engine. However, cluster config need to be updated because we rename the fat jars based on kamanja version with each kamanja release.  This issue is addressed in 1.6.0 as part of #1174.  I am closin

[2016-09-14 17:30] #1182 closed

[2016-09-14 17:34] ligadata-ramana commented on #1174
Had a skype chat with william regarding his queries. William going to verify 1.5.3 to 1.6.0 upgrade whenever he is freed up.

[2016-09-14 17:59] ligadata-william commented on #811
Running into an issue connecting to cassandra related to an incompatible guava version that we have. I'll need to talk to @ligadata-pokuri about this. I think @ligadata-haitham faces a similar issue for elasticsearch.

[2016-09-14 18:01] ligadata-william commented on #813
Verified as fixed. Closing.

[2016-09-14 18:01] #813 closed

[2016-09-14 20:32] ligadata-alison commented on #1406
Hi William,
      Pokuri suggested you might be a good person to create information on kvinit.
thanks,
alison

[2016-09-14 22:02] ligadata-william commented on #811
I'm unable to reproduce this on 1.6.0. Closing as fixed.

[2016-09-14 22:02] #811 closed

[2016-09-14 22:06] ligadata-william commented on #724
I've verified this as fixed. Closing.

[2016-09-14 22:06] #724 closed

[2016-09-15 00:12] ligadata-dhaval commented on #1418
Created a pull request #1439

[2016-09-15 17:19] ligadata-william opened #1441 "GenerateModels/jtm/build.sbt has library dependencies; These need to be in one of the ExtDependencyLibs projects"
As the title states, all our project dependencies are in either ExtDependencyLibs or ExtDependencyLibs2. The libraryDependencies need to be moved from GenerateModels/jtm/build.sbt to one of those two projects.

GenerateModels/jtm needs to then have a dependsOn(ExtDependencyLibs % "provided", ExtDependencyLibs2 % "provided")

[2016-09-15 17:21] ligadata-william commented on #1441
This was seen in branch 1.6.0

[2016-09-15 21:44] ligadata-dhaval commented on #805
Created a pull request, #1442

[2016-09-16 07:34] ligadata-ramana commented on #976
A new pull request #1444 has been created. The issues related to MetadataAPI Unit Test specs are addressed.

[2016-09-19 22:57] ligadata-william opened #1445 "After restarting the engine after adding a python model, NullPointerException appears trying to download the model's jar"
ERROR [pool-4-thread-1] - Failed to download the Jar of the object(com.ligadata.python.samples.models.generatecustomerid.000000000000000001's dep jar )
java.lang.NullPointerException
	at java.io.File.<init>(File.java:277) ~[?:1.8.0_92]
	at com.ligadata.MetadataAPI.MetadataAPIImpl$.DownloadJarFromDB(MetadataAPIImpl.scala:1310) [KamanjaInternalDeps_2.11-1.6.0.jar:1.6.0]
	at com.ligadata.MetadataAPI.

[2016-09-19 23:10] ligadata-william commented on #1445
This same error also occurs every time I upload new metadata while the engine is running. Specifically, it fails to download the python model's jar every time I add any other metadata, regardless of that metadata type.

[2016-09-20 00:09] ligadatahari commented on #1445
cannot duplicate, sat with WIlliam and found it was permission issue

On Mon, Sep 19, 2016 at 3:57 PM, William Tarver <notifications@github.com>
wrote:

--
Hari (harane Ramasamy)
LigaData

[2016-09-20 00:10] ligadatahari commented on #1445
Sat with William found this as a permission issue , assigning back to William

[2016-09-20 00:27] ligadata-william commented on #1445
This was a permissions issue. Closing.

[2016-09-20 00:27] #1445 closed

[2016-09-20 17:08] ligadata-william opened #1446 "When running any kamanja commands or starting kamanja server, No such file or directory error appears"
As shown below, whenever a kamanja command or the kamanja server is started, an error appears indicating some file does not exist. This should never appear as it can be confusing for the user. Observed in branch 1.6.0.435
[code]

[2016-09-20 17:43] ligadata-william opened #1447 "kamanja help command does not contain usage for adding a python model"
As the title states, there isn't any help/usage info for adding a python model. Observed in 1.6.0.435.

[2016-09-20 22:12] ligadata-dhaval opened #1448 "Kamanja compilation fails due to FactoriesOfModelInstanceFactory variable missing"
trunk/FactoriesOfModelInstanceFactory/PythonFactoryOfModelInstanceFactory/src/main/scala/com/ligadata/python/PythonFactoryOfModelInstanceFactory.scala:583: not found: value params
[error]        	      params("PartitionId").toString)

[2016-09-20 22:26] ligadata-dhaval commented on #1448
Branch issue resolved

[2016-09-20 22:26] #1448 closed

[2016-09-21 04:57] ligadatahari commented on #1447
fixed

[2016-09-21 05:24] ligadatahari commented on #1446
Cannot Reproduce, William can u help reprduce please. may be it is mac environment. I cannot reproduce it in centos

[2016-09-21 18:14] ligadata-william commented on #1447
Verified fixed. Closing.

[2016-09-21 18:14] #1447 closed

[2016-09-21 23:37] ligadata-dhaval opened #1449 "Cluster installed Kamanja fails to run due to missing Python config"
Python config is not added in the Cluster configs. Due to this the nodes on the cluster do not have it. Due to this the messages are not getting added in the datastore due to a null pointer exception:
com.ligadata.MetadataAPI.MetadataAPIGlobalLogger$ [main] - DEBUG -
java.lang.NullPointerException
        at java.util.Hashtable.put(Hashtable.java:459) ~[?:1.8.0_101]
        at java.util.Properties

[2016-09-22 00:27] ligadata-dhaval opened #1450 "PushSampleDataToKafka_HelloWorld does not take user input"
The script does not take user input but has a line of code:
echo "User selected: $INPUTFILE"
It is not used anywhere. Not sure if this should allow users to enter a file. If not, this line can be removed.

[2016-09-22 06:34] ligadatahari commented on #1449
Fixed

[2016-09-22 17:06] ligadata-william commented on #1435
@ligadatahari @ligadata-tulasi This was opened a while ago. If this has been fixed, please add the verify tag and we can verify things.

[2016-09-22 19:08] ligadata-dhaval commented on #1449
Verified for a single instance of Kamanja. Need to verify for Cluster Install.

[2016-09-22 20:22] ligadata-dhaval commented on #1450
I am unable to load data into kafka (cluster's node1 has kafka) using the push data script. Script does not give any error:
[root@node1 bin]# bash PushSampleDataToKafka_HelloWorld.sh .10
User selected:
Running kafka client version 0.10
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/tmp/programs/Kamanja_1.6.0_20160922_145345/lib/system/ExtDependencyLibs2_2.11

[2016-09-22 20:22] ligadata-dhaval commented on #1450
Workaround: Push data manually.

[2016-09-23 00:42] ligadata-dhaval opened #1451 "Error msg is wrong when adding adapter message binding twice"
Instead of config already present the error message in API Result is:
java.lang.RuntimeException: Already found adapter bindings for this message on this adapter. String:com.ligadata.kamanja.metadata.AdapterMessageBinding@44cffc25
       	at com.ligadata.MetadataAPI.AdapterMessageBindingUtils$.SemanticChecks(AdapterMessageBindingUtils.scala:485) ~[KamanjaInternalDeps_2.11-1.6.0.jar:1.6.0]

[2016-09-23 00:43] ligadata-dhaval commented on #1450
PushSampleData is working as expected. There was an issue from my side. However, there is still not way to input data file. The variable $INPUTFILE can be removed, if not needed.

[2016-09-23 00:58] ligadata-dhaval opened #1452 "PushSampleDataToKafka_Python missing"
There is no script to Push data for Python sample applications. As there are multiple applications, a script with input file param would be helpful, so we can give the input files to be added.

[2016-09-23 04:49] ligadatahari commented on #1452
Dhaval

I gave this yesterday to you

There are three scripts

   1. Python_Simple.sh (load simple models along with messages, bidnings)
   2. Python_Tensor.sh (Tensor flow example but u need to install theano
   for this)
   3. Python_Reg.sh (Logistic Multiple Regression example)

You are two script to load data

   - PushSimpleData.sh for 1 and 2
   - PushHmeqData.sh for 3

Can help in your test

[2016-09-23 18:09] ligadata-dhaval commented on #1452
Closing this issue.

[2016-09-23 18:09] #1452 closed

[2016-09-23 20:55] ligadata-dhaval commented on #1418
Just to make a note: Discussed with Hari on this and as informed, returning the messages which were logged as  debug or error as APIResult now. @ligadata-tulasi and @ligadatahari, please could you check if 'PMML models are only ingested with command line arguments' needs to be fixed.

[2016-09-23 20:56] ligadata-william commented on #1149
Repro Steps:
1. Add Medical Application (bash {KamanjaInstall}/input/SampleApplications/bin/MedicalApp.sh)
2. Add Hello World Application (bash {KamanjaInstall}/input/SampleApplications/bin/HelloWorldApp.sh)
3. Run get all models (bash {KamanjaInstall}/bin/kamanja get all models)

[2016-09-23 21:39] ligadata-dhaval opened #1453 "Cluster configs in cluster install do not have generic paths"
For ClusterConfig_kafka_v(8 | 9 | 10).json, some of the paths are not generic paths.
1.   "Location": "/media/home2/installKamanja160/Kamanja-1.6.0_2.11/storage/syscatalog",
2."JarPaths": [
            "/media/home2/installKamanja160/Kamanja-1.6.0_2.11/lib/system",
            "/media/home2/installKamanja160/Kamanja-1.6.0_2.11/lib/application"
          ]
3. "Scala_home": "/home/vmandava/scala-2.1

[2016-09-23 22:03] ligadata-dhaval opened #1454 "Divide python model fails to compile"
When adding divide.py, it fails to compile:
DEBUG [main] - python file cleanup of /tmp/programs/Kamanja/python/tmp/divide.py following compile = 0
ERROR [main] - The supplied python text failed to compile... model name = DivideTuple... model catalog fails
Result: {
  "APIResults" : {
    "Status Code" : -1,
    "Function Name" : "AddModel",
    "Result Data" : null,
    "Result Description" : "Fai

[2016-09-23 22:29] ligadata-dhaval opened #1455 "Create hostname and port inputs to create queues and watch queues."
Even localhost and port would be easier in case of cluster install.

[2016-09-23 22:49] ligadatahari commented on #1454
verify

[2016-09-23 23:02] ligadata-dhaval opened #1456 "Kamanja Engine fails to start due to classpath error related to loaninput"
Kamanja engine fails to start due to classpath issue:
  ERROR [main] - Failed to load Validate/Input Adapter loaninput with class com.ligadata.InputAdapters.KamanjaKafkaConsumer$
java.lang.ClassNotFoundException: com.ligadata.InputAdapters.KamanjaKafkaConsumer$
              at java.net.URLClassLoader.findClass(URLClassLoader.java:381) ~[?:1.8.0_101]
              at java.lang.ClassLoader.loadClas

[2016-09-23 23:08] ligadata-dhaval commented on #1454
Verified and closing.

[2016-09-23 23:08] #1454 closed

[2016-09-23 23:15] ligadatahari commented on #1456
fixed

[2016-09-24 05:41] ligadata-ramana commented on #1453
Used the same branch update160Issues for the fix.

[2016-09-26 17:10] ligadata-dhaval commented on #1456
Verified and closing.

[2016-09-26 17:10] #1456 closed

[2016-09-26 17:10] ligadata-dhaval commented on #1449
Verifed with cluster install as well.

[2016-09-26 17:10] #1449 closed

[2016-09-26 18:52] ligadata-dhaval opened #1457 "Push Sample data for python does not take into consideration the kafka versions"
Kafka broker versions are not considered while pushing data for sample applications.

[2016-09-27 00:07] ligadata-dhaval opened #1458 "Python not found condition not handled"
Kamanja is looking for Python at a default location and when not found it gives the error:
ERROR [pool-19-thread-8] - Failed to execute message
java.io.IOException: Cannot run program "/usr/local/bin/python": error=2, No such file or directory
       	at java.lang.ProcessBuilder.start(ProcessBuilder.java:1048) ~[?:1.8.0_101]
       	at com.ligadata.python.PyProcess.run(PyProcess.scala:98) ~[Kamanj

[2016-09-27 22:48] ligadatahari commented on #1458
fixed

[2016-09-27 22:49] ligadatahari commented on #1457
fixed

[2016-09-29 00:50] ligadatahari opened #1460 "rpm issues"
1) Helpful messages like
     Congratulations - Kamanja .. version is installed, please set KAMANJA_HOME to <Kamanja Instlal location /usr/Kamanja<version>> , brief  features display on Kamanja Version installed. Also inform user to /usr/kamanja/bin to PATH otherwise, the system will not find kamanja or worse will execute the kamanja found in the path and not the installed kamanja.
2) ClusterConfi

[2016-09-29 01:41] ligadata-dhaval commented on #1460
Hi Hari,
As discussed, for point 2, cluster config does not need SetPaths.sh per say. We usually run it as a part of Kamanja. This is documented as a part of Kamanja installation process already on the web site to run SetPaths.sh. Not sure why we should run it twice.

[2016-09-29 01:43] ligadata-dhaval commented on #1460
Also, were you on 1.5.2 when you ran Hello World? Was it a default db or a custom one? Was it a non-sudo command? Could you tell me the exact steps you followed?

[2016-09-29 01:59] ligadatahari commented on #1460
After u install using rpm

I did the following in linux
1) sudo chown -R  cloudera /usr/Kamanja_1.5.2..../
2) sudo chgrp -R cloudera /usr/Kamanja-1.5.2...../
3) repeated 1 and 2 for /usr/kamanja
4) cd  /usr/kamanja/input/SampleApplication/bin
5) ./HellowWorldApp.sh
6) kamanja start
7) PushSampleKafka_hello..sh
8) then I did rpm -e ......

On Wed, Sep 28, 2016 at 6:43 PM, Dhaval Kolapkar <notificat

[2016-09-29 02:10] ligadata-dhaval commented on #1460
I am unable to replicate the issue. It is workign perfectly fine for me.
 WARN [Curator-PathChildrenCache-0] - Partition Distribution: {"action":"distribute","adaptermaxpartitions":[{"Adap":"{\"Name\" : \"testin_1\"}","MaxParts":1},{"Adap":"{\"Name\" : \"financeinput\"}","MaxParts":1},{"Adap":"{\"Name\" : \"helloworldinput\"}","MaxParts":1},{"Adap":"{\"Name\" : \"medicalinput\"}","MaxParts":1},{"A

[2016-09-29 02:48] ligadata-dhaval commented on #1460
Also, I wouldn't recommend changing the user suddenly. This is not how RPM packages are expected to be used. You may use a normal tar which is also provided for download for all such changes.

[2016-09-29 03:47] ligadatahari commented on #1460
I will sit with you tomorrow to replicate the issue

On Wed, Sep 28, 2016 at 7:48 PM, Dhaval Kolapkar <notifications@github.com>
wrote:

--
Hari (harane Ramasamy)
LigaData

[2016-09-29 12:54] ligadata-alison commented on #1460
Hi Hari,
    Please see:

http://kamanja.org/learn/quick-start-2/

There is a step to run SetPaths.sh after installing RPM. Please let me know
if you would like a clearer explanation. The documentation always needs
help. :)
thanks,
alison

On Wed, Sep 28, 2016 at 8:47 PM, Hariharane Ramasamy <
notifications@github.com> wrote:

[2016-09-29 23:17] ligadatahari commented on #1460
Here is the test matrix  I did for RPM

1) simple install and remove - success
2) Simple install - modify config - remove - failed but is fixed in today release
3) Simple install and upgrade  - lower to higher version)  - success but removed old version. Fixed in today release- please verify this again
4)
    a) simple install - modify config, upgrade  - saved old version config
   b) modify upgra

[2016-09-30 07:01] ligadata-ramana opened #1461 "SqlServerAdapter performance improvement"
Optionally use insert instead of upsert in put operation(s). The adapter config parameter is called "appendOnly". If appendOnly is set to "YES", then do an "insert" DML

[2016-09-30 07:09] ligadata-ramana commented on #1461
created the pull request #1462.

[2016-09-30 22:08] ligadata-william commented on #976
Verified. Closing.

[2016-09-30 22:08] #976 closed

[2016-09-30 23:04] ligadata-william opened #1463 "sample application install script Python_Simple.sh uploads incorrect cluster configuration"
The script uploads ClusterConfig.json, which is invalid. By default, our app install scripts are uploading ClusterConfig_kafka_v10.json. Currently, running the script as is causes Kamanja to fail to start due to incorrect class names for the kafka input/output adapters that are contained in the old ClusterConfig.json.

[2016-09-30 23:38] ligadata-william commented on #1453
Verified as fixed. Closing.

[2016-09-30 23:38] #1453 closed

[2016-09-30 23:39] ligadata-william commented on #1457
I've verified this is fixed. Closing.

[2016-09-30 23:39] #1457 closed

[2016-09-30 23:40] ligadata-william commented on #1418
I've verified this as fixed. Closing.

[2016-09-30 23:40] #1418 closed

[2016-09-30 23:41] ligadata-william commented on #1174
While upgrading from 1.5.3 to 1.6.0 is working fine, there isn't a micro-version upgrade scenario available that is supported yet. I'm pushing the milestone to 1.6.1 so that I may verify this once we have a 1.6.1 to test against.

[2016-09-30 23:44] ligadata-william commented on #1461
I've verified sqlserver as a datastore works with the associated pull request and have merged. I'm going to leave this open, however, pending time to run some performance tests.

[2016-09-30 23:46] ligadata-william commented on #1460
@ligadatahari please verify this is fixed.

[2016-10-01 07:07] ligadatahari commented on #1460
Hi William

I have not seen any update from Dhaval since my last update. Can you please request him to send one. Also his recent document sent this morning did not contain the doc I requested.

Hari

[2016-10-01 07:21] ligadatahari commented on #1463
Please verify

[2016-10-01 14:58] ligadatahari commented on #1460
Dhaval

Can you please update my latest comments

[2016-10-01 15:39] ligadata-william opened #1464 "Running a GET query for /Connection causes an error"
If I run a simple get on the server such as:
[code]
returns expected results
[code]

However, when I attempt to run
[code]
The client get a simple, non-specific error:
[code]
while on the server there is the following exception:
[code]

The root error appears to be a NoNodeException regarding elasticsearch.

[2016-10-01 17:55] ligadata-dhaval commented on #1460
We are not saving any configs for delete. It deletes the Kamanja without any warnings.

[2016-10-01 21:50] ligadatahari commented on #1460
Deferring this for future releases due to time constraint will revisit in 1.6.1 or future release

[2016-10-01 22:30] ligadata-dhaval commented on #1460
The RPM and doc I sent yest is the latest and in sync. When we say rpm delete, it will delete the Kamanja and not save anything. Not sure, if we should document this? I would recommend you to go through the new doc and the commands in the doc. If there are any issues or enhancements in the working, I will resolve them in the future release.

[2016-10-03 02:32] ligadata-ramana opened #1465 "Regression Issue with simplification of APIProperties file"
One of the issue we worked on is simplification of MetadataAPIProperties file.
Due to this improvement, MetadataAPIConfig.properties is required to contain
only the following three properties
#MetadataStore information
NodeId=1
MetadataDataStore={"StoreType": "h2db","connectionMode": "embedded","SchemaName": "kamanja","Location": "/media/home2/installKamanja160/Kamanja-1.6.0_2.11/storage","portnum

[2016-10-03 17:00] ligadata-william commented on #1464
This is on the wrong repository. I'm going to close this and re-open on the correct repository.

[2016-10-03 17:00] #1464 closed

[2016-10-03 17:04] ligadata-william commented on #1465
@ligadata-ramana I see the pull request is available with the fix, so I'm assigning this issue to myself to verify.

[2016-10-03 21:25] ligadata-william commented on #1465
I've verified after a cluster upgrade from 1.5.3 to 1.6.0 that all nodeN.cfg files are without the ROOT_DIR specification but StartKamanjaCluster.sh works as expected. All nodes are up and running.

Verified as fixed. Closing.

[2016-10-03 21:25] #1465 closed

[2016-10-05 23:07] tnooka opened #1467 "The non versioned messages/containers showing versioned child containers"

[2016-10-05 23:14] #1467 closed

[2016-10-05 23:17] ligadata-dhaval opened #1468 "APIResult give unexpected action instead of actual error while adding adapter binding"
When adding system adapter message binding, I got the following error:

java.lang.RuntimeException: Already found adapter bindings for this message on this adapter. String:com.ligadata.kamanja.metadata.AdapterMessageBinding@6e6869e3
	at com.ligadata.MetadataAPI.AdapterMessageBindingUtils$.SemanticChecks(AdapterMessageBindingUtils.scala:485) ~[KamanjaInternalDeps_2.11-1.6.0.jar:1.6.0]
	at com.ligad

[2016-10-05 23:17] ligadata-tulasi opened #1469 "The non versioned messages/containers showing versioned child containers"

[2016-10-06 00:46] ligadata-dhaval opened #1470 "Kamanja start ehcache.EhcacheInit services found warning."
I am getting this warning while running the engine. This is not affecting my output but is it that we are not caching the data?

WARN [main] -
net.sf.ehcache.CacheException: java.lang.AssertionError: No net.sf.ehcache.EhcacheInit services found
	at net.sf.ehcache.LibraryInit.init(LibraryInit.java:55) ~[ExtDependencyLibs2_2.11-1.6.0.jar:1.6.0]
	at net.sf.ehcache.CacheManager.init(CacheManager.java:

[2016-10-06 17:12] ligadata-william commented on #1470
I looked into this last night and this morning. I noticed when assembling the fat jar, ehcache-core-2.6.11.jar was getting resolved, which probably has a different interface. I believe adding a dependencyOverride for 2.6.5 will fix this issue but I don't know what component is referencing ehcache-core-2.6.11.jar or how it will affect things.

I'll add a dependencyOverride and see what happens.

[2016-10-06 18:46] ligadata-william commented on #1470
Adding the dependencyOverride didn't change anything. Inspection of assembly logs shows the following line:
[code]
This may be an issue.

[2016-10-06 18:53] ligadata-william commented on #1470
At the bottom of ExtDependencyLibs2 there was a second, smaller, assemblyMergeStrategy defined:
[code]
This was causing anything under a META-INF to be discarded out of hand. This is completely unnecessary as a merge strategy is already defined in this build.sbt. After removing, EHCache starts properly.

[2016-10-06 18:56] ligadata-william commented on #1470
Pull request #1471 has been created to resolve this issue.

[2016-10-06 18:58] ligadata-william commented on #1470
@ligadata-dhaval @ligadata-pokuri Please verify this fix in branch Issue1470.

[2016-10-06 21:07] ligadata-dhaval commented on #1470
I am not getting any error while running kamanja. But now I am not getting any output. Reverifying this behaviour on a VM.

[2016-10-06 21:10] ligadata-dhaval commented on #1470
Its working. It was the kafka version issue. Verified and working.

[2016-10-07 16:18] ligadata-dhaval commented on #1470
Closing this issue.

[2016-10-07 16:19] #1470 closed

[2016-10-07 19:58] ligadataruchan commented on #1028
Can you please be more clear? What message did not exist?

[2016-11-01 15:26] ligadata-william opened #1476 "If Kamanja fails to serialize an output message, no error message is created and no error is given in the kamanja message event"
When Kamanja fails to produce an output message due to a failure to serialize the message (in my case, mismatched scala version), there is no message generated for the error queue. Additionally, that error is not attached to the KamanjaMessageEvent. So unless the user goes digging through the logs, they won't know what happened.

[2016-11-08 06:18] ligadata-mjalajel opened #1478 "Elasticsearch Output Adapter can't connect to clusters when clusterName != elasticsearch"
[Affected Branch: `Berkley_1.5.3-adapterChanges` | Latest Commit: `48b39b6c` ]

Elasticsearch Output Adapter can't connect to clusters when clusterName != elasticsearch

In ElasticsearchOutputAdapter (class com.ligadata.ElasticsearchInputOutputAdapters.ElasticsearchProducer$), option `Adapters.AdapterSpecificCfg.clusterName` is not respected. Setting it to any value other than `elasticsearch` is c

[2016-11-08 08:30] ligadata-haitham commented on #1478
issue is fixed in branch Berkley_1.5.3-adapterChanges .
i tested on my local machine and its working now.

[2016-11-08 17:30] ligadata-william opened #1479 "Project OutputUtils requires jdk 1.8 to compile"
Kamanja has a minimum requirement of jdk 1.7+ so OutputUtils needs to be altered to work with java 7.

@ligadata-pokuri I'm not sure who owns this so I'm assigning to you. Please reassign to whoever is responsible.

[2016-11-08 17:31] ligadata-william commented on #558
Closing as verified.

[2016-11-08 17:31] #558 closed

[2016-11-08 17:33] ligadata-william commented on #583
Verified as fixed. Closing.

[2016-11-08 17:33] #583 closed

[2016-11-08 18:04] ligadata-william commented on #567
Verified as fixed. Closing.

[2016-11-08 18:04] #567 closed

[2016-11-08 18:09] ligadata-william commented on #619
Verified as fixed. Closing.

[2016-11-08 18:09] #619 closed

[2016-11-08 18:09] ligadata-william commented on #653
Verified no longer an issue. Closing.

[2016-11-08 18:09] #653 closed

[2016-11-08 18:21] ligadata-william commented on #989
Verified as fixed. Closing.

[2016-11-08 18:21] #989 closed

[2016-11-08 18:21] ligadata-william commented on #1174
Verified as fixed in branch 1.6.1. Closing.

[2016-11-08 18:21] #1174 closed

[2016-11-08 18:22] ligadata-william commented on #1463
Verified as fixed. Closing.

[2016-11-08 18:22] #1463 closed

[2016-11-09 10:46] ligadata-mjalajel commented on #1478
Verified.. closing.

[2016-11-09 10:46] #1478 closed

[2016-11-16 06:50] hello-ming opened #1482 "JPMML-Evaluator is not licensed under the BSD"
From https://github.com/jpmml/jpmml-evaluator

But in kamanja readme file, it's under the BSD.

[2016-11-23 19:37] ligadata-damian commented on #721
This H2O product seems to be in direct competition with Kamanja, not sure if this means we should close this ticket?:
http://www.h2o.ai/steam/

[2016-11-23 19:42] ligadata-damian commented on #230
@ligadata-greg Can we close this ticket?

[2016-11-23 19:49] ligadata-william commented on #721
H2O jars don't use our interfaces which would make it difficult to execute their jars. Technically, it could be done but I don't see it as a worthwhile effort for the platform team. Since training models in tools that generate PMML seems to still be more widely accepted, I'm not sure what benefit we would get out of this. Ultimately, a question for @ligadata-krishna or @ligadata-ashish on whether

[2016-11-23 19:50] ligadata-greg commented on #230
we can close it

On Wed, Nov 23, 2016 at 11:42 AM, ligadata-damian <notifications@github.com>
wrote:

[2016-11-23 19:51] ligadata-damian commented on #721
William, Thanks but I was suggesting we close this ticket rather than investigate further

[2016-11-23 19:51] #230 closed

[2016-11-23 19:53] ligadata-william commented on #721
I understand that and I, personally, would choose to close it. I'm simply deferring to Krishna or Ashish if there's a legitimate reason (such as a customer request) or intent to add this feature or not before such a choice is made.

[2016-11-23 19:58] ligadata-damian commented on #961
@ligadata-mjalajel  if you know the answer to this off the top of your head, please could you update this ticket

[2016-11-23 22:50] ligadata-ashish commented on #721
They seem to be very much in our space.
http://www.h2o.ai/sparkling-water/

Open to ideas but I did not see an angle/use-case where H2O and Kamanja can be part of the same solution for one of our customers prospects in banking/telecom. Krishna? Will continue to research them but for now, lets close it. I will add it to my Backlog sheet so we track this ask.

How are POJOs different than the JAVA p

[2016-11-23 23:07] #721 closed

[2016-11-23 23:09] ligadata-damian commented on #721
@ligadata-ashish separately confirmed this issue should be closed

[2016-11-28 17:34] ligadata-ashish commented on #1437
Please fix for next release

[2016-11-28 17:39] ligadata-ashish commented on #1401
Kamanja can run with other adapters even without Kafka being configured to run. So at a min an error needs to be reported.

[2016-11-28 17:42] ligadata-ashish commented on #1389
William - So we are missing the feature to have "sets" of input messages for PMML/KPMML, but what is the use case that you have in mind?

[2016-11-28 18:47] ligadata-william commented on #1389
The use case is to allow multiple messages to be consumed by a model, which
is very common. This is already supported for Java and scala but it is
missing for pmml, kpmml, and python.

On Nov 28, 2016 12:42 PM, "ligadata-ashish" <notifications@github.com>
wrote:

[2016-11-29 03:29] ligadata-tulasi commented on #1401
Assigning back to William to repro the issue with latest ExtDependencyLibs

[2016-11-29 12:45] ligadata-william commented on #1401
As of 1.6.1 this is a non-issue. It may very well never have been an issue at all. When I remove all the dependencyJars from the input adapter configuration, the adapters appear to start just fine and process messages normally.

[2016-11-29 12:45] #1401 closed

[2016-12-20 19:16] ligadata-ashish commented on #1460
William, please review and close

[2016-12-20 19:23] ligadata-ashish commented on #1437
Meg, William if this is fixed, please close.

[2016-12-20 19:25] ligadata-ashish commented on #1461
Please verify if available in 1.6.1 and close

[2016-12-20 19:37] ligadata-ashish commented on #1123
@ligadata-ramana  Can we check to see if the package name and model name namespaces matchup. Reject the loading when these don't match.

@ligadata-meg Also update the docs to instruct the model writer about this.

[2016-12-20 19:40] ligadata-ashish commented on #942
Provide an API to see which inactive models are currently available.

[2016-12-29 18:17] ligadata-ramana opened #1490 "ElasticSearchAdapter Delete function doesn't seem to work"
I have created a scala test component to unit-test all the public functions of ElasticSearch Adapter
and find that "Delete" function on a time range doesn't seem to work. We don't seem to use this function in any of kamanja components yet, so It is not high priority.

[2017-01-03 23:14] ligadata-mjalajel opened #1492 "Uploaded jars are not visible to models at compilation time"
When using `upload jar my.jar` command, the uploaded jar is persisted in the metadata storage. However, when using `add model` and adding a model that imports classes from `my.jar` the model fails to compile because the classes aren't visible by the model at compile time.

@ligadata-pokuri mentioned the reason for this might be that `my.jar` should be downloaded automatically but it isn't for some

[2017-01-04 13:21] ligadata-william commented on #1492
Please attach the associated model config, metadata API config, and cluster config you are using to help reproduce.

[2017-01-04 13:32] ligadata-william opened #1493 "Jar dependencies in cluster configuration are not honored for adapters"
While configuring adapters, adding jars to the dependency jars list under adapters has no effect on the adapter. If I remove the existing jars from configuration, adapters run the same. If I add a jar that isn't already in the Kamanja classpath, it isn't included when the adapter is created.

An individual class loader needs to be used for each adapter based on the jar dependencies in configuratio

[2017-01-07 02:39] ligadata-tulasi commented on #1435
William, Please verify.

[2017-01-10 20:07] aerndavid commented on #1039
Still happens in 1.6 -

`# bash $KAMANJA_HOME/bin/kamanja $KAMANJA_HOME/config/MetadataAPIConfig.properties add model java $KAMANJA_HOME/input/SampleApplications/metadata/model/HelloWorld.java DEPENDSON helloworldmodel TENANTID tenant1
 WARN [main] - DATABASE_SCHEMA remains unset
 WARN [main] - DATABASE_LOCATION remains unset
 WARN [main] - MODEL_EXEC_LOG remains unset
 WARN [main] - DATABASE_HOST

[2017-01-22 20:52] asfour75 opened #1498 "kamanja 1.6.1 webservice is broken"
When try to start the kamanja webservice (kamanja start webservice) .. I get the following error:

Error: Could not find or load main class com.ligadata.metadataapiservice.APIService

The code source code shows the file (APIService) does exist, but the generated jar file ($KAMANJA_HOME/lib/system/metadataapi_2.11-1.6.1.jar) seems not showing any !

[2017-01-22 20:57] asfour75 opened #1499 "CleanUtil-1.0 doesn't seem working as suggested in the wiki site"
instead, the following line made it happen:

[2017-02-12 10:45] ligadata-saleh opened #1507 "FileProcessor throws lot of WARN messages in the log file"
FileProcessor throws lot of WARN messages in the log file , related to LBA-135 .

Thanks
Saleh

[2017-02-16 21:26] ligadata-william opened #1510 "When Kamanja runs using the Elasticsearch output adapter, the process hangs when trying to kill"
After using ctrl+c, kill and kill -9 on the KamanjaManager process, it hangs, failing to shut down if it is configured to use the Elasticsearch output adapter.

[2017-02-16 21:50] ligadata-saleh commented on #1510
We already told them CDA team to use only crt-c or kill -15 to stop the engine , kill-9  cuz the lose of some data .

[2017-02-16 22:07] ligadata-pokuri commented on #1510
@ligadata-saleh , when we give bad data (bad json data) to ES, it keeps on retrying that to write & fails. If we stop the engine ES does not go down and keep on retrying to write. We have to break from that infinite loop.

[2017-02-16 23:26] ligadata-saleh commented on #1510
What will happen to the data if we exit the loop , should we write it somewhere ? To kafka and read them from there or but them on disk , also right now am just sending a message if fail , did we add retry method to the output adapter ?

[2017-02-16 23:32] ligadata-pokuri commented on #1510
@ligadata-saleh , if the data itself is wrong, you can never add it to ES. do we keep on retrying forever?

[2017-02-16 23:33] ligadata-pokuri commented on #1510
We have plan to add failover stuff for output adapters. At this moment we will lose the data if anyone does kill -9

[2017-02-16 23:36] ligadata-saleh commented on #1510
@ligadata-pokuri we dont retry at all rigt now , i didnt add a retry method tell this moment , we only return a message failer to the logs .

[2017-02-20 16:59] ligadata-saleh commented on #1510
fixed in https://github.com/LigaData/Kamanja/pull/1511

[2017-02-27 20:01] ligadata-william opened #1515 "KafkaSimpleProducer throws error when velocity metrics are not configured"
When there are no velocity metrics configured, the following error occurs when pushing messages to kafka using the KafkaSimpleProducer tool:
[code]
This doesn't block the push or proper processing of messages but it may be unsettling to a user.

[2017-02-27 20:50] ligadata-william opened #1516 "VelocityMetrics: MetricsByFileName doesn't display filename that messages were output to"
When VelocityMetrics tracks input from a file, it marks the file name, however, when tracking output messages to a file, it doesn't include the filename. VelocityMetrics needs to include a filename that messages were output to.

[2017-02-27 20:52] ligadata-william commented on #1516
The metrics given are
[code]
Note that "key" is the name of the adapter instead of the file the messages were written to.

[2017-02-28 19:16] ligadata-tulasi commented on #1516
William, Can you please test it?  Here is the branch with updates "1.6.2.TestVMetrics"

[2017-02-28 19:22] ligadata-william commented on #1516
Hey Tulasi,

Pokuri contacted me about this earlier. It’s been tested and merged into 1.6.2.Test already.

--

Notice of Confidentiality:

The information contained in this communication is intended solely for the
use of the individual or entity to whom it is addressed and others
authorized to receive it.  It may contain confidential or legally
privileged information.  If you are not the intended

[2017-02-28 19:53] ligadata-william opened #1517 "When shutting down Kamanja, SmartFileConsumer throws exception for each directory monitored over SFTP"
In my case, I've configured Kamanja to use the SmartFileConsumer to monitor two directories on a remote machine using SFTP. When Kamanja shuts down, a java.io.InterruptedIOException causes an SftpException. This is possibly because Kamanja doesn't properly close off the SFTP pipe before shutting down. This should be cleaned up. See exceptions below:
[code]

[2017-02-28 20:29] ligadata-pokuri commented on #1517
While shutting down the adapters, we interrupt the current monitoring. So, we get Interrupt IO exception. This does not cause any issues. May be we can ignore throwing exception.

[2017-02-28 21:24] ligadata-pokuri commented on #1517
This is fixed in branch branch 1.6.2.Test.gitissue.1517

[2017-02-28 23:51] ligadata-william commented on #1517
Verified as fixed. Closing.

[2017-02-28 23:51] #1517 closed

[2017-03-01 00:59] ligadata-william opened #1519 "MetadataAPIService fails to start"
When running either of the following commands:
[code]
or
[code]
the class APIService isn't found
[code]

[2017-03-01 01:05] ligadata-william commented on #1519
I've determined the problem. The script, easyInstallKamanjaExperimental.sh for some reason has commented out the cp commands for copying metadataapiservice_2.x-1.6.2.jar.

[2017-03-01 02:07] ligadata-william commented on #1519
I've fixed this issue myself. Closing.

[2017-03-01 02:07] #1519 closed

[2017-03-01 03:45] ligadata-william commented on #1516
Verified as fixed. Closing.

[2017-03-01 03:45] #1516 closed

[2017-03-01 03:45] ligadata-william commented on #1510
Verified as fixed. Closing.

[2017-03-01 03:45] #1510 closed

[2017-03-01 03:46] ligadata-william commented on #1515
UPDATE: This apparently has nothing to do with whether or not Velocity Metrics have been configured. Even if they are, I still see the error occur:
[code]

[2017-03-03 04:18] ligadata-meg commented on #1499
The documentation for CleanUtil-1.0 is marked as "Deprecated" in the existing documentation and is not included in the 1.6.2 documentation drafts at this time.

[2017-03-03 05:05] ligadata-meg commented on #1482
Note that LigaData has negotiated a special arrangement with Villu (owner of JPMML), so we can embed JPMML in Kamanja and release the combination under the Apache license.  The readme file should be corrected.

[2017-03-03 14:55] ligadata-william commented on #1498
There was an issue where easyInstallKamanjaExperimental.sh wasn't copying over the proper jar, which is actually metadataapiserver_2.11-{KamanjaVersion}.jar. This has been fixed. The binaries distributed should be good for 1.6.2 on. If this is an issue for 1.6.1 binaries and you didn't build it, then please reopen this issue and I can ensure the correct jars exist in the 1.6.1 binaries.

[2017-03-03 14:55] #1498 closed

[2017-03-03 14:57] ligadata-william commented on #1469
@ligadata-tulasi please provide a description of this bug. If it's been fixed, please say so and we can close this.

[2017-03-03 17:29] ligadata-tulasi commented on #1469
The issue is not fixed.

[2017-03-03 18:53] ligadata-meg commented on #1469
When a message definition contains one or more containers as attributes, the versioned message code that is generated correctly shows the versioned containers as parameters but incorrectly shows the versioned containers as parameters for the un-versioned message code. This does not affect functionality.

[2017-03-15 18:56] ligadata-william opened #1530 "Nodes with duplicate IDs but individual UUIDs overwrite each others' heartbeats on zookeeper"
This is on branch 1.5.3-phoenix

When starting two instances of kamanja with the same node ID, they have UUIDs generated automatically two distinguish the two nodes and prevent duplicate processing. However, both nodes write to the same location in zookeeper based only on their node id, causing them to overwrite each other every time a heartbeat is written.

This also affects the teststatus queue

[2017-03-15 19:01] ligadata-william opened #1531 "Nodes with duplicate IDs but individual UUIDs have no distinguisher in test status queue"
This is on branch 1.5.3-phoenix

When starting two instances of kamanja with the same node ID, they have UUIDs generated automatically two distinguish the two nodes and prevent duplicate processing. However, both nodes write the same nodeId to the test status queue, making it difficult to distinguish which node is doing what.

[2017-03-15 19:16] ligadata-william opened #1532 "SmartFileAdapter with compression "avro/snappy" fails with exception"
This occurs on branch 1.5.3-phoenix-P-IIB

When configuration the SmartFileProducer to compress using only "avro", an output file is created (in HDFS in my case) with the proper output. However, when configured with "avro/snappy", a file is created but contains no output and Kamanja throws the following exception:
[code]

[2017-03-22 14:02] ligadata-william opened #1540 "Documentation of Model Metadata under Kamanja components is misleading"
On this page of documentation http://documentation.kamanja.org/architecture/kamanja-components.html there is a sub-section labeled Model Metadata. In this section, the mining model type shows a list of types of model, which are NOT the same as the command that would be used to add a model of that type. This is leading users to believe they would run a command to add a model that doesn't exist.
For

[2017-03-22 14:02] ligadata-william commented on #1540
For more details see forum post http://kamanja.org/forums/topic/adding-model-using-add-model-command/

[2017-04-03 21:31] ligadata-william opened #1548 "JDBC Output Adapter fails to produce metrics to TestStatus_1 adapter"
In my configuration, I have a Kafka adapter named TestStatus_1 where Kamanja produces status metrics. When I process data using a JDBC Output Adapter named TestOut_HW (Oracle DB), data is output into the database, but the output adapter fails to produce metrics.
[code]
Note that there is a double ~~ indicating where the metric should be written, but is missing. This is related to task https://liga

[2017-04-04 21:50] ligadata-william opened #1554 "Daas API Input isn't installed by default with Kamanja. Only exists in source."
In order to enable the Daas API Input feature for Kamanja, the message definition, model definition and configuration need to be added as a normal application. However, these files are not available in a Kamanja installation by default. They can only be found by going to the source code. This isn't a valid use-case for any user.

[2017-04-04 23:00] ligadata-william opened #1555 "DaaS Input is only compatible with Kafka 0.9.x"
Currently, in order to enable DaaS in Kamanja, it is required that Kafka 0.9 be running. Kafka 0.8 and 0.10 compatibility needs to be added.

[2017-04-04 23:05] ligadata-william opened #1556 "If MetadataAPIService has DaaS configuration, kamanja start webservice fails"
If you add a line to MetadataAPIConfig.properties like this:
[code]
It will fail to start with the following error:
[code]

The workaround for this is to manually edit $KAMANJA_HOME/bin/kamanja and add kafka-clients-0.9.0.1.jar to the command that starts the APIService. To make it easy, replace line 83 with:
[code]

[2017-04-04 23:06] ligadata-william opened #1557 "If DaaS is enabled in MetadataAPIConfig.properties, a Kamanja Cluster's APIService nodes will fail to start"
When running StartKamanjaCluster.sh, if your cluster is configured to start the API Service on any nodes, those services will fail to start due to the fact that kafka-clients-0.9.0.1.jar is not on the classpath as part of the script/tool.

[2017-04-04 23:21] ligadata-pokuri commented on #1554
Fixed it in https://github.com/LigaData/Kamanja/pull/1559 pull request. Now we are creating DaaS directory under Kamanja-{KamanjaVersion}_{ScalaVersion} and copying all contents from trunk/MetadataAPI/src/main/resources/daas in the package.

[2017-04-04 23:43] ligadata-william opened #1560 "DaaS configuration not included in MetadataAPIConfig.properties by default"
Configuration such as this:
[code]
Needs to be added to MetadataAPIConfig.properties by default. It can, at the least, be commented out.

[2017-04-04 23:46] ligadata-william commented on #1554
Verified as fixed. Closing.

[2017-04-04 23:46] #1554 closed

[2017-04-05 00:01] ligadata-william opened #1561 "Leveraging DaaS Input fails with exception on server if NODE_ID isn't set in MetadataAPIConfig.properties"
Running the command:
[code]
while the API Service is running with DaaS configured results in the following exception being thrown on the API Service if NODE_ID isn't set in MetadataAPIConfig.properties:
[code]

This needs to be handled with a better error message.

[2017-04-05 01:23] ligadata-william opened #1562 "DaaS only allows the user to query for containers. Messages are not tracked."
After successfully processing messages from the Hello World and Medical sample applications, I attempted to query for msg1, outmsg1 and beneficiary messages, all of which failed:
[code]

Then I ran
[code]
and it returned the following json:
[code]
Listed in this structure are all internal messages and the containers for the medical app. However, there is no mention of any messages for either appli

[2017-04-05 01:25] ligadata-william opened #1563 "DaaS REST API query does not take fully qualified container name, only simple name"
For instance, the command:
[code]
Results in:
[code]
but the command:
[code]
results in
[code]

[2017-04-05 02:50] ligadata-sridhar commented on #1563
Changed to accept fully qualified container and also short name in the URLs.

Fixed on branch 1.5.3-phoenix-daas-api.

[2017-04-05 04:48] ligadata-pokuri commented on #1563
Hi @ligadata-william,

I moved sridhar fix to 1.5.3-phoenix-daas-api-input-md-move branch. 1.5.3-phoenix-daas-api-input-md-move is super set of 1.5.3-phoenix-daas-api & 1.5.3-phoenix-daas-api-input.

Hi @ligadata-yousef , if you are doing any changes, please create another branch on top of 1.5.3-phoenix-daas-api-input-md-move. Don't use 1.5.3-phoenix-daas-api-input any more.

@ligadata-sridhar & @

[2017-04-05 09:28] ligadata-yousef commented on #1561
@ligadata-william  i am working on this ticket.

[2017-04-05 12:34] ligadata-yousef commented on #1556
@ligadata-william

Check the Kafka version in your machine because Daas just work with kafka v9. if you use kafka v8 or v10 you should see this error.

[2017-04-05 12:36] ligadata-yousef commented on #1560
@ligadata-william

I am working on this.

[2017-04-05 14:32] ligadata-william commented on #1556
@ligadata-yousef I had kafka v9 installed. This error occurs because the kamanja script doesn't have kafka-clients-0.9.0.1.jar in the startup command. See the section in the original description labeled **WORKAROUND**.

[2017-04-05 15:06] ligadata-yousef commented on #1560
@ligadata-william

the fix is in this branch 1.5.3-phoenix-daas-api-input-md-move-update

[2017-04-05 15:17] ligadata-william commented on #1561
Verified as fixed. Closing.

[2017-04-05 15:17] #1561 closed

[2017-04-05 15:22] ligadata-william opened #1564 "DaaS: Querying container causes exception on KamanjaManager"
This was reproduced running the medical sample application
When I run the following command:
[code]
The client hangs until timeout and KamanjaManager throws the following ERROR:
[code]

[2017-04-05 15:22] ligadata-william commented on #1563
@ligadata-sridhar
This issue is resolved and I will close it but another issue has come in its place: #1564

[2017-04-05 15:22] #1563 closed

[2017-04-05 15:50] ligadata-william commented on #1560
Verified as fixed. Merged into 1.5.3-phoenix-daas-api-input-md-move

[2017-04-05 15:50] #1560 closed

[2017-04-05 15:53] ligadata-william opened #1565 "DaaS: Pushing data causes exception on KamanjaManager"
This was reproduced running the hello world sample application
When I run the following command:
[code]
The client hangs until timeout and KamanjaManager throws the following ERROR:
[code]

[2017-04-05 17:49] ligadata-william commented on #1564
This is user error. Closing.

[2017-04-05 17:49] #1564 closed

[2017-04-05 17:49] ligadata-william commented on #1565
This is user error. Closing.

[2017-04-05 17:49] #1565 closed

[2017-04-05 17:51] ligadata-william opened #1566 "DaaS: Querying data causes a JsonParsingException on MetadataAPIService"
When running the command:
[code]
Kamanja properly populates the ResponseTopic, however, upon returning it to the API Service, the api service throws an exception when attempting to parse:
[code]

[2017-04-05 18:00] ligadata-pokuri commented on #1562
Getting message also in Pull request is https://github.com/LigaData/Kamanja/pull/1567

[2017-04-05 18:59] ligadata-william commented on #1566
**UPDATE**
This is caused by quotes already existing in the message or container data. This causes malformed JSON in our system. Any containers or messages without quotes in the data are parsed and returned correctly.

[2017-04-05 19:02] ligadata-william opened #1568 "DaaS: Querying does not honor filtering"
When running a command such as:
[code]
which results in a response like:
[code]
Which displays all fields instead of just desynpuf_id.

[2017-04-10 19:57] ligadata-william opened #1576 "upload message doesn't catch invalid types in message definition"
When uploading a message definition to metadata, giving an unsupported type such as "date" will allow the message to upload without error. This causes runtime issues when Kamanja fails to deserialize the message because the AvroSchema is incomplete due to a lack of proper type and leaves the JSON malformed.

When Kamanja reads in a message with this issue, it logs an error in testfailedevents_1 in

[2017-04-11 01:25] ligadata-greg opened #1577 "in all 3 Python examples: "Python text fails to compile" during add model"
Hello,
I have tried all 3 Python examples and tried to follow these directions.  I reviewed my steps locally with Ashish to check and eliminate any user errors on my part.  I have not edited any of the examples, and am using Kamanja 1.6.2

http://documentation.kamanja.org/python/python-guide.html

There are 3 Python example scripts
Python_Simple.sh      (add, subtract, multiply and divide two numb

[2017-04-11 02:38] ligadata-william commented on #1577
I'll take a look into this tomorrow.

[2017-04-11 04:13] ligadata-greg commented on #1577
thanks, I appreciate the help.

the top priority is the regression example, that is what would be used in
the sales demo, or if that isn't working, I need to get something working
that is a model trained from some library.

On Mon, Apr 10, 2017 at 7:38 PM, William Tarver <notifications@github.com>
wrote:

--

Notice of Confidentiality:

The information contained in this communication is intended s

[2017-04-11 14:11] ligadata-william commented on #1577
Can you type the following in your terminal
[code]
and paste what it says here?

[2017-04-11 15:05] ligadata-greg commented on #1577
William,

I assume this is the problem.  The current system only supports 2.7.* or
something like that?  Can I have both versions installed and switch by
environment variable?  What is it?

Are the examples working fine for you?  (my hope)

https://www.python.org/downloads/

is the latest 2.7.3 okay, or do I have to go back to an earlier, Kamanja
supported version (i.e. 2.7.1 ...)?

Gregs-MacBook-

[2017-04-11 15:32] ligadata-william commented on #1577
The latest 2.7.X should be fine (I have 2.7.12 right now).
You can have both installed. Switching env variables probably won't be necessary but you should do it just in case. However, the python we used is defined in Cluster Config in the following piece:
[code]
Specifically, PYTHON_BIN_DIR needs to point to the bin folder of the version of python you wish to use.

[2017-04-12 01:15] ligadata-greg commented on #1577
soooo totally my bad.  I am closing the bug.

PS.  (I may not be the only person who assumes to use the modern Python 3.5, to start to work going forward.  Python 2.7 has  a dead end.)

   Feature request: support Python 3.5 sometime.

[2017-04-12 01:15] #1577 closed

[2017-04-12 01:29] ligadata-greg opened #1578 "Can we reduce the log noise from 20 pages to a 5-10 line option?"
Imagine we want more Kamanja and Flare users, and we want to reduce friction - supporting positive experiences.

This is the log from the Simplest Python example.
I would suggest that the "signal to noise ratio" could use some tuning, to cut back drastically the volume of output to a more relevant level.  Imagine this is part of our "user interface" and "people may bore easily."  Think of how most

[2017-04-14 00:10] ligadata-william opened #1579 "When running python models, Kamanja fails to shut down"
When running python models in Kamanja, python servers fail to shut down, leaving Kamanja as a hanging process when hitting ctrl + C. This was seen in 1.6.2.

[2017-04-14 00:13] ligadata-william opened #1580 "Python sample application output message arithmeticOutMsg.json has bad field type"
In the message definition arithmeticOutMsg.json for the Simply Python sample applicaiton, the field named "result" is defined as a System.Int. However, in some of the models in the sample applications, a Float is the type returned by the model, which causes a deserialization error in KamanjaManager. The message definition:
[code]
needs to be replaced with
[code]

[2017-04-14 00:13] ligadata-william commented on #1580
This has been seen in 1.6.2.

[2017-04-14 00:31] ligadata-william opened #1581 "Kamanja has a bash error printed whenever it is started"
When running the command:
[code]
there is a shell script error that appears
[code]
This doesn't appear to affect anything negatively but it's an eyesore that doesn't help anything and may cause concern for users.

[2017-05-11 17:39] ligadata-william opened #1603 "SetPaths.sh fails with error on 1.5.3-phoenix"
An error occurs when running SetPaths.sh after installing branch 1.5.3-phoenix.
[code]
It appears to be looking for DaasApp.sh, which doesn't exist.

[2017-05-22 17:59] ligadata-william opened #1616 "SmartFileConsumer fails with NumberFormatException on 1.6.3"
When attempting to process files, SmartFileConsumer fails with a NumberFormatException:
[code]

[2017-05-22 18:00] ligadata-william commented on #1616
This was found through the course of testing https://ligadata.atlassian.net/projects/FLR/issues/FLR-529.

[2017-05-22 18:10] ligadata-william commented on #1616
The offender appears to begin at line 1244 where the nodeId is being passed in as an integer:
[code]
Perhaps changing the defs called from there to accept String will be enough. Haven't looked hard enough to be sure though.

[2017-06-20 12:59] ligadata-mkhalawi commented on #1616
I have did the required changes to fix the NumberFormatException bug, as the Node id was received as Integer previously, and now since 1.6.3, it's received as String.

[2017-06-29 00:05] ashitabh opened #1626 "Documentation for kafka appender doesn't contain kerberos setting"
Documentation for kafka appender is showing same log4j2.xml 2 times under heading without kerberos. Do you have sample log4j2.xml with kerberos
http://documentation.kamanja.org/config-ref/log4j2.html#log4j2-config-ref

[2017-07-09 19:56] ligadata-meg opened #1630 "Documentation cannot be built from public repo"
I downloaded the public repo and tried to run "make html" from the trunks/docs directory.  Get the following error:
Exception occurred:
  File "conf.py", line 132, in <module>
ImportError: No module named sphinx_rtd_theme

I think this is fixed in the docs-rst branch but that has not been merged to master.