[2016-04-26 20:04] #613 closed

[2016-04-26 20:07] ligadata-william opened #1044 "When stopping the engine with ctrl + c after some time passes an error appears before shutting down"
When I use ctrl + c to shutdown the engine, after a period of doing nothing (from the user perspective at least) the following error occurs before finishing shutdown:
[code]

[2016-04-26 20:07] ligadata-pokuri commented on #1041
We can upgrade this in 1.5.0

[2016-04-26 20:08] ligadata-yasser commented on #1032
verfied

[2016-04-26 20:08] #1032 closed

[2016-04-26 20:10] ligadata-william opened #1045 "Unable to start MetadataAPI Service"
When I run
[code]
I get the following error:
[code]
Typically, logger errors are simply printed and processes move on. So if there is an underlying cause to the service not starting, it is not being properly written.

[2016-04-26 22:13] ligadata-rich commented on #610
As a post script, the removal of the tuple means that the kpmml version of the copd model is broken.   It needs to be restated.

[2016-04-26 22:17] ligadata-pokuri commented on #610
We need to use containers or something like that instead of tuples. That way implementation language is not barrier for UDFs creation and usage

Regards,

Sreenivasulu Pokuri

Principal Software Engineer

E: pokuri@ligadata.com  M: 425.233.0960

LD

From: Rich Johnson [mailto:notifications@github.com]
Sent: Tuesday, April 26, 2016 3:14 PM
To: LigaData/Kamanja
Cc: ligadata-pokuri; Comment
Subject:

[2016-04-27 02:36] ashwathalvak commented on #1024
This will be a nice to have feature.

[2016-04-27 04:22] ligadata-pokuri commented on #1044
Fixed this in 1.4.0.Test with checkin bade97b139c13300723e9cb80a083d73e1986a6e

[2016-04-27 14:44] ligadata-saleh commented on #1043
after testing the tool again its the truncate and delete is working ,  select is working but writing serialized data into the output file @ligadata-yousef  can u take a look please .

Thanks
Saleh

[2016-04-27 14:49] ligadata-saleh opened #1047 "Serializer/De-serializer for Messages/Containers"
Hi
   i tried some of the commands from the Document [](http://kamanja.org/advanced-developers-guide-1-4/serialization-1-4/#Built-in_Kamanja_Serialization_and_Deserialization) but none of them seem to exist for example "./kamanja list serializations" return
Result: {
  "APIResults" : {
    "Status Code" : -1,
    "Function Name" : "StartMetadataAPI",
    "Result Data" : null,
    "Result Descripti

[2016-04-27 16:41] ligadata-pokuri commented on #1047
Alison, We need to have documentation sync.

[2016-04-27 17:07] ligadata-yasser opened #1048 "Problem with Remove Adapter Message Binding"
I am using hash map as storage adapter
when listing the available adapters i can see this one among the list:
[code]

however when trying to remove using the command

$KAMANJA_HOME/bin/kamanja $KAMANJA_HOME/config/MetadataAPIConfig.properties remove adaptermessagebinding KEY  'testsmartinput_1,com.ligadata.kamanja.samples.messages.msg1,com.ligadata.kamanja.serializer.csvserdeser'

i get:

[code]

[2016-04-27 17:14] ligadata-rich commented on #1048
This is a known issue, there is a fix coming for this.  During the flurry of development with a number of us changing the StartMetadataAPI (the front door to the kamanja command processing), some bad things happened to remove <just about anything>

The fix is in branch issue1037.   The following sorts of commands will work once this branch is merged with 1.4.0.Test:

$KAMANJA_HOME/bin/kamanja $api

[2016-04-27 17:30] ligadata-rich commented on #1047
Currently the serializers currently have no metadata api command support.   That is, one cannot currently add, remove serializers with kamanja commands.   The metadata api serializer related command support will be part of a future sprint (likely 1.5).

Instead there are three serializers that are provided and currently fixed in the system.  There are:

[code]

Alison, I believe we already have so

[2016-04-27 18:11] ligadata-pokuri commented on #719
in 1.4.0 you can write message in CSV format

[2016-04-27 18:36] ligadata-dan commented on #1045
@ligadata-william

Ok, fixed

[2016-04-27 18:38] ligadata-yasser opened #1049 "Message binding did not work if added while engine is running"
i tried the following steps:

- set NOTIFY_ENGINE=YES
- added metadata for almost everything (hello world) except adapters binding
- ran engine
- while engine is running, added the adapter binding. but when pushing data into helloworldinput topic, no output
- shut down engine then start again. then push data into: got output

[2016-04-27 18:41] ligadata-saleh opened #1050 "purge tool only return serlizazed data"
purge tool only return serialized data .

[2016-04-27 18:41] ligadata-william opened #1051 "Unable to add metadata to a kerberos enabled hbase"
When I attempt the command
[code]
that has an hbase that has kerberos security enabled, we fail to create tables required to add configuration or metadata. The attached files contain the DEBUG logs as well as the configuration files in use.

I have tested connections against hbase, hdfs and zookeeper using kinit hbase/node01.ligadata.test.com -k -t /path/to/my/hbase.keytab and have successfully cr

[2016-04-27 18:42] ligadata-alison commented on #1047
Hi Rich,
    I have fixed the documentation accordingly:

http://kamanja.org/advanced-developers-guide-1-4/serialization-1-4/

Please verify that it is correct.
thanks,
alison

[2016-04-27 19:20] ligadata-pokuri commented on #1047
Hi Alison

We should not have any commands we are not supporting. I still see this. Rich can you take old documentation you provided to Alison and modify and send new documentation to her instead of ask her to remove line by line.

§  kamanja <api config properties path> add serialization CONFIG <serialize/deserialize config file path>

§  kamanja <api config properties path> update CONFIG <serial

[2016-04-27 19:22] ligadata-william opened #1052 "Execution DAG documentation is insufficient to guide a user in implementing a DAG in Kamanja"
The documentation found here:
http://kamanja.org/advanced-developers-guide-1-4/architecture-1-4/engine-1-4/#Execution_DAG

explains at a very high level WHAT a DAG is. However, there is no documentation that will introduce a user on HOW to create a DAG using Kamanja. There needs to be a complete, step-by-step guide using a sample application to show the user how to write an application that levera

[2016-04-27 19:24] ligadata-krishna commented on #1052
There is no need for user to create dag. If a given model depends on other
model's output, system automatically create execution dag in order to
satisfy dependency requirements.
On Apr 27, 2016 15:22, "William Tarver" <notifications@github.com> wrote:

[2016-04-27 19:25] ligadata-alison opened #1053 "Write documentation on what types we support"
At this moment we support only ArrayOf<Type>. And We also have Map<String, <type>> but map is not well tested at this moment. Here <type> means it can be base type like Int, Float, Double, Boolean, Long, String or It can be Container Type or Message Type.

[2016-04-27 19:26] ligadata-william commented on #1052
Currently, we do not have the ability to have multiple message definitions exist in a single adapter without being explicitly mapped in a JTM. There is no mention of a concept as a JTM, which as I understand it, is key to getting a DAG to run. So either we are feature incomplete, or we are lacking documentation.

[2016-04-27 19:57] ligadata-tulasi commented on #1042
The updates are in branch 1.4.0.Test, please verify.

[2016-04-27 19:59] ligadata-pokuri commented on #1052
William,

Can you provide this documentation for Medical sample?

Medical sample has the following messages in the system:
	com.ligadata.kamanja.samples.messages.COPDInputMessage
	com.ligadata.kamanja.samples.messages.COPDOutputMessage
	com.ligadata.kamanja.samples.messages.Beneficiary
	com.ligadata.kamanja.samples.messages.OutpatientClaim
	com.ligadata.kamanja.samples.messages.InpatientClaim
	com

[2016-04-27 20:04] ligadata-pokuri opened #1055 "We should not allow more than one message binding for input adapters"
We should not allow more than one message binding for input adapters

[2016-04-27 20:15] ligadata-pokuri commented on #1052
Hi william,

I opened a bug not to allow more than one message binding for input adapter. https://github.com/LigaData/Kamanja/issues/1055

[2016-04-27 20:16] ligadata-william commented on #1052
The concept of this “JTM model” isn’t really a true model and doesn’t properly represent a DAG. Also, this isn’t documentation by which an individual and can walkthrough and gain an understanding of either a DAG or how to produce a JTM. We need an actualy multi-model (not JTM) DAG both to guide a user through and to actually test ourselves. I don’t think this will cut it as, conceptually, the medi

[2016-04-27 20:18] ligadata-pokuri commented on #1052
you can write another sample and make the documentation for that.

[2016-04-27 20:29] ligadata-pokuri commented on #1051
Did you created namespaces before you start installing cluster? If not can you try that?

[2016-04-27 20:32] ligadata-pokuri commented on #1047
Waiting for rich to update and provide new documentation.

[2016-04-27 20:35] ligadata-william commented on #1051
This is unrelated to cluster install. Additionally, when kerberos is not
enabled, namespaces are created by us automatically.
On Apr 27, 2016 1:29 PM, "ligadata-pokuri" <notifications@github.com> wrote:

[2016-04-27 20:40] ligadata-rich commented on #1049
which adapter or adapters did you not add? input? output? or both?

[2016-04-27 20:43] ligadata-pokuri commented on #1051
even with kerberos it creates the namespace. But if you don't have enough permissions it does not. I don't know what level of permissions you have. Why can't you try with creating namespaces & give permissions to that principal before you install the product.

[2016-04-27 20:45] ligadatahari opened #1056 "remove adaptermessagebinding does not work"
I gave the following command

kamanja remove adaptermessagebinding KEY 'helloworldinput,com.ligadata.kamanja.samples.messages.msg1,com.ligadata.kamanja.serializer.csvserdeser'

I got the following error

SLF4J: Actual binding is of type [org.slf4j.impl.Log4jLoggerFactory]
 WARN [main] - Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
ERROR [mai

[2016-04-27 21:14] ligadata-alison commented on #1053
Hi Saaim,
     I added a section to:

http://kamanja.org/qs-1-4/prereq-1-4/

and

http://kamanja.org/advanced-developers-guide-1-4/

about the types that the engine supports.

Are these good locations? Are you able to find them during your development?

Please verify.
alison

[2016-04-27 21:40] ligadata-rich commented on #1056
duplicate of #1048.  There is a fix in branch issue1037 for this that **has not been merged**.

Pokuri will merge... going to close this one.  Follow #1048 for status.

[2016-04-27 21:40] #1056 closed

[2016-04-27 22:04] ligadata-dhaval commented on #1045
I am getting the below zk error when trying to start the ws:

3796 [ERROR] CuratorFrameworkImpl: Background exception was not retry-able
or retry gave up
java.lang.IllegalStateException: instance must be started before calling
this method
at com.google.common.base.Preconditions.checkState(Preconditions.java:149)
~[ExtDependencyLibs2_2.11-1.4.0.jar:1.0]
at
org.apache.curator.framework.imps.CuratorF

[2016-04-27 22:11] ligadata-rich commented on #1053
For collections, there are ArrayOf... and MapOf...

The collection member type can be a container, a message, or one of the scalars.  The ArrayOf<Msg>, ArrayOf<Container>, MapOf<Int or String><Container>, MapO[<Int or String><Container> are built automatically when you add a message or container.  The ArrayOf<scalar> and various Map<scalar or String><scalar or String> are built-in to the system.

[2016-04-28 00:20] ligadata-dan opened #1057 "./ContainersUtility.sh throws a NullPointerException"
./ContainersUtility.sh --containername System.TestContainer --config ~/kamanja13/Kamanja-1.4.0_2.11/config/MetadataAPIConfig.properties --operation truncate

causes

Exception in thread "main" java.lang.NullPointerException
	at java.io.File.<init>(File.java:277)
	at scala.io.Source$.fromFile(Source.scala:54)
	at com.ligadata.tools.containersutility.ContainersUtility$.main(ContainersUtility.scala:1

[2016-04-28 00:22] ligadata-dan opened #1058 "ContainersUtility.sh references incorrect version of a jar"
Not sure why we reference ...1.4.jar  should be 1.0.jar

KAMANJA_HOME/lib/system/containersutility_2.11-1.4.jar

other jars in the .sh file are similarly wrong, although they don't cause a problem.

[2016-04-28 00:29] ligadata-dan opened #1059 "--serializer is not supported, yet documentation mentions it."
ERROR [main] - Unknown option --serializer

the doc says that

--serializer <package>	This is the package that is used to serialize and deserializer data. Mandatory for select operation.

[2016-04-28 00:38] ligadata-pokuri commented on #1058
Hi Dan, we should not have any 1.0.jars anymore. all are now have scala version and kamanja version in jars

[2016-04-28 00:38] ligadata-pokuri commented on #1058
if this is not real issue can you close it?

[2016-04-28 00:39] ligadata-dan commented on #1058
ok will close

[2016-04-28 00:40] ligadata-pokuri commented on #1059
yes for get operation --serializer will come by tomorrow morning of PST

[2016-04-28 00:43] ligadata-dan commented on #1058
per our discussion, will not close

[2016-04-28 00:43] ligadata-pokuri commented on #1058
Hi yousef, the jar should be 1.4.0, not 1.0. Rest of the system has 1.4.0 please fix it.
lib/system/containersutility_2.11-1.0.jar

And also make sure you change the script file where it is refered

[2016-04-28 02:37] ligadata-dhaval opened #1060 "Purge tool ContainerUtils filter & tenantId issue"
1. If filter.json is missing, it gives the error as below:

Exception in thread "main" java.lang.NullPointerException
	at java.io.File.<init>(File.java:277)
	at scala.io.Source$.fromFile(Source.scala:54)
	at com.ligadata.tools.containersutility.ContainersUtility$.main(ContainersUtility.scala:106)
	at com.ligadata.tools.containersutility.ContainersUtility.main(ContainersUtility.scala)

It does not

[2016-04-28 03:34] ligadata-dan opened #1061 "ContainersUtility.sh references incorrect version of a jar"

[2016-04-28 03:35] #1061 closed

[2016-04-28 03:37] ligadata-dan opened #1062 "Container Utilities returns an ERROR message is nothing is found on select"
ERROR [main] - no data retrieved

This is the return of the SELECT call if there are no containers in the storage.  Don't think that should be an error, and the message is very ambiguous.  I had no idea that it was actual result.  I would add something like "no data retrieved for specified containers"

[2016-04-28 03:51] ligadata-rich commented on #1047
Documentation has been sent to Alison and everyone in the engine group three times ... the last one being the final (afaiac).  Here is a link to the file I sent:

[UsingSerializationAndDeserializationInKamanjaNEW.txt](https://github.com/LigaData/Kamanja/files/239755/UsingSerializationAndDeserializationInKamanjaNEW.txt)

[2016-04-28 03:51] ligadata-rich commented on #1047
A;ison, Once integrated into the documentation, please close this issue.

[2016-04-28 03:53] ligadata-pokuri commented on #1047
once documentation is updated assign this to saleh. he will check for the functionality and close. List serializes should return the ones we have.

[2016-04-28 05:19] ligadatahari opened #1063 "kamanja stop does not stop kamanja manager"
We still see the kamanja manager riunning after executing kamanja stop command. Here is the screenshot
________________________________________________________________________________

Haris-MacBook-Pro:bin hariramasamy$ jps
62434
68452 KamanjaManager
71476 Jps
67958 Kafka
67903 QuorumPeerMain
Haris-MacBook-Pro:bin hariramasamy$ kamanja stop
Stopping Kamanja with process id:
kill: usage: kill [-s

[2016-04-28 06:05] ligadata-rich commented on #1047
We have not implemented the list serializers.  Since there is no ability to
add another serializer to the system in this release, the "fix" afaiac is
to document the names in the documentation that Alison posted previously.

If you want a list command, that can be done too.

On Wed, Apr 27, 2016 at 8:53 PM, ligadata-pokuri <notifications@github.com>
wrote:

[2016-04-28 06:59] ligadata-pokuri commented on #1047
Then once the documentation is updated, saleh will go thru the documentation and close this as invalid bug for 1.4.0.

[2016-04-28 08:31] ligadata-yasser commented on #1049
i did not add binding for the input nor the output first time.

[2016-04-28 13:20] ligadata-saleh opened #1064 "adding TenantID to smart adapter json"
Hi ,
   according to the json i receive i cant see tenantid field .

Thanks
Saleh

[2016-04-28 16:05] ligadata-yousef commented on #1043
@ligadata-saleh  fixed please verify

[2016-04-28 16:05] ligadata-yousef commented on #1050
@ligadata-saleh fixed please verify

[2016-04-28 16:06] ligadata-yousef commented on #1057
@ligadata-dan  fixed please verify

[2016-04-28 16:06] ligadata-yousef commented on #1058
@ligadata-dan fixed please verify

[2016-04-28 16:09] ligadata-yousef commented on #1060
@ligadata-dhaval
first note fixed and for second note make sure you are upload cluster config before using tool because you should have at least one tenantid on machine

please verify

[2016-04-28 16:57] ligadata-yasser commented on #1048
verified

[2016-04-28 16:57] #1048 closed

[2016-04-28 19:58] ligadata-william opened #1065 "kamanja help doesn't contain command for adding message bindings"
As the title indicates, running
[code]
produces a list of commands, but how to add an adapter message binding is not shown.

[2016-04-28 20:28] ligadata-dhaval commented on #1065
Added binding info to help menu in the branch 1.4.0.Test.

[2016-04-28 20:38] ligadata-alison commented on #1053
After speaking with Rich, we've decided to have a section on types that can be linked from multiple places - prerequisites, sample applications. Salim, can you please verify

[2016-04-28 20:38] ligadata-alison commented on #1053
I mean Saaim, not Salim!! Sorry!

[2016-04-28 20:39] ligadata-william opened #1066 "Kamanja Status Event using JsonSerDeser has an invalid json format"
When printed out in json format, the format is incorrect:
[code]
Specifically, "eventtime" needs quotations around the value.

There are also several \/ that make it difficult to read in statusstring, which would be better served as another json map instead of a straight string (not a bad format but really tough on the eyes).

[2016-04-28 20:50] saaimaslam commented on #1053
That would work, thanks!

On Thu, Apr 28, 2016 at 4:46 PM, ligadata-alison <notifications@github.com>
wrote:

[2016-04-28 21:09] ligadata-pokuri commented on #1066
Dan,

Can you fix the message proeprly?

[2016-04-28 21:56] ligadata-pokuri commented on #1063
Fixed in 1.4.0.Test branch & check-in SHA-1: 54521fb7b88263130883b941c35893ff06cbd443

[2016-04-28 23:19] ligadata-william opened #1067 "Expose API to convert a schema id to the metadata type (container/message) name and version"
API needs to be written to allow schema IDs to be converted to the metadata type, name and version. This should be done to allow REST API and kamanja commands to be written for easy conversion for debugging and administration.

[2016-04-28 23:20] ligadata-william opened #1068 "Expose API to convert element ID to the metadata type (model/concept) name and version"
This API should be exposed to allow REST API and kamanja commands to be made for debugging and administration purposes.

[2016-04-28 23:23] ligadata-william opened #1069 "In KamanjaModelEvent, messages consumed needs to be added as part of the container"
Whenever a KamanjaModelEvent is created, it should include the array of schema IDs associated with the messages that caused it to execute.

[2016-04-29 01:10] ligadatahari opened #1070 "adapter message binding change requires restart of kamanja to be picked by output queue"
Steps to reproduce

1. start zookeeper, kafka, hbase
1.a. jps - make sure zookeepr, kafka, hbase are running
2. kamanja upload cluster config $KAMANJA_HOME/config/Clusterconfig.json
2.a.   you should see loaded successfully.
3. kamanja start
3.a jps - check kamanja manger is running
4. cd $KAMANJA_HOME/input/SampleApplication/bin
4.a  ./HelloWorldApp.sh
5. ./PushSampleDataToKafka_HelloWorld.sh
5.a

[2016-04-29 01:11] ligadata-krishna commented on #1066
All the times should be in YYYY-MM-DD HH:mm:ss.ms format for easy parsing by consumers (probably convert to GMT time)

Thanks

-Krishna

From: William Tarver [mailto:notifications@github.com]
Sent: Thursday, April 28, 2016 1:47 PM
To: LigaData/Kamanja <Kamanja@noreply.github.com>
Subject: [LigaData/Kamanja] Kamanja Status Event using JsonSerDeser has an invalid json format (#1066)

When printed ou

[2016-04-29 02:24] ligadata-dan opened #1071 "Successful result from ContainerUtilities are missing/ambiguous"
When I successfully select container data using the CONTAINERUTILITIES, there is no message that results were successfully retrieved..   A message that request succeeded, possibly with the location of the output file would be very nice. (at least the name of the file).

[2016-04-29 02:26] ligadata-dan opened #1072 "No option to do equivalent of "SELECT *" from the CONTAINER stores."
The only way I can think of doing it now is to specify a very large time range.

If that is a desired behavior, then we should document it.

[2016-04-29 02:44] ligadata-dan opened #1073 "CONTAINERUTILITIES: Needs to document FILTER file behavior."
What is the relationships between each element in this array.  Are they OR or AND conditions?

This needs to be very clearly defined..  For example, in the JSON below, would we expect the result from the FILTER ELEMENT 1, 2, and 3  to go through the AND or OR logic?

At this point it looks like its an OR (**but duplicates are not purged from the resul**t)

[
  { ** <=========== FILTER ELEMENT 1**

[2016-04-29 02:51] ligadata-dan opened #1074 "CONTAINERUTILITY: Delete results are missing"
When I do

./ContainersUtility.sh --containername com.ligadata.kamanja.samples.containers.envcodes --config ~/kamanja13/Kamanja-1.4.0_2.11/config/MetadataAPIConfig.properties --operation delete --filter /tmp/blah1

I don't see anything telling as to the result of the operation.

I would suggest at the minute a message along this lines:

ContainerUtility removed 49 rows

Or something.

[2016-04-29 05:08] ligadata-pokuri commented on #1073
Yousef, give some meaningful key in the document. You can take one of the container from Medical sample and give those examples or something like that instead of "1", "2", "3"

[2016-04-29 05:23] ligadata-pokuri commented on #1066
william reported it. We can assign it to him.

Krishna we are printing TimeZone also. Sometimes GMT may be difficult to correlate.

[2016-04-29 05:37] ligadata-rich commented on #1070
This bug is similar to the #1047

I used cassandra for that one and am not able to repro.

Question: when the adapter message binding removed and readded, was the metadata api configuration properities configured with NOTIFY_ENGINE=YES ?

[2016-04-29 05:48] ligadata-pokuri commented on #1070
Rich, Why is it similar to 1047? The next question is valid, but I don't think this is similar to 1047. If he does not have NOTIFY_ENGINE=YES, that is very valid question.

[2016-04-29 05:49] ligadata-pokuri commented on #1070
Hari, Provide the contents for MetadataAPIConfig.properties here?

[2016-04-29 06:19] ligadata-dhaval commented on #1045
Is anyone else facing the above issue?

[2016-04-29 07:16] ligadata-dhaval commented on #1042
I have removed setPartition and still got the result instead of 0 as earlier.
e.g. result:

History msg description: In God we trust. All others must bring data._5 and date is 1453766400000

[2016-04-29 17:54] ligadata-dhaval opened #1075 "Kamanja watch input queue doesnt show the right queue"
The KamanjaWatchInputQueue is pointing to testin_1 when it should be pointing to helloworld, medical , finance inputs OR we should have a documentation on it.

[2016-04-29 18:36] ligadata-dhaval commented on #1071
Facing similar doubts

[2016-04-29 18:38] ligadata-dhaval commented on #1060
If version of container given, it still gives the error:

ERROR [main] - Not found valid type for com.ligadata.kamanja.samples.containers.accountaggregatedusage.000000000001000000
ERROR [main] - Not found tenantInfo for tenantId

Can we have some APIResult mentioning the above error?

[2016-04-29 20:16] ligadata-dan commented on #1060
@ligadata-dhaval @ligadata-yousef

This is more of a doc issue,  this works without version in the TYPE...  We need to make sure the doc reflects that clearly

[2016-04-29 20:21] ligadata-dan commented on #1045
@ligadata-dhaval @ligadata-william

Dhaval, the issue is this

ava.io.IOException: Could not open /Users/dankozin/kamanja13/Kamanja-1.4.0_2.11/config/keystore.jks as a file, class path resource, or URL.

This is caused by the default in the MetadataAPIConfig.properties
**SSL_CERTIFICATE=/Users/dankozin/kamanja13/Kamanja-1.4.0_2.11/config/keystore.jks**

also, can you change these DEBUGS into ERROR

[2016-04-29 20:28] ligadata-pokuri commented on #1045
Hi Dan, Can you make those exceptions are errors instead of debug. Even in interrupted exception  print the stack trace even though it is debug

[2016-04-29 20:32] ligadata-dhaval commented on #1045
Hi Dan,

I just found out that the jks file is correct but the default MetadataAPIConfig.properties is missing the
SSL_PASSWD=password
which is why it was failing.

[2016-04-29 20:56] #1045 closed

[2016-04-29 21:17] ligadata-dhaval opened #1076 "getHealthCheckNodesOnly failing and reason not valid"
Command: https://localhost:8081/api/heartbeat/nodesonly
Body: [Node1]
{
  "APIResults" : {
    "Status Code" : -1,
    "Function Name" : "GetHealthCheck",
    "Result Data" : "No data available",
    "Result Description" : "Get Heartbeats Failed Error: Unknown - see Kamanja Logs"
  }
}

The command is failing and the result desc should give the error instead of check logs.

[2016-04-29 21:19] ligadata-dhaval commented on #1076
Similar error for others such as the https://localhost:8081/api/heartbeat/componentnames

[2016-04-29 21:29] ligadata-dhaval commented on #1076
My cluster config is:

"Nodes": [
        {
          "NodeId": "1",
          "NodePort": 6541,
          "NodeIpAddr": "localhost",
          "JarPaths": [
            "/Users/dhavalkolapkar/Documents/dynamicloading/Kamanja-1.4.0_2.11/lib/system",
            "/Users/dhavalkolapkar/Documents/dynamicloading/Kamanja-1.4.0_2.11/lib/application"
          ],
          "Scala_home": "/usr/local/Cella

[2016-04-29 22:01] ligadata-dhaval commented on #1076
Engine error:
2733785 [ERROR] MetadataAPIGlobalLogger$: Failure processing GET_HEALTH_CHECK(Nodes Only) - unknown
com.fasterxml.jackson.core.JsonParseException: Unrecognized token 'Node1': was expecting 'null', 'true', 'false' or NaN
 at [Source: [Node1]; line: 1, column: 7]
	at com.fasterxml.jackson.core.JsonParser._constructError(JsonParser.java:1581) ~[ExtDependencyLibs2_2.11-1.4.0.jar:1.0]
	at

[2016-04-29 22:11] ligadata-william opened #1077 "Update scala model fails with false error "version should be higher""
When I attempt to update a scala model, after increasing the version from 0.0.1 to 0.0.2 or 0.0.3, I attempt to update with the command
[code]

However, despite having updated the version, I get the error
[code]

[2016-04-29 22:34] ligadata-pokuri commented on #1070
Fixed this issue in 1.4.0.Test with check-in aa2c8395cb0bf85f836f6a3c3be9fdfdf8abd768

[2016-04-29 22:35] ligadata-william commented on #1077
I just ran this with "kamanja add" as well and the same error occurred.

[2016-04-29 22:45] ligadata-william opened #1078 "When adding a new message def got warning regarding unreachable code"
/private/tmp/Kamanja/Kamanja-1.4.0_2.11/workingdir/NumberMessage/NumberMessage.scala:68: warning: unreachable code
      case oldVerobj: com.ligadata.automation.test.dag.V1000000.NumberMessage => { return  convertToVer1000000(newVerObj.asInstanceOf[com.ligadata.automation.test.dag.V1000000.NumberMessage], oldVerobj.asInstanceOf[com.ligadata.automation.test.dag.V1000000.NumberMessage]); }

[2016-04-29 22:46] ligadata-william commented on #1078
[NumberMessage.scala.txt](https://github.com/LigaData/Kamanja/files/243322/NumberMessage.scala.txt)

[2016-04-29 22:57] ligadata-pokuri commented on #1075
Added more scripts

Now you will see the following 4 script in bin folder to read input queues
WatchFinanceQueue.sh
WatchHelloWorldQueue.sh
WatchMedicalQueue.sh
WatchTelecomQueue.sh

[2016-04-29 23:01] ligadata-william commented on #1078
After talking to @ligadata-tulasi and taking a look, it looks like this only occurs when preceding the failure to add due to a message already existing by that name and that version. Closing as not a bug.

[2016-04-29 23:01] #1078 closed

[2016-04-29 23:03] ligadata-tulasi commented on #1078
This particular piece of code gets generated when the same message already exists in metadata, Message already exists error should  also come along with this...

[2016-04-29 23:13] ligadata-william commented on #1077
This is likewise occurring with messages.

[2016-04-29 23:18] ligadata-william opened #1079 "Removing and re-adding a message does not properly display changes to the message"
I added a message. Then I removed the message, changed a name of a field and incremented the version. When I add the message again, I run
[code]
and select the message I just added. The version I get from metadata has not been updated and the field name has not been changed.

[2016-04-29 23:25] ligadata-william commented on #1077
This isn't an issue. I had the wrong directory open in my editor and was updating different files.

[2016-04-29 23:25] #1077 closed

[2016-04-29 23:25] ligadata-william commented on #1079
This is not an issue. Edited one copy of a file and was adding another to metadata. Closing.

[2016-04-29 23:25] #1079 closed

[2016-04-30 06:40] ligadata-rich opened #1080 "Remove binding that produced results; add binding new ser format to different adapter same msg"
*Scenario:*

An output adapter message binding has been configured for csv on adapter "TestOut_1".  The customer has changed his mind, desiring json serialization. To fix, it is decided to use an unused adapter, "TestOut_2" with a new kafka topic "testout_2".

*Problem:*

The initial configuration produces data in csv.  The change is made to json and bound to the unused adapter.  Nothing is produc

[2016-04-30 06:43] ligadata-rich commented on #1080
checking the kafka queue testout_2 shows model produced results and left in queue.

$KAFKA_HOME/bin/kafka-console-consumer.sh --zookeeper localhost:2181 --topic testout_2 --from-beginning - and the message will show up
{ "@@SchemaId": 2000002, "id": 1,"name": "World" }
{ "@@SchemaId": 2000002, "id": 50,"name": "Hello" }
{ "@@SchemaId": 2000002, "id": 1,"name": "World" }
{ "@@SchemaId": 2000002, "i

[2016-04-30 06:45] ligadata-rich commented on #1080
I see this in the engine log:

ERROR [pool-25-thread-1] - Did not find/load Serializer for container/message:com.ligadata.kamanja.samples.messages.outmsg1 @Adapter:testout_1
ERROR [pool-25-thread-1] - testout_1 KAFKA PRODUCER: Messages, messages serialized data & serializer names should has same number of elements. Messages:1, Messages Serialized data:0, serializerNames:0
ERROR [pool-25-thread-1]

[2016-04-30 10:28] ligadata-yasser commented on #1076
@ligadata-dhaval
i see you used Body: [Node1]. there are two problems:
- the body is parsed as json, so you need to put node name in double quotes
- you should pass the node id as is in the cluster config

**So body should look like this: ["1"]**

@ligadata-dan
 I see the docs asking to use  format “Node” + “_id_of_desired_node”. but according to the code i don't see why we should do this. code wo

[2016-04-30 10:31] ligadata-yasser commented on #1064
@ligadata-pokuri
Alison changed the file adapter samples to have tenant id.
should the adapter check for it while validating the config, or would that be done on a higher level?

[2016-04-30 17:40] ligadata-pokuri commented on #1064
Hi yasser,

While uploading configuration, that need to validate for TenantId.

[2016-04-30 19:19] ligadata-haitham opened #1081 "model not migrated when upgrading from 133 to 140"
after upgrading from kamanja 133 to 140 , i was able to see messages and containers in metadata, but the Medical model did not get migrated.
i tried the upgrade 3 times with the same result :

[root@localhost ClusterInstall]# kamanja get all models
Result: Sorry, No models available in the Metadata

... also, i noticed that in hbase has the schema "statusinfo" , i did not delete or empty that sche

[2016-04-30 19:40] ligadata-pokuri commented on #1081
Hi Haitham,

Medical model is Java model or scala model or kPMML model?

[2016-05-01 02:22] ligadata-pokuri commented on #1080
Fixed couple of issues. Please check it with latest check-in 17c537da6b6705f18bd937a647fa86c170932c10

[2016-05-01 05:44] ligadatahari commented on #1070
The bug appears to be fixed.

[2016-05-01 05:44] #1070 closed

[2016-05-01 18:44] ligadata-pokuri commented on #1064
Hi dan, can you make sure we validate tenantid exists before save uploaded configuration

[2016-05-01 18:47] ligadata-pokuri commented on #1064
Make sure Name, TypeString & TenantId are must for adapters

[2016-05-01 18:56] ligadata-pokuri commented on #1076
Hi dan, Can you provide some sample curl command here how should it look like? I think you are already doing this for getHealthCheck.

[2016-05-01 19:25] ligadata-haitham commented on #1081
2016-04-28 08:29:26,460 - com.ligadata.Utils.Utils$ [pool-6-thread-1] - ERROR - Jar heartbeat_2.10-0.1.0.jar not found
2016-04-28 08:29:26,468 - com.ligadata.Utils.KamanjaClassLoader [pool-6-thread-1] - DEBUG - Trying to load class:com.ligadata.kamanja.samples.models.V1.COPDRiskAssessment, resolve:false
2016-04-28 08:29:26,471 - com.ligadata.MetadataAPI.CompilerProxy [pool-6-thread-1] - ERROR - Fa

[2016-05-01 19:48] ligadata-saleh opened #1082 "kamanja engine is not sending input or output to kafaka"
Hi ,
   kamanja engine is not sending input or output to kafaka am seeing this exception  in kafka logs  ,
java.io.EOFException
	at org.apache.kafka.common.network.NetworkReceive.readFromReadableChannel(NetworkReceive.java:83)
	at org.apache.kafka.common.network.NetworkReceive.readFrom(NetworkReceive.java:71)
	at org.apache.kafka.common.network.KafkaChannel.receive(KafkaChannel.java:160)
	at org.a

[2016-05-01 19:50] ligadata-pokuri commented on #1081
Raman, can we get all the jars from 1.1/1.2/1.3 and exclude them (both 2.10 & 2.11 versions)?

[2016-05-01 19:51] ligadata-pokuri commented on #1082
Can you investigate a bit more on your setup why engine is not able to connect to kafka?

[2016-05-01 19:54] ligadata-saleh opened #1083 "smart input adapter is not reading the file from the target folder"
Hi ,
  smart input adapter is not reading the file from the target folder am using this configuration :

 {
  "Name": "TestSmartInput_1",
  "TypeString": "Input",
  "ClassName": "com.ligadata.InputAdapters.SmartFileConsumer$",
  "JarName": "KamanjaInternalDeps_2.11-1.4.0.jar",
  "DependencyJars": [
    "ExtDependencyLibs_2.11-1.4.0.jar",
	"ExtDependencyLibs2_2.11-1.4.0.jar"
  ],
  "AdapterSpecific

[2016-05-01 20:39] #1060 closed

[2016-05-01 21:13] ligadata-yousef commented on #1072
till now the timerange is begintime = 0 and endtime = 0 because all data saved in container with this timerange.
another option is to keep begintime and endtime without value.

[2016-05-01 21:14] ligadata-yousef commented on #1071
fixed, check it please

[2016-05-01 21:22] ligadata-yousef commented on #1073
for begintime and endtime the relational is AND.
for heys the relational is OR.

for example the FILTER ELEMENT 2 means:

delete/select the data from container where
 begintime =  "20150612110312" and endtime = "20150612110412"
and (key = ["1", "2", "3"] or key = ["12", "222", "333"]);

i will send a document with all cases as soon as possible.

note: this is a real example from medical containers

[2016-05-01 21:25] ligadata-yousef commented on #1074
till now i don't know how we can find the number of rows that deleted because storage adapter does not return this information when you pass keys and/or timeranges to delete. so i add warn to tell you the data deleted successfully after use delete operation.

note: this a temporary solution till we find a way to count number of deleted rows.

[2016-05-01 21:31] ligadata-yousef commented on #1062
now you can see after select data from container with no result:

warn - 0 rows fetched successfully.

[2016-05-01 21:32] ligadata-yousef commented on #1059
fixed, it is now supported.

[2016-05-01 22:49] ligadata-pokuri opened #1084 "Save Cache, SystemCatalog, EnvironmentContext, ZooKeeperInfo, etc as separate keys in Datastore from Clusterconfig"
Save Cache, SystemCatalog, EnvironmentContext, ZooKeeperInfo, etc  as separate keys in Datastore from Clusterconfig. Otherwise when we add extra adapters without these information it is clearing all these keys.

Also check whether user properties saving them properly or not. At any cost we should not lose configuration while adding incremental configuration.

And while removing we should remove in

[2016-05-01 22:51] ligadata-pokuri commented on #1084
original upload cluster config ...

[2016-05-01 22:58] ligadata-pokuri commented on #1081
Hi haitham, can you check them and update the issue

[2016-05-01 23:14] ligadata-pokuri opened #1085 "Remove multiple Adapter message bindings"
Hi Rich,

We need to allow users to remove multiple Adapter message bindings.

One of the option is take the same file what we used to add bindings to remove the same. And another option is just consider another file with full binding names.

[2016-05-02 00:03] ligadata-pokuri opened #1086 "Failing to shutdown KamanjaManger if it waiting for storage/input/ouput adatpers"
Failing to shutdown KamanjaManger if it waiting for storage/input/ouput adatpers

[2016-05-02 00:04] ligadata-pokuri opened #1087 "Duplicate classes in ExtDependencyLibs2_2.11-1.4.0.jar & ExtDependencyLibs_2.11-1.4.0.jar"
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/data/Kamanja/Kamanja-1.4.0_2.11/lib/system/ExtDependencyLibs2_2.11-1.4.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/data/Kamanja/Kamanja-1.4.0_2.11/lib/system/ExtDependencyLibs_2.11-1.4.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: See http://www.slf4j.org/codes.htm

[2016-05-02 04:51] ligadata-pokuri opened #1088 "Value Delimiter is not handled in CSV Serialiser/Deserialiser"
Value Delimiter is not handled in CSV Serialiser/Deserialiser. Only handled field delimiter

[2016-05-02 05:17] ligadata-rich commented on #1085
Maybe we can just supply a json array either on the command line or by file.

[2016-05-02 06:00] ligadata-rich commented on #1085
_**For example, this array contains four binding keys in it:**_

[
  "kafkaAdapterInput1,com.botanical.json.ordermsg,com.ligadata.kamanja.serializer.JsonSerDeser",
  "kafkaAdapterInput1,com.botanical.json.shippingmsg,com.ligadata.kamanja.serializer.JsonSerDeser",
  "hBaseStore1,com.botanical.json.audit.ordermsg,com.ligadata.kamanja.serializer.JsonSerDeser",
  "hBaseStore1,com.botanical.json.audit.

[2016-05-02 06:08] ligadata-pokuri commented on #1085
ok We can implement these

[2016-05-02 13:23] ligadata-yasser commented on #1083
@ligadata-saleh
please verfiy

[2016-05-02 14:36] ligadata-saleh opened #1089 "can't update massage binding"
Hi ,
   can't update massage binding , i have to remove then add the new massage binding .

Thanks
Saleh

[2016-05-02 15:55] ligadata-pokuri commented on #1089
Yes we don't support updating adapter message binding. We are asking to remove & add new one. Need to see whether update make sense or not. In future we may support more than one serializer for same adapter & message.

[2016-05-02 16:06] ligadata-william commented on #785
Verified and closing.

[2016-05-02 16:06] #785 closed

[2016-05-02 16:06] ligadata-william commented on #784
This is invalid in 1.4. Closing.

[2016-05-02 16:06] #784 closed

[2016-05-02 16:09] ligadata-william commented on #733
Some more detail was needed to fill out exactly what was desired and it was never given. This has been stale a long time. Closing until someone has an issue related to this again.

[2016-05-02 16:09] #733 closed

[2016-05-02 16:10] ligadata-william commented on #732
@ligadata-alison I know this issue has been stale a while (my fault). Can you post the link to the cleanup documentation here?

[2016-05-02 16:23] ligadata-yousef commented on #1072
you can now SELECT * from container using the below format in filter file:

[
   {
    "begintime": "-1",
    "endtime": "-1"
   }
]

[2016-05-02 16:34] ligadata-saleh commented on #1082
returning the /etc/hosts to default , i change that after installing Karberus , things get missed up after restarting the VM .

Thanks
Saleh

[2016-05-02 16:34] #1082 closed

[2016-05-02 16:54] ligadata-alison commented on #732
http://kamanja.org/administration-monitoring-1-4/cleanutil-1-0-1-4/

On Mon, May 2, 2016 at 9:10 AM, William Tarver <notifications@github.com>
wrote:

[2016-05-02 18:14] ligadata-pokuri commented on #1069
Dan added this.

[2016-05-02 19:15] ligadata-pokuri commented on #1087
We can handle this after 1.4.0. release. For now degrading priority to P3

[2016-05-02 19:26] ligadatahari opened #1090 "update jtm on COPDDataIngest give helloworldmessage update error"
I am getting the following when i am updating the jtm model .(Probllem attached() that contains debug output is attached)   Steps to reproduce

1) Start pre kamanja servers -Zookeeper, Kafka, hbase
2) kamanja upload cluster config $KAMANJA_HOME/config/ClusterConfig.json
3) kamanja start
4) Run  $KAMANJA_HOME/input/SampleApplication/bin/MedicalApp.sh
5) Run  $KAMANJA_HOME/input/SampleApplication/bi

[2016-05-02 19:30] ligadata-william opened #1091 "Recompile model fails when updating a message"
ERROR [main] - COMPILER_PROXY: Unable to find at least one message in the Metadata for this model
ERROR [main] - COMPILER_PROXY: unable to determine model metadata information during recompile.
com.ligadata.Exceptions.MsgCompilationFailedException: tempCode
	at com.ligadata.MetadataAPI.CompilerProxy.parseSourceForMetadata(CompilerProxy.scala:890) ~[KamanjaInternalDeps_2.11-1.4.0.jar:0.1-SNAPSHOT]

[2016-05-02 20:00] ligadata-william opened #1092 "kamanja help doesn't display command to remove adapter message bindings"
As the title states, when I run kamanja help, I need to see the usage for remove adaptermessagebinding.

[2016-05-02 21:57] ligadata-pokuri commented on #1090
Some how we made "Failed to Update Model. Invalid Version." for Upgrading the component and "Failed to Add Model. Model with higher version required than any previous version including removed models" for add with lesser and same version in the system.

[2016-05-02 22:11] ligadata-william opened #1093 "kamanja dump all cfg objects doesn't display "Tenants" configuration"
When I add Tenants to my cluster config and I run the command
[code]

The "Tenants" section is not displayed.

[2016-05-02 22:12] ligadata-pokuri commented on #1093
Without this information we can not see what are the tenants available in the configuration.

[2016-05-02 22:27] ligadata-saleh commented on #1083
verified

[2016-05-02 22:27] #1083 closed

[2016-05-02 22:34] ligadata-pokuri opened #1094 "Get SchemaId & ElementId for Messages & Containers in Get function"
Get SchemaId & ElementId for Messages & Containers in Get function

[2016-05-02 22:35] ligadata-pokuri opened #1095 "Get ElementId for Models"
Get ElementId for Models in Get function(s)

[2016-05-02 22:38] ligadata-saleh opened #1096 "get massge , model and container json does not contain tenantid"
Hi ,
    metadata api , get massge , model and container json does not contain tenantid .

Thanks
Saleh

[2016-05-02 22:52] JPCreedon opened #1097 "Fixing a spelling mistake"
Added log4j-1.2-api for log4j **backword** compatibility (we support both…

**backward**

[2016-05-03 00:57] ligadata-tulasi opened #1099 "JTM - Compilation Errors when using Mapped Messages"
Getting the following errors while adding medical jtm (for mapped messages)

/data/1.4.0.Messages/Kamanja-1.4.0_2.11/workingdir/COPDDataIngest/COPDDataIngest.scala:60: error: value sp_copd is not a member of com.ligadata.kamanja.samples.messages.V1000000.HL7
        result.sp_copd = conversion.ToInteger(inpData(20))
               ^
/data/1.4.0.Messages/Kamanja-1.4.0_2.11/workingdir/COPDDataIngest

[2016-05-03 01:14] ligadata-dan commented on #1093
@ligadata-william
Ok, as I said, we did not implement the getting a tenant from the database into the tenant object to be returned to the user.  The Tenant Info is correctly stored.  Please verify that it is being correctly returned

[2016-05-03 04:28] ligadata-pokuri commented on #1099
[test.zip](https://github.com/LigaData/Kamanja/files/246295/test.zip)

[2016-05-03 04:30] ligadata-tulasi commented on #1099
The attached zip file consists the mapped messages , model and jtm used in testing and also the generated jtm scala file.

[2016-05-03 04:51] ligadata-ramana commented on #1081
Haitham, Please check with latest code. I am able to migrate 133_2_10 to 140_2_11  after the fix.

[2016-05-03 06:23] ligadata-dan commented on #1076
@ligadata-dhaval

Can you make sure with the "" in the body?  I think our doc is missing it, and we'll mention it to Alison to document it.  I think we took it out last release

[2016-05-03 06:24] ligadata-dan commented on #1076
@ligadata-yasser
By the way, the way to call it is here

http://kamanja.org/administration-monitoring-1-4/monitoring-kamanja-1-4/gethealthcheck-1-4/

[2016-05-03 07:12] ligadata-rich opened #1100 "Mapped message indication not honored... StructTypeDef type created"
For this message:

{
  "Message": {
    "NameSpace": "com.botanical.csv",
    "Name": "mappedemailmsg",
    "Version": "1.00",
    "Description": "email message",
    "Fixed": "false",
    "Elements": [
      {
        "Field": {
          "Name": "From",
          "Type": "System.String"
        }
      },
      {
        "Field": {
          "Name": "To",
          "Type": "System.String"

[2016-05-03 08:26] ligadata-saleh commented on #1043
verified

[2016-05-03 08:26] #1043 closed

[2016-05-03 08:54] ligadata-haitham commented on #1081
Issue no longer exists.
i am able to migrate 133_210 to 140_210 and see output at the output queue.

[2016-05-03 09:32] ligadata-saleh opened #1101 "smart input adapter on hdfs"
Hi ,
 smart input adapter on hdfs is reading the file correctly first time , after copying the same file again to the input folder am getting this massage .

SMART FILE CONSUMER (MonitorController): File on the buffering Q is not found com.ligadata.InputAdapters.hdfs.HdfsFileHandler@7c75df55

*looking for the file its already exists

hadoop dfs -cp /tmp/processed/Input_Data_HelloWorld.csv.gz /tmp/

[2016-05-03 11:47] ligadata-haitham opened #1102 "MetadataAPI : removing a non-existing adapterBinding"
when trying to remove an adapter binding that doesnt exist, i get the following message :
 ( assuming copdriskassessment_outputmsg is not the correct message name )

kamanja remove adaptermessagebinding KEY "testout_1,com.ligadata.kamanja.samples.models.copdriskassessment_outputmsg,com.ligadata.kamanja.serializer.csvserdeser"

Result: {
  "APIResults" : {
    "Status Code" : 0,
    "Function Name"

[2016-05-03 12:25] ligadata-saleh opened #1103 "adding the same message binding with different serializes"
Hi ,

    adding the same message binding with different serializes return a duplicated output , listing the Adapter Message Binding i can see this :

{
  "APIResults" : {
    "Status Code" : 0,
    "Function Name" : "ListAllAdapterMessageBindings",
    "Result Data" : "testout_1,com.ligadata.kamanja.samples.messages.outmsg1,com.ligadata.kamanja.serializer.kbinaryserdeser",
    "Result Description

[2016-05-03 14:25] ligadata-yasser commented on #1101
@ligadata-saleh
please verify

[2016-05-03 14:45] ligadata-pokuri commented on #1103
We should not allow more than one serializer for the same adapter & message

[2016-05-03 14:46] ligadata-pokuri commented on #1102
rich we should give status code is -1

[2016-05-03 14:51] ligadata-saleh commented on #1101
verified

[2016-05-03 14:51] #1101 closed

[2016-05-03 14:53] ligadata-pokuri commented on #1100
Hi tulasi, check with rich once and fix it if he already not fixed it

[2016-05-03 15:50] ligadata-pokuri commented on #1064
Yasser, can you verify whether adapter is enforcing for Name, TypeString & TenantId or not?

[2016-05-03 16:00] ligadata-pokuri commented on #1021
Hi william, Can you verify this and close? We don't see this error in most recent days

[2016-05-03 16:00] ligadata-pokuri commented on #1081
Hi haitham, close this issue, if it already fixed

[2016-05-03 16:04] ligadata-pokuri commented on #1096
I think dan already fixed it. Can you verify?

[2016-05-03 16:07] ligadata-pokuri commented on #903
This is part of 1.4.0. release. Can you verify it?

[2016-05-03 16:10] ligadata-pokuri commented on #812
this is must. We need to have Persist as True and Partition keys. We simply ignore the messages which does not have these instead of throwing error (and failing transaction) while comiting data.

[2016-05-03 16:10] ligadata-pokuri commented on #813
Can you verify it once? I am thinking this is there now

[2016-05-03 16:11] ligadata-pokuri commented on #813
If not fixed assign back to me

[2016-05-03 16:14] ligadata-pokuri commented on #752
In mapped messages, you can have any key & data which does not declared in Mapped message defintion. i don't think this is valid issue. We capture all the extra input we get and hold them as strings (in mapped messages).

[2016-05-03 16:25] ligadata-william commented on #752
@ligadata-pokuri, I don't think this issue was regarding having an unregistered field passed in so much as it was to have a mechanism by which a user could determine that a field was misspelled in the data. I think this was desired more for debugging purposes.

[2016-05-03 16:48] ligadata-pokuri commented on #752
william, how do we know whether it is new field or misspelled? What is the criteria you are deciding this is misspelled?

[2016-05-03 16:59] ligadata-william commented on #752
The best thing here is to let the responsibility of the error handling fall on the model itself and not on the platform. Closing.

[2016-05-03 16:59] #752 closed

[2016-05-03 17:01] ligadata-william commented on #1093
Verified and closing.

[2016-05-03 17:01] #1093 closed

[2016-05-03 17:03] ligadata-yasser commented on #1064
Verified

[2016-05-03 17:09] ligadata-william commented on #1066
Verified as fixed. Closing.

[2016-05-03 17:09] #1066 closed

[2016-05-03 17:10] ligadata-william commented on #1065
Verified as fixed. Closing.

[2016-05-03 17:10] #1065 closed

[2016-05-03 17:11] ligadata-william commented on #1044
Verified as fixed. Closing.

[2016-05-03 17:11] #1044 closed

[2016-05-03 17:11] ligadata-william commented on #1021
Verified as fixed. Closing.

[2016-05-03 17:11] #1021 closed

[2016-05-03 17:11] ligadata-william commented on #1020
Verified as fixed. Closing.

[2016-05-03 17:11] #1020 closed

[2016-05-03 17:15] ligadata-haitham opened #1104 "GenerateAdapterBindings in ClusterInstall : result is am empty Json string."
when running the GenerateAdapterBindings script i get an empty Json string.
this is the command i use : ( ./GenerateAdapterBindings.sh --KamanjaHome /opt/KamanjaDoubleVersions2/Kamanja-1.4.0_2.10 --ClusterConfig /opt/KamanjaDoubleVersions2/Kamanja-1.4.0_2.10/config/ClusterConfig.json --OutputFile /opt/KamanjaDoubleVersions2/Kamanja-1.4.0_2.10/config/AdapterMessageBindings.json)
where /opt/KamanjaD

[2016-05-03 17:27] ligadata-william commented on #1017
Verified as fixed. Closing.

[2016-05-03 17:27] #1017 closed

[2016-05-03 17:28] ligadata-william commented on #1016
Verified as fixed. Closing.

[2016-05-03 17:28] #1016 closed

[2016-05-03 17:30] ligadata-william commented on #970
Verified as fixed. Closing.

[2016-05-03 17:30] #970 closed

[2016-05-03 17:35] ligadata-pokuri commented on #979
william, can you verify this once again whether we still have this issue or not? I am lowering the priority for this. If we still have issue we will take care of this next release.

[2016-05-03 17:39] ligadata-william commented on #1013
The main point I was trying to make was that any directory that we use as part of a unit test should be under the project-in-question's resources directory. As far as my tmp dir, if I restart my laptop, I don't even have a /tmp directory because it has been erased. When I create any directory /* without using sudo, I get a permission denied error, which means when I sudo mkdir /tmp, it has elevate

[2016-05-03 17:40] ligadata-rich commented on #1102
whoops!

[2016-05-03 17:40] ligadata-pokuri commented on #807
Need to verify this in 1.4.0.

[2016-05-03 17:41] ligadata-pokuri commented on #795
william, can you check this once?

[2016-05-03 17:42] ligadata-pokuri commented on #840
So far we did not get any information & we could not able to repro this. Lowering the priority to P3.

[2016-05-03 17:43] ligadata-pokuri commented on #879
William, can you verify this one. As far as I know dhaval/dan fixed it.

[2016-05-03 17:46] ligadata-rich commented on #1103
I think we should change the key for the adapters to be the 'adapterName,namespaceMsgName'

[2016-05-03 17:46] ligadata-dhaval commented on #1075
Verified

[2016-05-03 17:46] #1075 closed

[2016-05-03 17:46] ligadata-pokuri commented on #1049
fixed

[2016-05-03 17:46] ligadata-saleh commented on #1047
verfiyed

[2016-05-03 17:46] #1047 closed

[2016-05-03 17:48] ligadata-william commented on #879
Verified as fixed. Closing.

[2016-05-03 17:48] #879 closed

[2016-05-03 17:48] ligadata-william commented on #1019
This is fixed. Closing.

[2016-05-03 17:48] #1019 closed

[2016-05-03 17:48] ligadata-william commented on #1018
Verified as fixed. Closing.

[2016-05-03 17:48] #1018 closed

[2016-05-03 17:50] ligadata-pokuri commented on #1051
Hi william, I am lowering the priority for this.

[2016-05-03 17:51] ligadata-pokuri commented on #1052
William, you have written another sample with documentation. Can you verify this and close?

[2016-05-03 17:53] ligadata-dhaval commented on #695
Outdated

[2016-05-03 17:53] #695 closed

[2016-05-03 17:54] ligadata-pokuri commented on #1088
Fixed and checked in. Yet to be verified

[2016-05-03 17:54] ligadata-saleh commented on #1050
verified

[2016-05-03 17:54] #1050 closed

[2016-05-03 18:00] ligadata-pokuri commented on #1013
For now we can keep it as P2/P3. If it is really blocking testing we can move to P1 in next release and see alternatives what should we do.

[2016-05-03 18:27] #1064 closed

[2016-05-03 18:39] ligadata-yasser commented on #1049
verified

[2016-05-03 18:39] #1049 closed

[2016-05-03 18:50] ligadata-dan commented on #1071
@ligadata-yousef

Hi Yusef, Diaval is seeing a corrupt file being externalized into the file

[2016-05-03 18:52] ligadata-dan commented on #1071
@ligadata-dhaval

Please add your findings to this

[2016-05-03 18:56] ligadata-dan commented on #1057
ok, looks good

[2016-05-03 18:56] #1057 closed

[2016-05-03 18:57] ligadata-dhaval commented on #1076
verified the functionality. Documentation needs to be updated. It needs to be ["1"] instead of ["Node1"]

[2016-05-03 18:58] ligadata-william commented on #1052
@ligadata-alison, can you send me the link to the documentation so I can
verify it? Or we can go over it together tomorrow.
On May 3, 2016 10:51 AM, "ligadata-pokuri" <notifications@github.com> wrote:

[2016-05-03 19:00] ligadata-dhaval commented on #1071
I am getting the below result when I open the .dat file:
��?
   �0�w?��Ғ������`bz6m��N��;�k9[uK��pt4	�i�@��T�-c<岤�IcI�\�:�%{0n��T�m��_�l�Ŭ����pX�E������'���*��/��I��m�;K"H��hx��%�Mc��&��>ۗ�O~���f

Can we have a txt file instead?

Also, result is coming as warning.

[2016-05-03 19:04] ligadata-alison commented on #1076
Hi Dhaval,
     So where I see:

"Name": "Node3",
    "Version": "1.3.0.0",
"UniqueId":19,
"LastSeen": "2015-08-0418: 26: 12",
"StartTime": "2015-08-0418: 24: 42",

I should change that to

"Name":"3"?

On Tue, May 3, 2016 at 11:58 AM, Dhaval Kolapkar <notifications@github.com>
wrote:

[2016-05-03 19:06] ligadata-alison commented on #1052
Here you go:

http://kamanja.org/qs-1-4/run-samples-1-4/

On Tue, May 3, 2016 at 11:58 AM, William Tarver <notifications@github.com>
wrote:

[2016-05-03 19:06] ligadata-dhaval commented on #1074
I get the results as:
WARN [main] - The data deleted successfully. It is coming as a warning instead of output
I dont get the location of the output file result. I checked /tmp/kamanja and no file is created.
I think if we could get more information of what is deleted, it would be helpful.

[2016-05-03 19:07] ligadata-yasser commented on #1076
h @ligadata-alison

i think you should replace all occurences of (The BODY of the POST should contain a JSON array of node values in the format “Node” + “_id_of_desired_node”.)
with (The BODY of the POST should contain a JSON array of node names)

[2016-05-03 19:10] ligadata-dhaval commented on #1072
Testing dependent on 1074

[2016-05-03 19:10] ligadata-alison commented on #1076
ok i did that but are the examples up-to-date?

http://kamanja.org/administration-monitoring-1-4/monitoring-kamanja-1-4/gethealthcheck-1-4/

On Tue, May 3, 2016 at 12:07 PM, ligadata-yasser <notifications@github.com>
wrote:

[2016-05-03 19:12] ligadata-dhaval commented on #1062
Closing as it similar to 1074

[2016-05-03 19:12] #1062 closed

[2016-05-03 19:13] ligadata-yousef commented on #1074
there is no output file for delete data, it just remove data from container. and we cannot get an information of deleted data because storage adapter does not  give that information.

[2016-05-03 19:13] ligadata-dhaval commented on #1058
Verified

[2016-05-03 19:13] #1058 closed

[2016-05-03 19:14] ligadata-yousef commented on #1071
i don't know why you see that result , below is my result:

0330,\"0330 - Whooping cough due to bordetella pertussis [B. pertussis]\"
0331,\"0331 - Whooping cough due to bordetella parapertussis [B. parapertussis]\"
0338,\"0338 - Whooping cough due to other specified organism\"
0339,\"0339 - Whooping cough
4843,\"4843 - Pneumonia in whooping cough\"
7868,\"7868 - Hiccough\"
33983,\"33983 - Primary

[2016-05-03 19:14] ligadata-yasser commented on #1076
I think we don't need to. Nodes names are strings. so if node name in cluster config is "1", it should appear  just as is in the json result. same if node name is "Node1", it should appear as is.
So in the samples we can just assume that our nodes are ("Node1", "Node2", ....)

[2016-05-03 19:14] ligadata-haitham commented on #1104
[ClusterConfig.zip](https://github.com/LigaData/Kamanja/files/247572/ClusterConfig.zip)

[2016-05-03 19:20] ligadata-pokuri commented on #1074
Dhaval, We don't want to output all the data deleted at this moment. I don't know whether it is practical and any other tools will do that. As far as I know no databases or tools will dump all deleted rows (may be I am looking at db tools).

[2016-05-03 19:23] ligadata-pokuri commented on #1074
Yousef, can you also do println() same string what ever you are doing WARN. And move WARN to INFO

[2016-05-03 19:24] ligadata-dhaval commented on #1074
ok Pokuri. @ligadata-yousef Can we remove the  --outputpath /tmp/kamanja for delete in the documentation?

[2016-05-03 19:26] ligadata-pokuri commented on #1074
Yes we don't need output file for delete

[2016-05-03 19:26] ligadata-dhaval commented on #1071
Could you print the results as well along with WARN?

[2016-05-03 19:28] ligadata-pokuri commented on #1100
Fixed with checkin SHA-1: ca921336a6c460c5d6836d61e433b5693184de03. Can you verify it?

[2016-05-03 19:28] ligadata-yousef commented on #1074
if i move WARN to INFO we should change logger level in log4j2.xml from WARN to INFO and in this case we will see a lot of info lines for all process in Kamanja in addition to a lot of INFO lines for ContainerUtility tool.

if you want i can do that.

[2016-05-03 19:30] ligadata-pokuri commented on #1071
Hi Dhaval,
Where do we need to print results? Only status we need to give with println/INFO. The real data should go to file.

[2016-05-03 19:30] ligadata-pokuri commented on #1074
yousef, that's why we are asking you to do println also. That will give on console

[2016-05-03 19:30] ligadata-pokuri commented on #1074
Just status information

[2016-05-03 19:32] ligadata-dhaval commented on #1071
Yes, I meant the status which we are showing as WARN as of now

[2016-05-03 20:10] ligadata-alison commented on #1074
Hi Yousef,
     Please let me know of any documentation updates - as you have been
doing. :)
thanks,
alison

On Tue, May 3, 2016 at 12:30 PM, ligadata-pokuri <notifications@github.com>
wrote:

[2016-05-03 20:14] ligadata-alison commented on #1076
ok please verify that the documentation is correct:

http://kamanja.org/administration-monitoring-1-4/monitoring-kamanja-1-4/gethealthcheck-1-4/

[2016-05-03 20:28] ligadata-william commented on #795
Verified and closing.

[2016-05-03 20:28] #795 closed

[2016-05-03 20:31] ligadata-william commented on #979
Issues with running the tests themselves but the setup is ok. Closing.

[2016-05-03 20:31] #979 closed

[2016-05-03 20:31] ligadata-dhaval commented on #1071
Yousef and I checked and the code is working when compresssionstring is empty instead of gz. Maybe we need to update the code such that when a gz compression is given the output file is also a gz instead of dat.

[2016-05-03 20:34] ligadata-william commented on #1092
Verified and closing.

[2016-05-03 20:34] #1092 closed

[2016-05-03 20:57] ligadata-dan commented on #1095
@ligadata-pokuri

Models should to show ElementID

[2016-05-03 20:58] ligadata-dan commented on #1094
@ligadata-pokuri

Made some changes for Messages and Containers to handle ElementIds properly.  As per our discussion

Add, Update
Add,Add
Add, Update, Update

Scenarios work.

[2016-05-03 21:02] ligadata-dan commented on #1073
@ligadata-yousef

What about the relationship between objets in the array.    In the original example, the FilterElement X.  I use the Medical Container values to test it.

If it is an OR..  do we need purge duplicates  from the result set?

[2016-05-03 21:20] ligadata-dan commented on #1072
@ligadata-yousef

Ok, can you make sure Alison has this info?

[2016-05-03 21:20] ligadata-yousef commented on #1073
there is no  relationship between object elements. this tool take each element  separately  so if you need to delete/select data from container for one key and two discrete timeranges you should do like below:
[
{** <=========== FILTER ELEMENT 1**
"begintime": "2015",
"endtime": "2016",
"keys": [
["1", "2", "3"],
["12", "222", "333"]
]
},
{** <=========== FILTER ELEMENT 2**
"begintime": "2017",
"e

[2016-05-03 21:23] ligadata-yousef commented on #1072
@ligadata-dan

it is case 4 in testing select from container.

[2016-05-03 21:26] ligadata-dhaval commented on #1072
verified.

[2016-05-03 21:26] #1072 closed

[2016-05-03 21:27] ligadata-dhaval commented on #1059
verified.

[2016-05-03 21:27] #1059 closed

[2016-05-03 21:36] ligadata-yousef commented on #1071
fixed.

[2016-05-03 21:37] ligadata-pokuri commented on #1099
Hi joerg,

After doing these commands i still see issues. It is just generating code with . notation instead of set

$KAMANJA_HOME/bin/kamanja $KAMANJA_HOME/config/MetadataAPIConfig.properties add message $KAMANJA_HOME/input/SampleApplications/metadata/message/COPDInputMessage.json TENANTID tenant1

$KAMANJA_HOME/bin/kamanja $KAMANJA_HOME/config/MetadataAPIConfig.properties add message $KAMANJA_HO

[2016-05-03 21:37] ligadata-pokuri commented on #1099
data/Kamanja/Kamanja-1.4.0_2.11/workingdir/COPDDataIngest/COPDDataIngest.scala:50: error: value msg is not a member of com.ligadata.kamanja.samples.messages.V1000001.COPDInputMessage
      val inpData: Array[String] = msg1.msg.split(",", -1)
                                        ^
/data/Kamanja/Kamanja-1.4.0_2.11/workingdir/COPDDataIngest/COPDDataIngest.scala:60: error: value sp_copd is not a me

[2016-05-03 21:55] ligadata-yousef commented on #1074
@ligadata-dan

fixed

[2016-05-03 22:27] ligadata-dhaval commented on #1071
Verified

[2016-05-03 22:27] #1071 closed

[2016-05-03 22:30] ligadata-dhaval commented on #1073
Hi,

I used the below filter.json:

[
     {
       "begintime": "0",
       "endtime": "0"
     }
     ,
     {
       "begintime": "0",
       "endtime": "0"
     }
   ]

As it can be seen, it has the filter criteria twice which is why I get the below result:

4843,\"4843 - Pneumonia in whooping cough\"
7868,\"7868 - Hiccough\"
33983,\"33983 - Primary cough headache\"
0331,\"0331 - Whooping coug

[2016-05-03 22:46] ligadata-rich commented on #1103
It would generally risky to change the key as suggested in previous comment at this point.  This could system wide impact.

However, it should be possible to catch it with the current three part key... it will need a little bit of work... not quick hitter...

[2016-05-03 22:51] ligadata-pokuri commented on #1073
For now we can document this is expected behavior. i.e. for every key we pull data once.

[2016-05-03 22:52] ligadata-pokuri commented on #1073
Dhaval, make sure we document as NOTE in this utility documentation

[2016-05-03 23:06] ligadata-dhaval commented on #1073
Hi Alison,

Kindly could you add a note that if filter.json contains more than one criteria they will act individually and give results independent of each other.

e.g.

Consider the below filter.json for select criteria:

[
{
"begintime": "0",
"endtime": "0"
}
,
{
"begintime": "0",
"endtime": "0"
}
]

Both will return results independently and in this case the same result is shown twice.

4843,\"

[2016-05-03 23:19] ligadata-pokuri commented on #898
Fixed long back. Closing

[2016-05-03 23:19] #898 closed

[2016-05-03 23:45] ligadata-dhaval commented on #1074
Verified the implementation.

[2016-05-03 23:46] ligadata-william opened #1105 "InitKvStores_Finance.sh still references KVInit-1.0 fat jar, which no longer exists"
As the title states, when I run the script, I get the following errors:
[code]

[2016-05-03 23:46] ligadata-dhaval commented on #1074
@ligadata-alison Kindly could you update the documentation. The delete command should not have  --outputpath /tmp/kamanja option.

[2016-05-03 23:46] ligadata-alison commented on #1076
Doc up-to-date

[2016-05-03 23:46] #1076 closed

[2016-05-03 23:50] ligadata-dhaval commented on #1076
Yes but the documentation asks to add "Node"+"<id>" which I think should be
"<NodeId>". Our default cluster config has Nodes as 1,2. Due to this I
mistook it while testing.

Best Regards,
Dhaval Kolapkar
Platform Engineer Intern | LigaDATA

On Tue, May 3, 2016 at 4:46 PM, ligadata-alison <notifications@github.com>
wrote:

[2016-05-03 23:51] ligadata-tulasi commented on #1042
Assigning to William for verfication

[2016-05-03 23:51] ligadata-dan commented on #1091
@ligadata-william @ligadata-pokuri

Pokuri, as per our discussion... assigning to you

[2016-05-04 00:16] ligadatahari commented on #1094
Appears to be fixed , but however compilation issue needs to be fixes which is opened as another bug.

[2016-05-04 00:16] #1094 closed

[2016-05-04 00:22] ligadata-william commented on #938
This is working for me. Closing.

[2016-05-04 00:22] #938 closed

[2016-05-04 00:24] ligadata-william commented on #908
Verified.

[2016-05-04 00:24] #908 closed

[2016-05-04 00:26] ligadata-william commented on #1052
The title "Building a Simple Ensemble Model" should be "Building a Simple Model Ensemble". Once that's fixed, I'll close it.

[2016-05-04 00:26] ligadata-william commented on #719
Verified and closing.

[2016-05-04 00:26] #719 closed

[2016-05-04 00:46] ligadata-william commented on #796
Verified and closed.

[2016-05-04 00:46] #796 closed

[2016-05-04 00:47] ligadata-william commented on #812
Closing as By Design.

[2016-05-04 00:47] #812 closed

[2016-05-04 00:54] ligadata-william opened #1106 "PushSampleDataToKafka_Finance.sh still attempts to execute fat jar SimpleKafkaProducer-0.1.0"
When I run the script, I get the error:
[code]
because the jar no longer exists.

[2016-05-04 00:58] ligadata-william opened #1107 "Pushing Finance data produces "Not found any bindings to deserialize" errors"
See below for one such error.
[code]

[2016-05-04 00:58] ligadata-pokuri commented on #1106
Finance is not yet upgraded to 1.4.0.

[2016-05-04 01:05] ligadata-william opened #1108 "Telecom application produces no results in 1.4"
As the title indicates, there are no output results produced by the Telecom application.

[2016-05-04 01:05] ligadata-william commented on #789
Blocked by issue #1108

[2016-05-04 01:07] ligadata-william opened #1109 "Finance application needs to be updated for Kamanja 1.4"
None of the scripts have been updated and bindings have not been created to handle the finance application.

#1105
#1106
#1107

[2016-05-04 01:07] ligadata-william commented on #1105
Closing in favor of #1109

[2016-05-04 01:07] #1105 closed

[2016-05-04 01:07] ligadata-william commented on #1106
Closing in favor of #1109

[2016-05-04 01:07] #1106 closed

[2016-05-04 01:07] ligadata-william commented on #1107
Closing in favor of #1109

[2016-05-04 01:07] #1107 closed

[2016-05-04 01:23] ligadata-pokuri commented on #1091
Dan, I am getting this

 [main] - Not Notifying the engine about this operation because The property NOTIFY_ENGINE is not set to YES
ERROR [main] - COMPILER_PROXY: unable to determine model metadata information during recompile.
java.lang.StringIndexOutOfBoundsException: String index out of range: 100
	at java.lang.String.substring(String.java:1907) ~[?:1.7.0_79]
	at java.lang.String.subSequence(S

[2016-05-04 01:24] ligadata-pokuri commented on #1091
Take latest sources and see what is going on there.

[2016-05-04 01:29] ligadata-pokuri commented on #1088
Verified for both input array & output array

[2016-05-04 01:29] #1088 closed

[2016-05-04 01:30] ligadata-pokuri commented on #1091
That I got for Helloworld java model.

[2016-05-04 02:16] ligadatahari commented on #1095
- kamanja update fails on KPMML Model
Result: {
  "APIResults" : {
    "Status Code" : -1,
    "Function Name" : "UpdateModel(type = KPMML)",
    "Result Data" : null,
    "Result Description" : "Failed to Update Model. Model with higher version required than any previous version including removed models:system.helloworld.000001000005000002"
  }
}

-  kamanja update model java does not keep elemen

[2016-05-04 02:17] ligadatahari opened #1110 "KPMML and PMML Model update fails"
kamanja update fails on KPMML Model
Result: {
"APIResults" : {
"Status Code" : -1,
"Function Name" : "UpdateModel(type = KPMML)",
"Result Data" : null,
"Result Description" : "Failed to Update Model. Model with higher version required than any previous version including removed models:system.helloworld.000001000005000002"
}
}

pmml model update fails

Result: {
"APIResults" : {
"Status Code" : -1,

[2016-05-04 02:18] ligadatahari opened #1111 "Java/Scala model update does not keep element id constant"
kamanja update model java does not keep element ID constant

kamanja update model scala does not keep element ID constant

[2016-05-04 02:19] ligadatahari opened #1112 "update message give improper invalid inversion message similar to 1090 update model"
Similar to update model bug, update message has incorrect message invalid version when updated with the same version without altering the version number

[2016-05-04 03:11] ligadata-alison commented on #1073
I have updated the documentation:

http://kamanja.org/administration-monitoring-1-4/containersutility-1-4/

Please take a look and close if it's ok.

[2016-05-04 03:12] ligadata-dan commented on #1091
@ligadata-pokuri

There were a few errors in there, I have checked in a few fixes..  Willie, as an originator, can verify this.  The update works for me

Result: {
  "APIResults" : {
    "Status Code" : 0,
    "Function Name" : "AddMessageDef",
    "Result Data" : null,
    "Result Description" : "Message Added Successfully:com.ligadata.kamanja.samples.messages.msg1.000000000001000011"
  }
}
Recom

[2016-05-04 03:15] ligadata-alison commented on #1074
Hi Dhaval,
     Do you mean that I should remove --outputpath /tmp/kamanja from the
command? Or do I add a note that when you select the delete operation, you
cannot use the --outputpath option?
thanks,
alison

On Tue, May 3, 2016 at 4:46 PM, Dhaval Kolapkar <notifications@github.com>
wrote:

[2016-05-04 03:16] ligadata-dan commented on #1091
@ligadata-william

Please verify

[2016-05-04 03:17] ligadata-alison commented on #1076
I replaced all occurrences to "The BODY of the POST should contain a JSON
array of node names". Is this sufficient Dhaval or is there more?

On Tue, May 3, 2016 at 4:50 PM, Dhaval Kolapkar <notifications@github.com>
wrote:

[2016-05-04 03:23] ligadata-dan commented on #1112
@ligadata-pokuri

Hari volunteered ;-)

[2016-05-04 03:29] ligadata-alison commented on #1052
It's fixed - sorry about that!

On Tue, May 3, 2016 at 5:26 PM, William Tarver <notifications@github.com>
wrote:

[2016-05-04 04:01] ligadata-alison commented on #1074
Hi Pokuri,
     Should I remove --outputpath /tmp/kamanja from the command? Or do I
add a note that when you select the delete operation, you cannot use the
--outputpath option?
thanks,
alison

On Tue, May 3, 2016 at 8:15 PM, Alison Apel <alison@ligadata.com> wrote:

[2016-05-04 04:02] ligadata-dan commented on #1111
@ligadata-pokuri

Ok, the issue here is the package name in the Java/Scala classes don't match the Model Name specified in the GetModelName() method of the model

For example (COPD.java model

package com.ligadata.kamanja.samples.models;

vs.

        public String getModelName() {
            return "com.ligadata.models.samples.models.COPDRiskAssessment";
        }

We need to talk about how to f

[2016-05-04 04:09] ligadata-dan commented on #1110
@ligadata-pokuri @ligadata-rich

Hi Guys, per our conversion  creating and assigning the PMML part to Rich, I will take a look at KPMML

[2016-05-04 04:09] ligadata-dan opened #1113 "Unable to Update PMML"
@ligadata-rich

pmml model update fails

Result: {
"APIResults" : {
"Status Code" : -1,
"Function Name" : "UpdateModel(type = PMML)",
"Result Data" : null,
"Result Description" : "The model name and new version was not supplied for this PMML model : name= version=null\nOptionally one should consider supplying the exact version of the model being updated, especially important when you are maintaini

[2016-05-04 05:36] ligadata-dan commented on #1111
Please verify

[2016-05-04 06:17] ligadata-rich commented on #1110
The pmml update expects the full message name with version to be retrieved.  With the advent of the  inputMsgSets.message only contains the FullName portion (i.e., the namespace.name) of the message name.  I think we can use the inputMsgSets.message to just look up the metadata for the message and then get the fullname with version.

It should work as before by doing that.

I wouldn't be surprised

[2016-05-04 06:19] ligadata-rich commented on #1113
see #1110 comment.  We can probably just mark this duplicate of the #1110 ...

[2016-05-04 07:04] ligadatahari commented on #1084
It appears fixed.

[2016-05-04 07:04] #1084 closed

[2016-05-04 07:11] #1081 closed

[2016-05-04 08:45] ligadata-haitham commented on #1104
i was able to generate the json string by passing the older ClusterConfig.json file, that is from version 113.
i think there should be better description of the parameters in the Documentation to avoid confusion.

[2016-05-04 09:02] ligadata-saleh commented on #1096
still can't find the tenant id in the json output from commands :

kamanja get message
kamanja get model
kamanja get container

Thanks
Saleh

[2016-05-04 09:20] ligadata-haitham opened #1115 "Migrate 113 to 140 : failed to migrate model"
when migrating 113 to 140, i use the Java_ModelConfig_Medical.json compile config as it is, and model fails to migrate .
the upgrade log is attached , please search for "ERROR" to get to the stack trace.
[KamanjaLog_113_To_140_Upgrade.zip](https://github.com/LigaData/Kamanja/files/248462/KamanjaLog_113_To_140_Upgrade.zip)

[2016-05-04 11:53] ligadata-yousef commented on #1074
Hi Alison,

- in EXAMPLES section  note 1 testing truncate from container remove  "--outputpath /tmp/kamanja" from command.

- in EXAMPLES section  note 2 testing delete from container remove  "--outputpath /tmp/kamanja" from command.

- in EXAMPLES section change all "WARN [main]" to "[RESULT]"

Thanks
 Yousef

[2016-05-04 14:32] ligadata-alison commented on #1074
thanks!

On Wed, May 4, 2016 at 4:53 AM, Yousef Abu Elbeh <notifications@github.com>
wrote:

[2016-05-04 14:35] ligadata-alison commented on #1104
Hi Ramana,
    Haitham mentions that there should be a better description of:

1) should i use ClusterConfig.json from Kamanja-133/config (old) or from
Kamanja-140/ClusterInstall (new) ?
2) should $KAMANJA_HOME refer to Kamanja-133 dir? or Kamanja-140 dir?

when we call GenerateAdapterBindings in cluster installation? Would you
please let me know these answers?
thanks,
alison

On Wed, May 4, 2016

[2016-05-04 15:06] ligadata-pokuri commented on #1096
dan, can you check this? I thought you fixed this. If not can you check this?

[2016-05-04 16:00] ligadata-alison commented on #808
Added

[2016-05-04 16:00] #808 closed

[2016-05-04 16:14] ligadata-dan commented on #1096
@ligadata-saleh @ligadata-pokuri

Yep, TenantId was not added with the ElementID and SchemaID.   Added

[2016-05-04 16:26] ligadata-pokuri commented on #1096
now it is fixed. Saleh, can you test it.

[2016-05-04 16:30] ligadata-pokuri commented on #1099
Tulasi, verify this

[2016-05-04 16:33] ligadata-pokuri commented on #1104
Both should point to old version. This tool looks for old version KAMANJA_HOME & ClusterConfig.json

[2016-05-04 16:46] #1033 closed

[2016-05-04 16:57] ligadata-pokuri commented on #797
William, can you verify it and close?

[2016-05-04 16:58] ligadata-pokuri commented on #952
@ligadata-william, can you verify this?

[2016-05-04 16:58] ligadata-pokuri commented on #949
@ligadata-william, can you verify this?

[2016-05-04 17:16] ligadata-pokuri commented on #1115
Fixed MAP from mutable to immutable.

[2016-05-04 17:32] ligadata-william commented on #1091
Verified as fixed. Closing.

[2016-05-04 17:32] #1091 closed

[2016-05-04 17:36] ligadata-william commented on #813
This is still an issue.

[2016-05-04 17:38] ligadata-dan commented on #1110
@ligadatahari

The KPMML part seems to work.

Dans-MacBook-Pro-2:bin dankozin$ ./kamanja update model kpmml tenantid tenant1
Using default configuration /Users/dankozin/kamanja13/Kamanja-1.4.0_2.11/config/MetadataAPIConfig.properties
 WARN [main] - DATABASE_SCHEMA remains unset
 WARN [main] - DATABASE_LOCATION remains unset
 WARN [main] - DATABASE_HOST remains unset
 WARN [main] - ADAPTER_SPECIFIC

[2016-05-04 17:41] ligadata-pokuri commented on #1085
this is one of the test command

$KAMANJA_HOME/bin/kamanja $KAMANJA_HOME/config/MetadataAPIConfig.properties remove adaptermessagebinding FROMSTRING '["HelloWorldInput,com.ligadata.kamanja.samples.messages.msg1,com.ligadata.kamanja.serializer.csvserdeser", "TestOut_1,com.ligadata.kamanja.samples.messages.outmsg1,com.ligadata.kamanja.serializer.csvserdeser"]'

[2016-05-04 17:44] ligadata-william opened #1116 "After running kamanja remove type, all type still exists with kamanja get type"
I run the command
[code]
and I get result
[code]
but when I run
[code]
then I get a list of types
[code]
which still contains the type I removed.

My exact steps were
add message msg1 (version 00.01.00)
add message msg1 (version 00.02.00)
update message msg1 (version 00.03.00)

[2016-05-04 17:57] ligadata-pokuri commented on #1116
At this moment we are not supporting removing types. That should go away from documentation & help menu

[2016-05-04 18:14] ligadata-yasser commented on #1085
Verified both FROMSTRING  and FROMFILE commands

[2016-05-04 18:14] #1085 closed

[2016-05-04 18:21] ligadata-rich commented on #1113
fix in branch #1085 (Pokuri to merge to test shortly) for the PMML update.  See #1110

[2016-05-04 18:22] ligadata-pokuri commented on #1113
@ligadatahari , can you verify this. Meged issue1085 into 1.4.0.Test

[2016-05-04 18:24] ligadata-rich commented on #1110
rich@pepper:~/github/dev/1.4.0.Base/kamanja/trunk$ git commit -am "issue 1110 update pmml model"
[issue1085 5a7a074] issue 1110 update pmml model
 1 file changed, 7 insertions(+), 1 deletion(-)
rich@pepper:~/github/dev/1.4.0.Base/kamanja/trunk$ git push origin issue1085
Password for 'https://ligadata-rich@github.com':

[2016-05-04 18:25] ligadata-william commented on #952
Verified and closing.

[2016-05-04 18:25] #952 closed

[2016-05-04 18:35] ligadatahari commented on #1112
appears to be fixed

[2016-05-04 18:35] #1112 closed

[2016-05-04 18:42] ligadata-william commented on #1052
Verified and closing.

[2016-05-04 18:42] #1052 closed

[2016-05-04 18:46] ligadatahari commented on #1113
appears fixed. The problem was the error was thrown when the model did not exist. Opening another bug to throw error properly when the model did not exist

[2016-05-04 18:46] #1113 closed

[2016-05-04 18:57] ligadata-yousef commented on #1096
verified

[2016-05-04 18:57] #1096 closed

[2016-05-04 19:08] ligadata-william commented on #1042
Verified as fixed. Closing.

[2016-05-04 19:08] #1042 closed

[2016-05-04 19:11] ligadata-yousef commented on #1055
verified

[2016-05-04 19:11] #1055 closed

[2016-05-04 19:16] ligadata-rich commented on #1100
This now works as evidenced with the following output from tests found in MetadataAPI/src/test/resources/SampleAdapterMessageBindingUnitTests.md :

Result:
[
{
  "APIResults" : {
    "Status Code" : -1,
    "Function Name" : "AddAdapterMessageBinding",
    "Result Data" : "All binding additions were rejected!",
    "Result Description" : "One or more issues were encountered processing the input...

[2016-05-04 19:16] #1100 closed

[2016-05-04 19:18] ligadata-pokuri commented on #971
@ligadata-saleh can you verify this?

[2016-05-04 19:18] ligadata-pokuri commented on #968
@ligadata-saleh can you verify this?

[2016-05-04 19:19] ligadata-haitham commented on #1104
When i use the old version of kamanja "$KAMANJA_HOME" i get the following error :
[root@localhost ClusterInstall]# ./GenerateAdapterBindings.sh --KamanjaHome $KAMANJA_HOME --ClusterConfig /opt/Kamanja/config/ClusterConfig.json --OutputFile /opt/KamanjaDoubleVersions2/Kamanja-1.4.0_2.10/config/AdapterMessageBindings.json

parameter is --KamanjaHome
parameter is --ClusterConfig
parameter is --Output

[2016-05-04 19:19] ligadata-pokuri commented on #966
@ligadata-saleh can you verify this?

[2016-05-04 19:20] ligadata-pokuri commented on #964
@ligadata-saleh can you verify this?

[2016-05-04 19:25] ligadata-pokuri commented on #888
@ligadata-yousef can you verify this?

[2016-05-04 19:28] ligadata-pokuri commented on #858
@ligadata-yousef can you verify this?

[2016-05-04 19:36] ligadata-pokuri commented on #966
@ligadata-yasser can you verify this?

[2016-05-04 19:56] ligadata-haitham commented on #1115
Migration is successful with no issue to report

[2016-05-04 19:56] #1115 closed

[2016-05-04 19:59] ligadata-haitham commented on #1104
Generating the adapterBinding is successful, no further issue to report.

[2016-05-04 19:59] #1104 closed

[2016-05-04 20:01] ligadata-yasser commented on #966
Medical is verified so far

[2016-05-04 20:15] ligadata-saleh commented on #964
easyInstallKamanjaExperimental.sh take the scala version as a paramter and work fine .

verfied  .

Thanks
Saleh

[2016-05-04 20:15] #964 closed

[2016-05-04 20:17] ligadata-yousef commented on #858
the below is my scenario:

1- Add modelA
2- start the engine
3- Push messages for modelA and observe output
4- Remove modelA
5- Push messages for modelA and observe output (incorrect behavior)
6- Add modelB
7- Push messages for modelA and observe output (incorrect behavior)
8- stop the engine and start it again.
9- Push messages and observe no output.

where:

modelA : HelloWorld
modelB : Medical

[2016-05-04 20:28] ligadata-william commented on #949
Verified and closing.

[2016-05-04 20:28] #949 closed

[2016-05-04 20:30] ligadata-william commented on #903
Closing.

[2016-05-04 20:30] #903 closed

[2016-05-04 20:31] ligadata-william commented on #797
Verified and closing.

[2016-05-04 20:31] #797 closed

[2016-05-04 20:31] ligadata-saleh commented on #968
verfied

[2016-05-04 20:31] #968 closed

[2016-05-04 20:38] ligadata-pokuri commented on #858
Rich, can you check this one?

[2016-05-04 20:41] ligadata-haitham commented on #1102
issue is fixed.

[2016-05-04 20:41] #1102 closed

[2016-05-04 20:44] ligadata-rich commented on #1080
This now works.

[2016-05-04 20:44] #1080 closed

[2016-05-04 20:54] ligadata-yousef commented on #888
i tested this fix with same William scenario :

1- update message ==> works fine.
2- update container ==> i did not see the RecompileModel results for com.ligadata.kamanja.samples.models.copdriskassessment.1 in my result. i just see the below:

Result: {
  "APIResults" : {
    "Status Code" : 0,
    "Function Name" : "AddContainerDef",
    "Result Data" : null,
    "Result Description" : "Containe

[2016-05-04 21:55] ligadata-tulasi commented on #1099
Verified, closing.

[2016-05-04 21:55] #1099 closed

[2016-05-04 22:04] ligadata-yousef commented on #888
i see the below error in enginge logs:

Executing COPD Risk Assessment against Beneficiary message:
	Message Name: Beneficiary
	Message Version: 000000.000002.000000
	Message Desynpuf ID: 000002F7E0A96C32
ERROR [pool-25-thread-1] - Failed to execute model:com.ligadata.kamanja.samples.models.COPDRiskAssessment
java.lang.ArrayStoreException
Executing COPD Risk Assessment against Executing COPD Risk

[2016-05-04 22:11] ligadatahari commented on #1111
The element id's are constant, but both java and scala have the same element id. Two models scala/java have the same element id

[2016-05-04 22:14] ligadatahari commented on #1095
The bug is broken into different bugs 1110, 1111, and hence closing

[2016-05-04 22:14] #1095 closed

[2016-05-04 22:20] ligadata-pokuri commented on #888
Not yet fixed for containers. Messages are ok.

[2016-05-04 22:22] ligadatahari opened #1118 "cannot update on a non existiing object - should throw not exist error"
When you try to update the model when it does not exist, kamanja should throw the error as object does not exist, not version error.

Try to select a model for update without adding it  is the step to reproduce. Error may be generic on Kamanja objects (message, container ... etc)

[2016-05-04 22:40] ligadata-william commented on #1069
Verified that messages consumed are now a part of the KamanjaModelEvent. Closing.

[2016-05-04 22:40] #1069 closed

[2016-05-04 22:41] ligadata-pokuri commented on #966
@ligadata-ramana can you check why telecom is not producing any result

[2016-05-04 22:41] ligadatahari opened #1119 "add objects and adding them again with different version adds object without giving duplicate error"
When on object is added in Kamanja using Kamanja add and adding them again changing the version adds the object in Kamanja instead of giving error. for example

kamanja add message $KAMANJA_HOME/input/SampleApplication/metadata/message/Message_Definition_HelloWorld.json TENATID tenant1

and repeat add again after updating the message version.

Kamanja says added successfully when it should throw e

[2016-05-04 22:42] ligadata-yasser commented on #1109
Verified

[2016-05-04 22:42] #1109 closed

[2016-05-04 22:46] ligadata-william commented on #766
Verified and closing.

[2016-05-04 22:46] #766 closed

[2016-05-04 22:46] ligadata-william commented on #819
Verified and closing.

[2016-05-04 22:46] #819 closed

[2016-05-04 22:47] ligadata-william commented on #768
Verified and closing.

[2016-05-04 22:47] #768 closed

[2016-05-04 22:50] ligadata-rich commented on #858
This has been fixed.  There was no data emitted to the watchoutput after submitting it a 2nd time after the model remove... closing.

[2016-05-04 22:54] ligadata-rich commented on #858
this is complete

[2016-05-04 22:54] ligadata-rich commented on #858
done

[2016-05-04 22:54] #858 closed

[2016-05-04 23:19] ligadata-dan commented on #888
@ligadata-william @ligadata-pokuri  @ligadata-yousef

Hi Yousef,  Tested this scenario, and I am unable to reproduce.  Pokuri and I tried a number of scenarios and seems ok.

Willie,

Can you verify this doing your final testing.

[2016-05-04 23:23] ligadata-dan commented on #1073
@ligadata-alison

 Can you add an explicit comment to the POINT 5

...**(as a result you may see duplicate values in the output file)**

@ligadata-yousef
Hi Yousef,  chatted with pokuri, and maybe in the next release, we can externalize the result for each filter criteria to a different file.

[2016-05-04 23:26] ligadata-dan opened #1120 "an update to a container causes JTM to be recompiled"
Result: {
  "APIResults" : {
    "Status Code" : 0,
    "Function Name" : "AddContainerDef",
    "Result Data" : null,
    "Result Description" : "Container Added Successfully:com.ligadata.kamanja.samples.containers.coughcodes.000000000001000003"
  }
}
RecompileModel results for com.ligadata.kamanja.samples.models.copdriskassessment.1
{
  "APIResults" : {
    "Status Code" : 0,
    "Function Name"

[2016-05-04 23:26] ligadata-dan commented on #1120
@ligadata-pokuri

Hi, assigned to you for now.  Not sure if you want Ramana to take a look

[2016-05-04 23:38] ligadata-yasser opened #1121 "Medical sample is showing a few differences between java and scala models output results"
I ran both models for Medical sample. looks like numbers are zeros in scala output, but they are not in java output

java model output
00001C24EE7B06AC,1a,51,true,false,false,false,true,false,false,false,true,8024.0,0.0
00001C24EE7B06AC,1a,51,true,true,false,false,true,false,true,false,true,8024.0,240.0
00001C24EE7B06AC,1a,51,true,true,false,false,true,false,true,false,true,8024.0,2280.0
000002F7E

[2016-05-04 23:50] ligadatahari commented on #1110
it appears as fixed

[2016-05-04 23:50] #1110 closed

[2016-05-05 00:03] ligadata-alison commented on #1074
Closing

[2016-05-05 00:04] ligadata-saleh commented on #971
verified

--fromKamanja take only "1.1" or 1.2
--fromScala take only "2.10" or 2.11

Thanks
Saleh

[2016-05-05 00:04] #971 closed

[2016-05-05 01:37] ligadata-dan commented on #1111
@ligadata-pokuri @ligadatahari

I am closing this issue, this is going to be fixed in the next few weeks.. its related to Package Name vs Model Name inconsistency that we have.  Not a show stopper since I don't think people will be creating java and scala models by the same name

[2016-05-05 01:37] #1111 closed

[2016-05-05 01:38] ligadata-dan opened #1123 "Package Name vs Model Name - inconsistency."
Need to use the model name and not package name in the creation of the namespace of modelDef

[2016-05-05 02:39] ligadata-alison commented on #1073
Hi Dan,
     Please verify.

http://kamanja.org/administration-monitoring-1-4/containersutility-1-4/

thanks,
alison

[2016-05-05 02:45] ligadata-pokuri commented on #1063
Verified by @ligadatahari & @ligadata-dan

[2016-05-05 02:45] #1063 closed

[2016-05-05 03:03] ligadata-alison commented on #1073
closing

On Wed, May 4, 2016 at 4:24 PM, Dank <notifications@github.com> wrote:

[2016-05-05 03:07] ligadata-alison commented on #1074
Fixed and closing

[2016-05-05 03:07] #1074 closed

[2016-05-05 03:46] ligadata-dan commented on #1073
@ligadata-alison

Looks good

[2016-05-05 03:46] #1073 closed

[2016-05-05 04:31] #1090 closed

[2016-05-05 04:54] ligadata-william opened #1124 "ClusterDriverInstall for 1.4 lists tenantId in usage text as optional when it is mandatory"
When running upgrade to Kamanja 1.4, the usage for ClusterDriverInstall shows that tenantId is a completely optional parameter but not specifying it produces an error message indicating it is required.

[2016-05-05 05:04] ligadata-william commented on #888
Messages cause a successful recompile in models. However, containers don't trigger a recompile at all. Still not fixed.

[2016-05-05 05:26] ligadata-pokuri commented on #1124
TenantId is not optional in upgrade. So, we need to change the documentation & usage

[2016-05-05 05:42] ligadata-pokuri commented on #966
Verified Telecom.

[2016-05-05 05:42] #966 closed

[2016-05-06 06:39] ligadata-pokuri opened #1125 "Failed events should go to separate tenant adapter instead of sending all failed events to single adapter"
Failed events should go to separate tenant adapter instead of sending all failed events to single adapter. If we send all failed events to single adapter, it will mix up tenants information & also violates data security between tenants.

For now work around is, writing a model to populate separate messages for each tenant. But this not really good solution

[2016-05-06 06:41] ligadata-pokuri opened #1126 "Cluster Install upgrade should handle different data stores for SysCatalog & Tenants"
Cluster Install upgrade should handle different data stores for SysCatalog & Tenants. That way we can add more tenants later. Otherwise First tenant (Migrated one) will have all metadata for tenants.

[2016-05-06 06:42] ligadata-pokuri opened #1127 "Make sure we get Input adapters Fields & Values separators into Adapter bindings"
Make sure we get Input adapters Fields & Values separators into Adapter bindings for csv, KV, etc

[2016-05-09 17:10] ligadata-william commented on #1053
@saaimaslam, if you have verified, can you please close this issue?

[2016-05-11 15:48] ligadata-yasser opened #1128 "Reporting files that are already completed in previous engine run"
If engine is stopped after file input adapter finished a file, then restarted again, engine still passes that file's name as start info to the adapter. that applies to last files only. probably engine should support some kind of a mark that file processing is complete

[2016-05-11 22:45] ligadata-baraa opened #1129 "Complete Kamanja REST API"
The current list of the API http://kamanja.org/advanced-developers-guide/metadata-api/rest-api-commands/#upload_model_config is covers a small part of the commands http://kamanja.org/kamanja-commands-1-4/, and we need all of them to be exposed as a web services so we can use them for the UI stuff

[2016-05-11 22:48] ligadata-pokuri commented on #1129
baraa, can you let us know what do you really need at this moment?

What are the calls you need in Rest which are in Metadata API commands?

[2016-05-11 23:10] ligadata-william opened #1130 "MetadataAPISerialization.deserializeMetadata sets Author to empty string for message defs"
Regardless of what Author is in the message definition json string, when MetadataAPISerialization.deserializeMetadata is called on that json string, author is set to an empty string.

This occurs on line 832 of MetadataAPISerialization.scala (msgDef.author = "" // MsgDefInst.Message.Author)

This was discovered in failed unit test: "deserializeMetadata" should "return serialized MessageDef" starti

[2016-05-11 23:17] ligadata-william commented on #1130
This has been observed in container definitions as well.

[2016-05-12 18:47] ligadata-pokuri commented on #1108
Fixed it in 1.4.0 release. Can you verify it?

[2016-05-12 18:49] ligadata-pokuri commented on #1124
Check the existing stuff  (released in 1.4.0.) and let us know whether you need more information?

[2016-05-12 18:52] ligadata-pokuri commented on #789
William, can you verify this once on 1.4.0. release.

[2016-05-12 18:56] ligadata-pokuri commented on #1119
1. We should reject add if we already have an element for any type (model, message, container, etc)
2. We should reject update if we don't have an element for any type (model, message, container, etc)

[2016-05-12 18:58] ligadata-pokuri commented on #1118
1. We should reject add if we already have an element for any type (model, message, container, etc) https://github.com/LigaData/Kamanja/issues/1119
2. We should reject update if we don't have an element for any type (model, message, container, etc)

[2016-05-12 18:59] ligadata-pokuri commented on #1116
We have to make sure Add Type, Update type & Remove type functions are removed.

[2016-05-12 19:01] ligadata-pokuri commented on #1103
We fixed this in 1.4.0. @ligadata-william Can you verify it once?

[2016-05-12 19:03] ligadata-pokuri commented on #1086
May be we are failing if any adapter fails. Make sure we shutdown properly even other adapters are waiting for completing their work after few secs.

[2016-05-12 19:06] ligadata-pokuri opened #1131 "Expose RestAPI for Add/Remove AdapterMessageBindings"
Expose RestAPI for Add/Remove AdapterMessageBindings

[2016-05-12 19:10] ligadata-pokuri commented on #1041
Need to make sure we have latest cassandra client package for Kamanja 1.5.0.

[2016-05-12 19:18] ligadata-pokuri commented on #974
@ligadata-william , can you verify it once>

[2016-05-12 19:32] ligadata-pokuri commented on #965
All script should have shebang as the first line.

[2016-05-12 19:36] ligadata-pokuri commented on #897
Making this is not an issue. That is by design we download all the jars from storage to local system if there is any mismatch between jars in storage vs local.

[2016-05-12 19:38] ligadata-pokuri commented on #895
Make sure all configurations in ClusterConfig, Generated configs from Cluster installations, other configs like EnginConfig, etc has JarPaths.

[2016-05-12 19:41] ligadata-pokuri commented on #836
@ligadata-ahmad fixed couple of issues with increment transactionid. Can you please verify this ?

[2016-05-12 19:49] ligadata-ahmad commented on #836
there was another issue related to this . it should be fixed in this pull request https://github.com/LigaData/Kamanja/pull/899

[2016-05-12 19:56] ligadata-pokuri commented on #836
Hi @ligadata-ahmad ,
@ligadata-william  can verify this now in 1.4.0. right?

[2016-05-12 21:40] ligadata-william commented on #1051
I tried manually creating a table but not a namespace. I'll give it a try and see if it's just a permissions issue.

[2016-05-12 21:48] ligadata-pokuri commented on #1051
The behavior i seen at client environment is something similar. Once they create namespace they did not find any other issues of creating tables automatically.

[2016-05-12 22:34] ligadata-ramana opened #1132 "1.4.0 migration seem to fail with multiple models"
We migrate models concurrently. During migration we use a temporary file for each model being migrated. The attempt to generate unique file names has a bug. Use java class AtomicInteger to generate unique file names

[2016-05-13 05:12] ligadata-pokuri commented on #854
@ligadata-william can you verify this

[2016-05-13 05:12] ligadata-pokuri commented on #853
@ligadata-william can you verify this?

[2016-05-13 05:14] ligadata-pokuri commented on #706
@ligadata-william can you verify this?

[2016-05-13 05:15] ligadata-pokuri commented on #679
@ligadata-william can you verify this? if it still exists assign this to @ligadata-dan

[2016-05-13 05:17] ligadata-pokuri commented on #641
This is not valid any more. @ligadata-william verify this and close.

[2016-05-13 16:49] ligadata-william opened #1133 "Cannot remove and add same container name/version inproc (in the same JVM)"
We are currently unable to remove and re-add a container of the same version inproc because the associates types are not being removed along with the container. This was found from a failed unit test. Note the "Result Description" below. It indicates that higher version of mapofenvcodes exists in the system as opposed to the container itself.
[code]

[2016-05-13 18:41] ligadatahari commented on #1118
The following things are currently looked at for this bug

1) Message
2) Function
3) AdapterMessageBinding
4) Container
5) Model (java, scala, kpmml, pmml, jam)

[2016-05-13 18:41] ligadatahari commented on #1119
1) Message
2) Function
3) AdapterMessageBinding
4) Container
5) Model (java, scala, kpmml, pmml, jam)

[2016-05-13 18:45] ligadata-dan commented on #888
Result: {
  "APIResults" : {
    "Status Code" : 0,
    "Function Name" : "AddContainerDef",
    "Result Data" : null,
    "Result Description" : "Container Added Successfully:com.ligadata.kamanja.samples.containers.coughcodes.000000000001000001"
  }
}
RecompileModel results for com.ligadata.kamanja.samples.models.copdriskassessment.1
{
  "APIResults" : {
    "Status Code" : 0,
    "Function Name"

[2016-05-13 18:46] ligadata-dan commented on #1129
@ligadata-baraa

I assigned this to myself..   Let me know which functions are either not working or which functions that you need to make the UI work better.  We will keep this defect open for tracking purposes

[2016-05-13 18:48] ligadata-pokuri commented on #1119
@ligadatahari as far as I know we are already rejecting Adapter Bindings. Functions are not so important at this moment. We mainly need it for Containers, Messages & Models.

[2016-05-13 18:52] ligadata-pokuri commented on #1118
@ligadatahari as far as I know we are already rejecting Adapter Bindings. Functions are not so important at this moment. We mainly need it for Containers, Messages & Models.

[2016-05-13 18:55] ligadata-pokuri commented on #1129
@ligadata-dan & @ligadata-baraa , we also need to have a list of Kamanja commands and corresponding rest api calls. I will ask @ligadata-dhaval or @ligadata-ahmad to create this list. So, we know what are we really missing.

[2016-05-13 21:00] ligadata-dan commented on #1131
@ligadata-ramana @ligadata-pokuri

I will take it for now

[2016-05-13 21:25] ligadata-william opened #1137 "SmartFileProcessor gives misleading error when input directory does not exist"
When I configure Kamanja to use SmartFileProcessor as my input adapter and give it a directory that doesn't exist, it gives the following error:
[code]
This needs to first check to see if the directory exists and, if not, give an error message indicating that the directory does not exist.

[2016-05-13 21:28] ligadata-pokuri commented on #1137
We can make it as P2.

[2016-05-13 22:01] ligadata-william opened #1138 "Multiple Smart File Consumer Adapters attempt to read in a file for one directory, and apply its messages to all smart file adapters"
When I have more than 1 SmartFileConsumer as my input adapter, each with their own Locations, when a single file is placed in only 1 of the directories, the adapter that should be read from is read from, but the adapter attempts to read the messages into every kafka topic for which a SmartFileConsumer exists.

Example:
I have the following adapter configuration for hello world:
[code]
and the foll

[2016-05-13 22:06] ligadata-william commented on #1138
As an additional note, if I place the file in the wrong directory, it's still being processed.

[2016-05-13 22:36] ligadata-william commented on #854
Verified and closing.

[2016-05-13 22:36] #854 closed

[2016-05-13 22:37] ligadata-william commented on #836
Verified and closing.

[2016-05-13 22:37] #836 closed

[2016-05-13 22:38] ligadata-william commented on #888
Verified and closing.

[2016-05-13 22:38] #888 closed

[2016-05-13 22:55] ligadata-william opened #1140 "When Kamanja restarts with SmartFileConsumer adapter configured, checks for non-existent file"
When I process a file with Kamanja's SmartFileConsumer, then restart, I get the following warning:
[code]
As the warning indicates, the file does not exist. However, this is expected after being processed and doesn't warrant a warning.

[2016-05-13 22:57] ligadata-pokuri commented on #1140
This is same as issue #1128 . For now marking #1128 as duplicate of this. Getting description from #1128 to here

If engine is stopped after file input adapter finished a file, then restarted again, engine still passes that file's name as start info to the adapter. that applies to last files only. probably engine should support some kind of a mark that file processing is complete

[2016-05-13 22:58] ligadata-pokuri commented on #1128
This is duplication of #1140. Closing this.

[2016-05-13 22:58] #1128 closed

[2016-05-14 08:05] ligadata-dan opened #1143 "AdapterMessageBinding Enhancements"
We need to do 2 enhancements for AdapterMessageBindings functionality.

1. We need to audit all REST and Command line calls.
2. Added some REST logic that duplicates JSON parsing logic from the Command Line to get it to work for 1.4.1 patch.  This needs to be refactored a little when we get some time

[2016-05-15 10:02] ligadata-saleh commented on #889
Hi ,
   fixed in `https://github.com/LigaData/Kamanja/pull/1144` , please verify .

Thanks
Saleh

[2016-05-15 12:02] ligadata-yasser commented on #1138
@ligadata-william
Fixed, please verify

[2016-05-15 12:29] ligadata-yasser commented on #1137
Fixed, please verify

[2016-05-15 12:49] ligadata-saleh commented on #894
fixed in `https://github.com/LigaData/Kamanja/pull/1145` please verify , the adapter now search for the jar in the given path , no need to send it in json .

Thanks
Saleh

[2016-05-15 19:23] ligadata-baraa opened #1146 "RestAPI services crash after the second add model call"
Kamanja Version : 1.3.3

How to Reproduce:
Add a model, then after it has been added successfully try to add another one

Actual Results:
Rest services crash, and you have to restart it to proceed

Expected Results:
Adding the 2nd model successfully or getting an 'already exist' message if it's already been added

[2016-05-15 20:34] ligadata-baraa commented on #1146
Kamanja Version : 1.3.3

[2016-05-16 04:18] ligadata-william opened #1149 "In APIResults, ResultData that contains a list of information should be displayed as a json array"
Currently, if there are multiple pieces of information returned in an APIResult, such as a list of keys, they are a comma-separated string. For purposes of easy readability and better parsing, this should be changed into an array.

[2016-05-16 04:19] ligadata-william commented on #1149
@ligadata-dan I don't think this is just your responsibility but you're closest to this at the moment.

[2016-05-16 04:21] ligadata-william commented on #1138
@ligadata-yasser if this is fixed can you open a pull request please

[2016-05-16 04:21] ligadata-william commented on #1137
@ligadata-yasser can you create a pull request for this fix

[2016-05-16 10:01] #1116 closed

[2016-05-16 13:09] ligadata-majali commented on #1146
Kaman Version: 1.3.3

How to Reproduce:
Add message definition, then try upload config file

Actual Results:
Rest services crash, and you have to restart it to proceed

Expected Results:
After adding the message definition, we should be able to upload config file and model without the need to restart the service.

[2016-05-16 15:07] ligadatahari commented on #1119
Waiting on Dan Code acceptance

[2016-05-16 15:07] ligadatahari commented on #1118
waiting on Dan Code acceptance

[2016-05-16 15:56] ligadata-pokuri commented on #1146
Upload config file means is it Upload Model Config file?

[2016-05-16 16:07] ligadata-yasser commented on #1137
pull request is https://github.com/LigaData/Kamanja/pull/1134

[2016-05-16 16:08] ligadata-yasser commented on #1138
pull request is https://github.com/LigaData/Kamanja/pull/1134

[2016-05-16 16:28] ligadata-yousef commented on #977
pull request ID : #1152

[2016-05-16 17:36] ligadata-dan commented on #1146
@ligadata-baraa @ligadata-majali @ligadata-pokuri

So, I ran the steps,

1. Add a message

dankozin$ curl -X POST -d "@/Users/dankozin/kamanja13/Kamanja-1.4.0_2.11/input/SampleApplications/metadata/message/Message_Definition_HelloWorld.json" -k https://localhost:8081/api/message --header "tenantid:tenant1"
{
  "APIResults" : {
    "Status Code" : 0,
    "Function Name" : "AddMessageDef",
    "Resu

[2016-05-16 18:09] ligadata-dan commented on #1118
merged the code.  Go ahead and close

@ligadatahari

[2016-05-16 18:45] ligadata-pokuri commented on #1146
@ligadata-baraa, @ligadata-majali & @ligadata-alaa
@ligadata-dan verified this in 1.4.1 and he did not find any issue. Can you go ahead and try in 1.4.0/1.4.1 (mostly releasing today) and let us know if you find any issues.

[2016-05-16 18:59] ligadatahari commented on #1118
closed

[2016-05-16 18:59] #1118 closed

[2016-05-16 19:32] ligadata-dan commented on #1146
@ligadata-baraa @ligadata-majali @ligadata-pokuri

Also, verified that Update and Add of the model is working ok

curl -X POST --data-binary "@/Users/dankozin/kamanja13/Kamanja-1.4.0_2.11/input/SampleApplications/metadata/model/HelloWorld.java" -k https://localhost:8081/api/model/java --header "tenantid:tenant1" --header "modelconfig:HelloWorldModel"

{
  "APIResults" : {
    "Status Code" : 0,

[2016-05-16 19:33] ligadata-dan commented on #1146
@ligadata-baraa @ligadata-majali

FYI.. the doc is wrong on this issue:

When uploading source code (java or scala) instead of -d option, use --data-binary otherwise you may get corrupted characters

[2016-05-16 19:35] ligadata-dan commented on #1146
@ligadata-baraa @ligadata-majali @ligadata-pokuri

Also, we are detecting existing version during an update

{
  "APIResults" : {
    "Status Code" : -1,
    "Function Name" : "\"UpdateModel(type = java)\"",
    "Result Data" : null,
    "Result Description" : "Error :com.ligadata.Exceptions.AlreadyExistsException: Model com.ligadata.kamanja.samples.models.HelloWorldModel version should be higher

[2016-05-16 20:23] ligadata-saleh commented on #894
pull request changed to `https://github.com/LigaData/Kamanja/pull/1155 `

[2016-05-16 21:44] ligadata-yasser commented on #772
@ligadata-william
fixed, and issued a pull request #1157 . please verify

[2016-05-16 22:14] ligadata-william opened #1158 "SmartFileProcessor has no implementation for getComponentSimpleStats"
There is an override for getComponentSimpleStats, however, rather than returning statistics for monitoring purposes, it returns an empty string, as shown below. Found on line 1112 in SmartFileConsumer.scala.
[code]

This needs to be implemented in order to properly monitor the adapter.

[2016-05-16 22:17] ligadata-william opened #1159 "kamanja start fails when a custom configuration file is passed in"
If you attempt to start the engine with a properties file other than the default, the engine fails to start.

Command run:
[code]

Output Received:
[code]

[2016-05-16 22:18] ligadata-william commented on #1159
The workaround is to backup the default Engine1Config.properties in <KamanjaInstallDirectory>/config and add your custom config with the name Engine1Config.properties.

[2016-05-16 22:58] ligadata-ramana commented on #1127
pull request #1156

[2016-05-16 23:02] ligadata-ramana commented on #1132
see the pull request #1141

[2016-05-16 23:25] ligadata-pokuri commented on #889
Pull reque #1155

[2016-05-16 23:56] ligadata-dan commented on #889
Merged, Closing

[2016-05-16 23:56] #889 closed

[2016-05-17 00:08] ligadata-william opened #1161 "Shutting down SmartFileConsumer before it finishes processing a file deletes the file"
When shutting down Kamanja while it is using SmartFileConsumer, any file it is currently processing will be deleted and moved to the processed message directory. If a file is not done processing, upon restarting, the engine needs to continue processing where it left off.

[2016-05-17 00:17] ligadata-pokuri commented on #1132
Verifued, closing.

[2016-05-17 00:17] #1132 closed

[2016-05-17 00:44] ligadata-tulasi commented on #1068
please verify, created pull request #1162

[2016-05-17 00:44] ligadata-tulasi commented on #1067
please verify, created pull request #1162

[2016-05-17 02:36] ligadata-dan commented on #1068
@ligadata-william @ligadata-tulasi

Ok , I merged it.

[2016-05-17 02:36] #1068 closed

[2016-05-17 03:23] ligadatahari commented on #1119
Code merged

[2016-05-17 03:23] #1119 closed

[2016-05-17 04:34] #1067 closed

[2016-05-17 04:38] ligadata-dan opened #1165 "KAMANJA GET ALL MODELS does not return api result"
./kamanja get all models

returns

Result: [1]com.ligadata.kamanja.samples.models.helloworldmodel.000000000000000001

should be an API result

@ligadatahari
Can you take a look

[2016-05-17 09:07] ligadata-haitham commented on #1041
this issue is fixed in the following branch :
https://github.com/LigaData/Kamanja/tree/1.4.1-Kamanja-issues-1041

.......
- Dependencies updated to latest versions.
- added an exclude jar statement.
- Medical App successfully ran with Cassandra-3.0.6 as storage.

[2016-05-17 14:37] #1146 closed

[2016-05-17 19:08] ligadata-yasser commented on #1140
This same issue could cause other unexpected behaviors:
- if file f1 is processed completely and moved, then engine is stopped, after that the a new file with the same name is added (or same file added again), then engine started: engine will think this file is already finished so **it will not read any messages** and will move it without reading any messages

- currently the same file if processe

[2016-05-17 19:17] ligadata-yasser opened #1167 "Getting -1 when reading from a file at the moment of engine stopping"
At least in some cases, if the engine is stopped while reading a file, the reading process gets (-1) bytes which usually means we reached end of file, while actually the file is not finished. currenlty this issue is solved by checking that if a file is finished but adapter got shutdown signal, then the reading will be considered interrupted not actually finished

[2016-05-17 19:18] ligadata-yasser opened #1168 "File adapter ordering for file processing"
We should support user configuration that specifies in what order files are processed (e.g. file name). currenlty files are ordered by modification time

[2016-05-17 20:40] ligadatahari commented on #1165
it should work find now. Please pull out the latest code

[2016-05-17 20:52] ligadata-yasser commented on #1138
@ligadata-william
pull request is https://github.com/LigaData/Kamanja/pull/1134

[2016-05-18 00:41] ligadata-william commented on #1161
verified fixed. closing.

[2016-05-18 00:41] #1161 closed

[2016-05-18 00:41] ligadata-william commented on #1138
verified fixed. closing.

[2016-05-18 00:41] #1138 closed

[2016-05-18 00:42] ligadata-william commented on #1137
verified fixed. closing.

[2016-05-18 00:42] #1137 closed

[2016-05-18 00:42] ligadata-william commented on #1127
verified fixed. closing.

[2016-05-18 00:42] #1127 closed

[2016-05-18 00:42] ligadata-william commented on #1124
verified fixed. closing.

[2016-05-18 00:42] #1124 closed

[2016-05-18 00:48] ligadata-william commented on #1108
verified fixed. closing.

[2016-05-18 00:48] #1108 closed

[2016-05-18 00:50] ligadata-william commented on #1053
Closing based on Saaim's comment.

[2016-05-18 00:50] #1053 closed

[2016-05-18 00:53] ligadata-william commented on #1041
this branch didn't get included in 1.4.1. @ligadata-pokuri is this something we want to include in 1.4.1 or should we switch it to 1.5.0?

[2016-05-18 00:59] ligadata-pokuri commented on #1041
this we can postpone to 1.5.0.

[2016-05-18 04:04] ligadata-rich commented on #1014
Assuming @ligadata-william or @ligadatahari find no issues, this issue is solved.

[2016-05-18 05:47] ligadata-pokuri opened #1174 "Support Cluster Install for the same version when HOTFIX is released"
Support Cluster Install for the same version when HOTFIX is release. Like when 1.4.1 is released we should allow ClusterInstall from 1.4.0. That way user can simply use ClusterInstall to use new software on all nodes with in the cluster.

[2016-05-18 22:36] ligadatahari commented on #1165
closed

[2016-05-18 22:36] #1165 closed

[2016-05-19 22:44] ligadata-william commented on #1103
Tested on latest code. Looks like this is still an issue:
[code]

[2016-05-19 22:53] ligadata-william commented on #853
Verified as fixed. Closing.

[2016-05-19 22:53] #853 closed

[2016-05-19 22:54] ligadata-william commented on #974
Verified as fixed. Closing.

[2016-05-19 22:54] #974 closed

[2016-05-19 22:55] ligadata-william commented on #641
Closing.

[2016-05-19 22:55] #641 closed

[2016-05-19 23:02] ligadata-william commented on #679
This isn't an issue anymore. Closing.

[2016-05-19 23:02] #679 closed

[2016-05-19 23:10] ligadata-william commented on #897
Closing.

[2016-05-19 23:10] #897 closed

[2016-05-19 23:11] ligadata-william commented on #706
Verified as fixed. Closing.

[2016-05-19 23:11] #706 closed

[2016-05-19 23:11] ligadata-william commented on #772
Verified as fixed. Closing.

[2016-05-19 23:11] #772 closed

[2016-05-19 23:12] ligadata-william commented on #789
Verified as fixed. Closing.

[2016-05-19 23:12] #789 closed

[2016-05-19 23:12] ligadata-william commented on #927
Verified as fixed. Closing.

[2016-05-19 23:12] #927 closed

[2016-05-19 23:17] ligadata-william commented on #977
The changes in the pull request are not enough to protect against a NullPointerException. There is nothing keeping me from changing any of the empty strings to null and then calling toJson. def toJson itself needs to have a try/catch to check for null and, at the very least, throw a KamanjaException indicating that the variables cannot be null.

[2016-05-19 23:27] ligadata-pokuri commented on #1103
@ligadata-rich , i thought you fixed this. Can youcheck it once again? i think you are checking only the db whether newly adding binding is already persisted or not. We also need to check local list.

[2016-05-19 23:37] ligadata-rich commented on #1103
I thought I did too.

[2016-05-19 23:50] ligadata-william commented on #638
This is no longer an issue. Closing.

[2016-05-19 23:50] #638 closed

[2016-05-19 23:51] ligadata-william commented on #1103
Is there a pull request associated with this? Perhaps it didn't get included.

[2016-05-20 05:04] ligadata-rich commented on #1103
I am not sure what is wrong yet... I will look into it.  This is the code that is in the build in AdapterMessageBindingUtils.scala:457 in the SemanticChecks function... this should catch it but evidently does not:

        if (adapter != null) {
            val existingAdapterBindings : Array[AdapterMessageBinding] = mdMgr.BindingsForAdapter(adapter.Name).values.toArray
            val adapterBind

[2016-05-20 05:56] ligadata-pokuri commented on #1103
Rich, What ever you are saying is correct if the binding is already added in previous call.  If two bindings are in same call then this goes wrong. That is what william is testing now.

[2016-05-20 06:30] ligadata-rich commented on #1103
I will fix it tomorrow.

On Thu, May 19, 2016 at 10:56 PM, ligadata-pokuri <notifications@github.com>
wrote:

[2016-05-20 17:44] ligadata-alison commented on #732
William has added the cleanutil script that properly cleans up Kafka, ZooKeeper etc. The documentation is:
http://kamanja.org/administration-monitoring-1-4/cleanutil-1-0-1-4/

[2016-05-20 17:44] #732 closed

[2016-05-20 17:47] ligadata-alison commented on #639
Hi Tulasi,
    Can I add to the message documentation that we do NOT support nested json for message/container definitions?
thanks,
alison

[2016-05-20 18:17] ligadata-tulasi commented on #639
Yes Alison, please add it.

[2016-05-20 18:40] ligadata-dan commented on #1131
This has been shipped with 1.4

[2016-05-20 18:40] #1131 closed

[2016-05-20 19:02] ligadata-dhaval opened #1177 "Zookeeper client looks for /kamanja/monitor/metadata even when it is not created"
I faced an issue when closing the zk client it fails with the error below and then tries to reconnect to the server. But till then I have closed my server and so I get ConnectionRefused error. This is while doing Embedded WS test in kamanja automation

ERROR [Curator-PathChildrenCache-0] - Exception while processing event from zookeeper ZNode /kamanja/monitor/metadata
java.lang.NullPointerExceptio

[2016-05-20 19:18] ligadata-pokuri commented on #895
NodeInfoExtract also should do the same when it generated config files

[2016-05-20 19:30] ligadata-pokuri commented on #813
We have only two types now. Array[Container] & Map[String, Container]. We can remove them (of same version when we remove the container/message.

[2016-05-20 19:35] ligadata-pokuri commented on #944
@ligadata-ahmad , can verify this and let us know whether it is still an issue or not?

[2016-05-20 19:38] ligadata-pokuri commented on #583
This is duplicate of https://github.com/LigaData/Kamanja/issues/723

[2016-05-20 20:01] ligadata-pokuri commented on #1035
Comment whole code from Alt. Cmd. Parser

[2016-05-20 20:03] ligadata-pokuri commented on #870
Add -D log for all scripts like we have in other scripts (Ex: StartEngine.sh)

[2016-05-20 20:09] ligadata-pokuri commented on #803
First check what is missing. Then fix all of them.

[2016-05-20 20:20] ligadata-pokuri commented on #811
Lowered the priority because no customers are really using cassandra at this moment

[2016-05-20 22:14] ligadata-william commented on #840
So far we've been unable to reproduce this issue and no information has been given on how we could reproduce this. This will be closed. If anything comes up in the future, this issue can be reopened.

[2016-05-20 22:14] #840 closed

[2016-05-20 23:08] ligadata-william commented on #1051
I created some namespaces manually. Then I attempted to add metadata and received the following error:
[code]
When running hbase shell, I performed list_namespace and got the following:
[code]

[2016-05-22 05:17] ligadata-ramana commented on #1133
Create a pull request #1178

[2016-05-22 07:27] ligadata-yousef commented on #977
Please verify.
pull request ID : #1152

[2016-05-22 10:14] ligadata-saleh commented on #965
adding missing Shebang to some scripts and make sure they are all in top  , please verify

[2016-05-22 14:32] ligadata-saleh commented on #870
fixed in https://github.com/LigaData/Kamanja/pull/1179

please verify

[2016-05-22 15:00] ligadata-baraa opened #1180 "Delete model activating the older version"
When I delete a model using the RestAPI it activates an older model version rather than delete the model with its all version.

If this is a by design behaviour, then I'd suggest to have delete-version service in addition delete-model

[2016-05-22 15:14] ligadata-saleh commented on #895
fix in https://github.com/LigaData/Kamanja/pull/1181

please verify

[2016-05-22 19:32] ligadata-haitham opened #1182 "after upgrading from 1.4.0 to 1.4.1 : kamanja operations throw errors about 1.4.0 jars"
to reproduce :
1) add models using kamanja-1.4.0 .
2) set up kamanja-1.4.1 , and have $KAMANJA_HOME point to it.
3) do " kamanja get all models"
4) it will throw some errors, but the results will show correctly at the end.

here are the errors:
============================================
.
.
.
ERROR [main] - Node Undefined not found in metadata
ERROR [main] - Failed to download the Jar of the obj

[2016-05-23 21:04] ligadata-dhaval commented on #1035
AlternateCmdParser.scala commented out. Also, commented the method def AltRoute(origArgs: Array[String]) as it is not being used in the StartMetadataAPI.scala

[2016-05-23 21:06] ligadata-dhaval commented on #1035
I have created a pull request  #1184 for it.

[2016-05-23 21:11] ligadata-dhaval commented on #946
Updated the help menu in pull request #1184 and branch KAMANJA_1035

[2016-05-23 22:09] ligadata-pokuri commented on #1035
@ligadata-dhaval , assign it to yourself and verify it

[2016-05-23 23:23] ligadata-william commented on #1133
I've verified this is fixed and in 1.5.0. Closing.

[2016-05-23 23:23] #1133 closed

[2016-05-23 23:28] ligadata-tulasi commented on #873
Please Verify

[2016-05-23 23:29] ligadata-william opened #1186 "Update message fails due to failure to update associated types"
When attempting to update a message, the following api results appear, indiciating that, while the message may have had its version updated properly, the associated types are stale and don't update.
[code]

[2016-05-24 00:13] ligadata-tulasi commented on #813
Please Verify.

[2016-05-24 00:53] ligadata-tulasi commented on #1186
Please Verify, fixed with issue 1133 fix.

[2016-05-24 02:00] ligadata-pokuri commented on #800
@ligadata-william , verify this one as #796 is already closed

[2016-05-24 02:01] ligadata-pokuri commented on #709
We support multiple output adapters now.

[2016-05-24 02:01] #709 closed

[2016-05-24 02:04] ligadata-pokuri commented on #637
we removed these projects from trunk/build.sbt long back.

[2016-05-24 02:04] #637 closed

[2016-05-24 05:59] ligadatahari commented on #942
proposed

kamanja get all models
getAllModels()  (active + inactive)

kamanja get all models INACTIVE
getAllInactiveModels()  only inactive

kamanja get all models ACTIVE
getAllActiveModels()   only active.

[2016-05-24 09:31] ligadata-krishna commented on #942
Hari,

The first change breaks existing usage, so we need to have new name and
deprecate the current one. We also need to have mechanism to get all
versions or few recent versions (may be some param to indicate whether
current version or some recent versions).

Thanks
-Krishna
On May 23, 2016 10:59 PM, "Hariharane Ramasamy" <notifications@github.com>
wrote:

proposed

kamanja get all models
getAll

[2016-05-24 17:16] ligadata-william commented on #800
Closing as duplicate.

[2016-05-24 17:16] #800 closed

[2016-05-24 17:58] ligadata-william commented on #1186
Verified and closing.

[2016-05-24 17:58] #1186 closed

[2016-05-24 23:42] ligadata-dhaval opened #1190 "Kamanja web service does not give authentication error"
When authentication e.g. keystore path or SSL_PASSWD is missing, it does not give any error.

[2016-05-24 23:47] ligadata-dhaval opened #1191 "Kamanja web service does not stop when error occurs"
Kamanja web service thread does not stop when errors occur. Probably because it has  Thread.sleep(365*24*60*60*1000L)

[2016-05-24 23:51] #1190 closed

[2016-05-24 23:56] #1191 closed

[2016-05-24 23:58] ligadata-dhaval commented on #723
As william mentioned, Kamanja web service thread does not stop when errors occur. Probably because it has Thread.sleep(3652460601000L). We need to handle all generic exceptions and close the web service when any exception occurs. I have closed the issue 1191as duplicate which is on similar lines as this.

[2016-05-25 22:08] ligadata-alison commented on #639
Added documentation that we do not support nested JSON and also what happens when the input message does not match the message definition.

[2016-05-25 22:08] #639 closed

[2016-05-26 00:56] ligadata-dhaval commented on #723
Hi Yasser,
Below is my analysis on the web service:

system.shutdown should shutdown the akka actor system which is the web service for us. This will shut the web service down. However, the zkListener is creating curator clients which stay connected to the zkServer. Even if we say client.close, it causes the clients to go into suspended state instead of LOST. Due to this, it reconnects to the serv

[2016-05-26 03:34] ligadata-rich opened #1192 "pmml models are not using "outmessage" value from kamanja command line"
The value given for the "outmessage" parameter is not being sent down to the MetadataAPIImpl.  As such, the post that is desired to the community forum cannot be made.

[2016-05-26 03:44] ligadata-rich commented on #1192
In the following zip file are some test files and the text for the forum post that should be made after it is the steps mentioned therein are tested with the other files in the zip....

The zip file:
[KamanjaSourceTestFiles.zip](https://github.com/LigaData/Kamanja/files/283428/KamanjaSourceTestFiles.zip)

[2016-05-26 05:20] ligadata-pokuri commented on #1192
@ligadata-ramana, the code for this issue is https://github.com/LigaData/Kamanja/tree/issue1192. can you verify whether we are taking the proper output msg or not for PMML.

[2016-05-26 06:29] ligadata-haitham commented on #619
this is the pull request : https://github.com/LigaData/Kamanja/pull/1193

This handles the unhandled exception when body is empty issue.
this does NOT handle "As an addition to this, there are multiple heartbeats for an engine node."

[2016-05-26 13:00] ligadata-yasser commented on #723
Hi Dhaval,
on branch (1.5.0-Kamanja-583_Kamanja-723), i added system.shutdown to service Shutdown() method, and also added MetadataAPIImpl.shutdown.
so far it worked because in the first tests i made, if there is something wrong with config (like missing password), the service just showed a warning and stopped - which is exactly what i want.
the only problem i am facing now, is when the service ru

[2016-05-26 21:45] ligadata-ahmad opened #1194 "cannot add a message if it has field with name "Log""
message definition  :

  "Message": {
   "NameSpace": "com.kamanja.demo.msgcontainer",
    "Name": "message1",
    "Version": "00.01.00",
    "Description": "",
    "Fixed": "true",
    "Fields": [
	{
	"Name": "field1",
	"Type": "System.string"
	},
	{
	"Name": "Log",
	"Type": "System.string"
	}
	]
  }
}

error message :

                var log: String = _;

        at com.ligadata.MetadataAPI.Mes

[2016-05-31 10:04] ligadata-yasser commented on #723
@ligadata-william

I made a few fixes:
- if ssl is disabled, no need for certificate file or passowrd, the service runs http normally
- if ssl is enabled, check for SSL_CERTIFICATE and SSL_PASSWD values, if one of them is missing or certificate file does not exist, give an error msg and shutdown service completely
- if passowrd is provided but was not correct an exceptin is shown as (ERROR) and se

[2016-05-31 10:05] ligadata-yasser commented on #724
@ligadata-william
please verify, pull request is #1195

[2016-05-31 10:06] ligadata-yasser commented on #567
@ligadata-william
please verify, pull request is #1195

[2016-05-31 10:07] ligadata-yasser commented on #583
@ligadata-william
please verify, pull request is #1195

[2016-05-31 10:11] ligadata-yasser opened #1196 "Exceptions are thrown when shutting down rest api service if storage is hashmap"
when shutting down the service manually (Ctrl+C) an exception is occasionally thrown. after i tried to clear storage folder and start again, the error became much less frequent. I don't always get the same exception: sometimes is thrown when trying to commit mapdb stores, and sometimes when closing after commit.

here is an example (trying to commit)

Exception in thread "shutdownHook1" com.ligada

[2016-06-01 16:41] ligadata-rich commented on #1192
@ligadata-yousef, there is a branch for this issue that is needed to fully test the pmml message generation tool.  It is branch "issue1192".

[2016-06-08 19:36] JPCreedon opened #1199 "Documentation - List of All Errors"
There is no list of documentation for all errors.

See thread:

http://kamanja.org/forums/topic/doc-enhancement-cover-all-error-messages/

[2016-06-09 17:51] JPCreedon opened #1200 "Starting Kafka error - Socket server failed to bind (Address already in use)"
Reported by Shilpa: http://kamanja.org/forums/topic/problem-starting-kafka-socket-server-failed-to-bind-address-already-in-use/

ERROR MESSAGE:
.
.
.
kafka.common.KafkaException: Socket server failed to bind to 0.0.0.0:9092: Address already in use.
at kafka.network.Acceptor.openServerSocket(SocketServer.scala:313)
at kafka.network.Acceptor.<init>(SocketServer.scala:241)
at kafka.network.SocketServ

[2016-06-09 18:33] ligadata-alison commented on #1199
Have created an Error Message section - currently containing 9 errors. It will be released with 1.5 - http://www.kamanja.org/error-messages-1-5

[2016-06-14 19:27] ligadatahari opened #1203 "kamanja update message tries to compile every model it is associated with"
kamanja update message ../metadata/message/OutMessage_Definition_HelloWorld.json  TENANTID hello Properties '{ "description" : "first updated \n change", "comment" : "hopefully it works", "tag" : "okokokok", "Updatedby" : "Who knows"}'

updates all models

....

...
added manifest
adding: com/(in = 0) (out= 0)(stored 0%)
adding: com/ligadata/(in = 0) (out= 0)(stored 0%)
adding: com/ligadata/kamanj

[2016-06-14 22:30] ligadata-greg opened #1204 "The CleanUtil-1.0 is not in $KAMANJA_HOME/bin"
Hello,
The CleanUtil-1.0 is not in $KAMANJA_HOME/bin

I followed the "binary install" process.

[http://kamanja.org/administration-monitoring-1-4/cleanutil-1-0-1-4/](url)

$ cd $KAMANJA_HOME/bin
$ java -jar CleanUtil-1.0 --help
**Error: Unable to access jarfile CleanUtil-1.0**
$
$ ls -l
total 176
-rwxrwxrwx@ 1 gregmakowski  admin   415 Jun 13 17:04 ContainersUtility.sh
-rwxrwxrwx@ 1 gregmakowski

[2016-06-20 21:01] ligadata-william opened #1211 "Hello World KPMML doesn't produce output (Kamanja Version 1.4.1)"
In version 1.4.1 of Kamanja, the HelloWorld KPMML model doesn't produce any output. The java model outputs as expected.

[2016-06-20 21:43] ligadata-pokuri commented on #1211
Hi william,
Did you make sure you added adapter bindings?

[2016-06-20 21:49] ligadata-william commented on #1211
Yes, I double checked that and tried again and still got no output. Only after adding the java model did I get output.

[2016-06-21 15:53] ligadata-yasser opened #1213 "Representing Null values in messages"
Currently there is no way to represent null values in kamanja messages. for example we cannot recognize empty string from null value

[2016-06-21 18:56] ligadata-william commented on #1204
The CleanUtil jar is no longer created. A script needs to be written to access it now. I'll assign this to myself.

[2016-06-21 18:57] ligadata-william commented on #1213
What did you see that led you to this? Can you give some reproduce steps including data?

[2016-06-21 18:59] ligadata-william commented on #1203
From what I understand, you're updating a message called "outmsg1" that most of the models that are recompiled do not have as a dependency but they are being recompiled anyway. Is this correct?
What branch did this occur on? I'm not able to reproduce on the dev branch.

[2016-06-21 19:03] ligadata-william commented on #1200
Is this actually Kamanja related? As far as I can see, you're trying to run kafka on a port that it's already running on. This seems like a purely administrative issue. Please correct me if I misunderstand.

[2016-06-21 19:09] ligadata-william commented on #1180
I believe the appropriate behavior here should be based on our current implementation should be:
1. Delete the version of the model specified (Since the full 'namespace.name.version' is a required parameter).
2. All other versions, whether newer or older, should remain inactive
3. All other versions, whether newer or older, should NOT be deleted

Additionally, it may be prudent to add an additiona

[2016-06-22 17:50] ligadatahari commented on #1203
fixed in 646 merge

[2016-06-22 17:57] #1203 closed

[2016-06-22 22:10] #1130 closed

[2016-06-23 00:30] ligadata-saleh opened #1225 "StartEngine.sh is not working"
Hi Dan ,
     StartEngine.sh is not running fine looking at the script the if statement condition is missing :

if
  JAAS_CONFIG_OPT="-Djava.security.auth.login.config="$KAMANJA_SEC_CONFIG
fi

i change it locally  to

if [ "$KAMANJA_SEC_CONFIG" ]; then
  JAAS_CONFIG_OPT="-Djava.security.auth.login.config="$KAMANJA_SEC_CONFIG
fi

Thanks
Saleh

[2016-06-23 00:35] ligadata-saleh opened #1226 "KafkaProducer is throwing an exception when setting "Security.protocol" to "SASL_PLAINTEXT""
KafkaProducer is throwing this exception when setting "Security.protocol" to "SASL_PLAINTEXT"

===> KafkaProducer starting  with sec of SASL_PLAINTEXT...
===> with SASL_PLAINTEXT
ERROR [main] - Failed to instantiate output/status adapter object:com.ligadata.OutputAdapters.KafkaProducer$
java.lang.NullPointerException
	at com.ligadata.OutputAdapters.KafkaProducer.<init>(KafkaProducer.scala:121) ~[K

[2016-06-23 00:45] ligadata-dan commented on #1225
@ligadata-saleh

Did you install the product using the EasyInstall?  Which script are you using for installation????

 I  know that the missing stuff should be there for sure...  I may have missed some other scripts.

See below

#!/bin/sh
KAMANJA_HOME={InstallDirectory}

# Start the engine with hashdb backed metadata configuration.  The zookeeper and your queue software should be running
ipport="8

[2016-06-23 00:51] ligadata-dan commented on #1225
@ligadata-saleh

Sorry, I misunderstood..  I see  fixing now

[2016-06-23 01:44] ligadata-dan commented on #1226
@ligadata-saleh

I need to make sure that the value is not null for this CONFIG option,

By the way

[2016-06-23 01:45] ligadata-dan commented on #1226
@ligadata-saleh

ssl.mechanism must be set I believe...

[2016-06-23 01:52] ligadata-dan commented on #1226
@ligadata-saleh

Hi Saleh.. sorry, I got confused again... I see the SASL.MECHANISM is defalvtable in the PRODUCER client code.. but I didn't check for null...

Its fixed, now

[2016-06-23 13:23] ligadata-saleh commented on #1225
verified

[2016-06-23 13:23] #1225 closed

[2016-06-23 13:23] ligadata-saleh commented on #1226
verified

[2016-06-23 13:23] #1226 closed

[2016-06-23 14:14] ligadata-saleh opened #1229 "Failed to instantiate output/status adapter object:com.ligadata.OutputAdapters.KafkaProducer"
Hi ,

    am getting the error below when i add "Security.protocol": "SASL_PLAINTEXT" and "SASL.KERBEROS.SERVICE.NAME": "kafka" to the adapter json , ca u please take a look .

ERROR [main] - Failed to instantiate output/status adapter object:com.ligadata.OutputAdapters.KafkaProducer$
org.apache.kafka.common.KafkaException: Failed to construct kafka producer
        at org.apache.kafka.clients.pro

[2016-06-23 16:50] ligadata-dan commented on #1229
@ligadata-saleh

Investigating.

[2016-06-23 16:56] ligadata-dan commented on #1229
@ligadata-saleh

Hi Saleh, can you paste the JAAS_FILES that you are using?

[2016-06-23 17:48] ligadatahari opened #1230 "Tenantid Not found exception not thrown"
Tenant id are not checked for existence prior to  inserting update/insert objects in kamanja 1.5.0

[2016-06-23 17:49] ligadata-william commented on #1035
This has been fixed and verified. Closing.

[2016-06-23 17:49] #1035 closed

[2016-06-23 18:23] ligadata-dan commented on #1229
@ligadata-saleh

Also, the ClusterConfig

[2016-06-23 22:27] ligadata-william opened #1232 "SetPaths.sh script fails to find kafka-topics.sh when kafka version is 0.9 or greater"
When $KAFKA_HOME points to a version of kafka version 0.9 or greater, it fails to find kafka-topics.sh when looking for it in $KAFKA_HOME/bin/kafka-topics.sh. The result of this is that none of the kafka related scripts are created. (See SetPaths.sh lines 104-124).

The reason this is occurring is due to the fact that in kafka 0.9+ all script names have had the '.sh' extension removed. The SetPath

[2016-06-24 20:55] ligadata-dan opened #1243 "H2DBAdapter does not implement storage statistics"
Looks like the data is not being collected in the new adapter imply..

[2016-06-24 21:28] ligadata-dan opened #1244 "Description in "Storage_Adapter" statistics is very vague."
Can we make the description a bit more meaningful, how about "Hbase", or "Cassandra"?

{
      "Type": "Storage_Adapter",
      "Name": "Storage_1",
      **"Description": "Storage_1",**
      "LastSeen": "2016-06-24 21:19:57",
      "StartTime": "2016-06-24 21:16:03",
      "Metrics": "{}"
    }

[2016-06-24 22:31] ligadatahari opened #1245 "model for message update fails"
This model exists for this message com.ligadata.kamanja.samples.models.helloworldmodel.000000000000000001 but still can not compile model

kamanja update message ../metadata/message/Message_Definition_HelloWorld.json TENANTID tenant1 PropertiesFile ../../../config/HelloProp.json
Unable to find a $JAVA_HOME at "/usr", continuing with system-provided Java...
 WARN [main] - getting pfile PropertiesFi

[2016-06-24 22:35] ligadata-pokuri commented on #1245
Hi Hari,

It is not H2DB issue. Looks like it is your issue. Looks to me it is in function getModelMessagesContainers.

[2016-06-24 23:15] ligadata-william opened #1246 "KVInit unable to connect to store when using H2DB"
When I run InitKVStores_*.sh I get the below error. This was found on branch 1.5.0.646.
[code]

[2016-06-24 23:19] ligadata-pokuri commented on #1246
William.

99.99% you are using 2.10 version of binaries and 2.11 version of scala to compile messages (which is in MetadataAPIConfig.Properties file). Can you check that and let us know?

[2016-06-24 23:19] ligadata-william commented on #1246
I’ll check.

[2016-06-24 23:40] ligadata-william commented on #1246
This was, as @ligadata-pokuri said, due to the fact that kamanja was compiled in 2.10 but I had 2.11 installed in my system when I compiled metadata. After switching scala to 2.10, everything worked fine. Closing.

[2016-06-24 23:40] #1246 closed

[2016-06-25 03:40] ligadata-dan opened #1248 "Datastore Adapter stats are not updated"
{"Type":"Storage_Adapter","Name":"Storage_1","Description":"Storage_1","LastSeen":"2016-06-24 20:38:16","StartTime":"2016-06-24 20:36:45","Metrics":"{}"}]}

{"Type":"Storage_Adapter","Name":"Storage_1","Description":"Storage_1","LastSeen":"2016-06-24 20:40:31","StartTime":"2016-06-24 20:36:45","Metrics":"{}"}]}

I can see the timer moving....

I am also pushing a bunch of data ...

PD,1,2016-06-24

[2016-06-25 08:27] ligadata-yasser opened #1249 "File Producer is not implementing method getComponentSimpleStats( )"
method getComponentSimpleStats() is empty so adapter is not shown in status queue

[2016-06-25 13:15] #1229 closed

[2016-06-25 20:47] ligadata-saleh opened #1250 "kafka kerberos new pull throwing null pointer exception"
===> KafkaConsumer starting
ERROR [main] - Failed to instantiate input adapter object:com.ligadata.InputAdapters.KamanjaKafkaConsumer$
java.lang.NullPointerException
        at com.ligadata.InputAdapters.KamanjaKafkaConsumer.<init>(KamanjaKafkaConsumer.scala:97) ~[KamanjaInternalDeps_2.11-1.4.1.jar:0.1-SNAPSHOT]
        at com.ligadata.InputAdapters.KamanjaKafkaConsumer$.CreateInputAdapter(Kamanja

[2016-06-26 15:29] ligadata-saleh opened #1251 "PushSampleDataToKafka_XXXXX looking for kerberos config file even for plaintext"
Please select from the above options: 11
User selected: /opt/kamanja/Kamanja-1.4.1_2.11/input/SampleApplications/data/Input_Data_HelloWorld.csv.gz
Exception in thread "main" java.io.FileNotFoundException:  (No such file or directory)
	at java.io.FileInputStream.open0(Native Method)
	at java.io.FileInputStream.open(FileInputStream.java:195)
	at java.io.FileInputStream.<init>(FileInputStream.java:13

[2016-06-26 15:32] ligadata-saleh opened #1252 "PushSampleDataToKafka_XXXXX is too slow and not pushing any data using sasl_plaintext"
Hi
    PushSampleDataToKafka_XXXXX is too slow and not pushing any data using sasl_plaintext , i push data using the command console it worked fine

Thanks
Saleh

[2016-06-26 17:08] ligadata-dan commented on #1250
@ligadata-saleh

Hi, please verify

[2016-06-26 18:58] ligadata-dan commented on #1251
@ligadata-saleh

Hi Saleh,  the issue here is that its looking for a nput_Data_HelloWorld.csv.gz but in the a/Kamanja-1.4.1_2.11/ directory - which doesn't exist.  The Kamanja645 branch still had 1.4.1  but Looks like your install script was from the 1.5.0.Test  which has the correct directory...

I think its a build issue that should be resolved once you pull the latest.

Please verify..  I am se

[2016-06-26 19:01] ligadata-dan commented on #1252
@ligadata-saleh

I saw this when I had 2 ports open (1 for SSL and one for SASL_PLAINTEXT)...  Once I just specified a single "listener"  in the KAFKA_HOME/conf/server.properties  it started working

[2016-06-27 00:20] ligadatahari opened #1254 "DB Connections are not closed properly"
When kamanaja stop/ start, clean up is done, db connects are still open to the h2 db and not closed even after kamanja exit

tcp4       0      0  192.168.1.9.9092       192.168.1.9.59347      ESTABLISHED
tcp4       0      0  192.168.1.9.9092       192.168.1.9.59345      ESTABLISHED
tcp4       0      0  192.168.1.9.9092       192.168.1.9.59344      ESTABLISHED
tcp4       0      0  192.168.1.9.9092

[2016-06-27 00:24] ligadata-pokuri commented on #1254
Hi hari,

By default 9092 is Kafka port. Can you change the port for H2DB and see whether we are still listening it or not?

[2016-06-27 00:42] ligadatahari opened #1255 "DB Connections are not closed properly"
When kamanaja stop/ start, clean up is done, db connects are still open to the h2 db and not closed even after kamanja exit

I stopped the h2db server, I still get this.

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/Users/hariramasamy/mykamanja/Kamanja-1.5.0_2.11/lib/system/ExtDependencyLibs2_2.11-1.5.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J:

[2016-06-27 07:50] ligadatahari commented on #1255
tcp4       0      0  127.0.0.1.9100         127.0.0.1.50590        ESTABLISHED
tcp4       0      0  127.0.0.1.50590        127.0.0.1.9100         ESTABLISHED
tcp46      0      0  *.9100                 *.*                    LISTEN
tcp4       0      0  127.0.0.1.9100         127.0.0.1.63523        FIN_WAIT_2
tcp4       0      0  127.0.0.1.63523        127.0.0.1.9100         CLOSE_WAIT
tcp4       0

[2016-06-27 08:22] ligadatahari opened #1256 "SetPaths.sh does not run with Kafka 0.90"
Kafka 0.90 version - install scripts cannot create kafka utility scripts
like Watch.Queue.sh

[2016-06-27 08:36] ligadatahari commented on #1255
Steps to reproduce

1. Upload Cluster Config, using tcp mode for h2.
2. Start Kamanja
3. Run helloWorldApp.sh
4. Repeat Push hello ten times by wrapping in a script
5. Stop and restart h2 when step 4 is in progress
6. Run Medical App.sh - u will see db errors.
7 execute netstat -an | grep 9100 to see number of open connections
8. Stop H2.
9. Repeat 7 and u will see the count still remaining

[2016-06-27 10:18] ligadata-haitham commented on #1255
I am unable to reproduce this issue.
i will communicate with Hari to see if we can reproduce it together.

[2016-06-27 10:30] ligadata-haitham commented on #1255
according to the documentation, this error code is thrown in case of multiple connections in embedded H2db mode :
http://www.h2database.com/javadoc/org/h2/api/ErrorCode.html#c90020

[2016-06-27 21:07] ligadatahari commented on #1255
I had a chat with Haitam. It happens in one rare condition. When u start in server mode, switch to embedded mode without closing kaman manager, the old connections are left open. Once the Kamanja is restarted, the connections are gone.

Only small issue is kamanja is not detecting the h2 server down and closed all connections, requires manual correction

Lowering the issue to P3, Pokuri might deci

[2016-06-27 21:07] #1230 closed

[2016-06-27 21:08] #1254 closed

[2016-06-27 21:48] ligadata-william opened #1257 "Push producer script defaults to localhost:9092; needs option to change"
I have an environment where I have 3 kafka brokers, indicated by node01:9092,node02:9092,node03:9092 (all on separate machines). When set to localhost:9092, it fails to push to kafka. There needs to be an option to replace the broker-list.

[2016-06-27 22:58] ligadata-dan commented on #1257
@ligadata-william @ligadata-pokuri @ligadata-alison

Adding a --kafkahosts option to our Push scripts.. probably need it for the watcher scripts as well

[2016-06-28 00:04] ligadata-dan commented on #1257
@ligadata-william

Please verify

[2016-06-28 03:09] ligadatahari opened #1258 "SSL H2DB Error"
When using SSL, upload cluster config gave the following error

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/Users/hariramasamy/mykamanja/Kamanja-1.5.0_2.11/lib/system/ExtDependencyLibs2_2.11-1.5.0.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/Users/hariramasamy/mykamanja/Kamanja-1.5.0_2.11/lib/system/ExtDependencyLibs_2.

[2016-06-28 15:58] ligadata-saleh commented on #1251
verify

[2016-06-28 15:58] #1251 closed

[2016-06-28 15:59] ligadata-saleh commented on #1250
verified

[2016-06-28 15:59] #1250 closed

[2016-06-28 16:00] ligadata-saleh commented on #1252
verified

[2016-06-28 16:00] #1252 closed

[2016-06-28 16:06] ligadata-saleh opened #1259 "PushSampleDataToKafka_XXXXXXX script is not working fine"
[root@node01 bin]#  ../input/SampleApplications/bin/PushSampleDataToKafka_HelloWorld.sh node01.internal:9092
Using java.security.auth.login.config=/var/run/cloudera-scm-agent/process/101-kafka-KAFKA_BROKER/jaas-client.conf
Using java.security.krb5.confg=/etc/krb5.conf
Using security client = KAMANJA_SECURITY_CLIENT
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:fi

[2016-06-28 17:26] ligadatahari commented on #1258
The problem happened since the h2db server was not started in ssl mode
We need a script to start H2 db server in either ssl or tcp mode

[2016-06-29 06:02] ligadata-dan opened #1260 "Issue with Scala version validation during cluster installation"
@ligadata-pokuri @ligadata-ramana

Hi guys, so I have tried this several times,  Both 1.3->1.5 and 1.4 -> 1.5 (both build with scala 2.11).  If this is user error, please let me know.  For now I am ignoring scala validation during my testing

**Scala Installed**
Dans-MacBook-Pro-2:ClusterInstall dankozin$ which scala
/Users/dankozin/scala-2.11.5/bin/scala

**Command**:

bash ClusterInstallerDriver

[2016-06-29 06:03] ligadata-dan commented on #1260
@ligadata-pokuri
Assigning to you since I am not sure if ramada is around or if this is simply a user error.

[2016-06-29 11:48] ligadata-saleh commented on #1259
a quick clarification i echo the java command and the "java.security.auth.login.config" is not added at all

java -Djava.security.krb5.confg=/etc/krb5.conf -cp /opt/kamanja/Kamanja-1.5.0_2.11/lib/system/ExtDependencyLibs2_2.11-1.5.0.jar:/opt/kamanja/Kamanja-1.5.0_2.11/lib/system/ExtDependencyLibs_2.11-1.5.0.jar:/opt/kamanja/Kamanja-1.5.0_2.11/lib/system/KamanjaInternalDeps_2.11-1.5.0.jar:/opt/kama

[2016-06-29 16:13] ligadata-pokuri commented on #1232
Fixed in this branch https://github.com/LigaData/Kamanja/tree/issue1232

[2016-06-29 16:14] ligadata-pokuri commented on #1232
pull request # https://github.com/LigaData/Kamanja/pull/1242

[2016-06-29 16:18] ligadata-pokuri commented on #1256
Duplication of https://github.com/LigaData/Kamanja/issues/1232

[2016-06-29 16:18] #1256 closed

[2016-06-29 16:33] ligadata-pokuri commented on #1249
Fixed in branch issue_1249 and opened pull request https://github.com/LigaData/Kamanja/pull/1264

[2016-06-29 16:39] ligadata-pokuri opened #1265 "Kafka consumer failed to connect to 0.8.x kafka"
WARN [pool-21-thread-5] - KAFKA ADAPTER: Error fetching topic financeinput, partition 1, recreating kafka leader for this partition
 WARN [pool-21-thread-7] - KAFKA ADAPTER: Failure fetching topic financeinput, partition 6, retrying
 WARN [pool-21-thread-3] - KAFKA ADAPTER: Failure fetching topic financeinput, partition 4, retrying
 WARN [pool-21-thread-7] - KAFKA ADAPTER: Error fetching topic fin

[2016-06-29 16:41] ligadata-pokuri opened #1266 "Failed to stop KamanjaManager if Kafka is not connectable"
WARN [pool-24-thread-3] - KAFKA ADAPTER: Error fetching topic helloworldinput, partition 4, recreating kafka leader for this partition
 WARN [pool-25-thread-6] - KAFKA ADAPTER: Failure fetching topic medicalinput, partition 3, retrying
 WARN [pool-25-thread-6] - KAFKA ADAPTER: Error fetching topic medicalinput, partition 3, recreating kafka leader for this partition
 WARN [pool-21-thread-5] - KAFK

[2016-06-29 16:46] ligadata-pokuri commented on #1266
WARN [pool-24-thread-5] - KAFKA ADAPTER: Error fetching topic helloworldinput, partition 1, recreating kafka leader for this partition
 WARN [pool-25-thread-3] - KAFKA ADAPTER: Failure fetching topic medicalinput, partition 4, retrying
 WARN [pool-25-thread-3] - KAFKA ADAPTER: Error fetching topic medicalinput, partition 4, recreating kafka leader for this partition
^C WARN [SIGINT handler] - Got

[2016-06-29 16:56] ligadata-william opened #1267 "PMML models throw exception when "Range" is called"
When running PMML models that call the "Range" function, the below exception is thrown. There appears to be a version issue with guava that needs to be dealt with in Kamanja.

[code]

[2016-06-29 16:57] ligadata-pokuri commented on #1265
May be producer also not working.

[2016-06-29 17:00] ligadata-pokuri commented on #1182
Ramana, can you mark it as fixed and also list in which version it is fixed

[2016-06-29 17:04] ligadata-pokuri commented on #1211
Hi william,

We need to bind the message created while adding the model to output adapter. In our sample it will be like this system.helloworld_outputmsg. Here system.helloworld is model name and we generate default message called <ModelFullName>_outputmsg for KPMML models. In this case it will be system.helloworld_outputmsg

[2016-06-29 17:05] ligadata-pokuri commented on #1211
Hi william, can you verify and assign back to me if it does not work.

[2016-06-29 18:13] ligadata-dan commented on #1265
is this New Stuff connecting to 0.8?

[2016-06-29 18:15] ligadata-pokuri commented on #1265
[KamanjaLog.zip](https://github.com/LigaData/Kamanja/files/339900/KamanjaLog.zip)

[2016-06-29 18:15] ligadata-pokuri commented on #1265
that is full log

[2016-06-29 18:46] ligadata-william commented on #1265
I am able to reproduce this with KafkaSimpleConsumer$. The I am able to use the kafka-console-consumer.sh script to see that messages are in the input topic and I can see that status messages are being properly produces, however, Kamanja appears unable to connect to kafka 0.8.2.x to read messages. I haven't seen this in the new KamanjaKafkaConsumer$.

[2016-06-29 19:07] ligadatahari opened #1268 "StartH2DbServer.sh needs to be user friendly - Consumer happiness is our success"
h2Dbctl start
htdbctl start ssl
hrdbctl stop
h2dbctl help

as linux like --

[2016-06-29 19:57] ligadata-haitham commented on #1258
StartH2dbServer.sh was updated to enable starting the server in two modes : SSL and TCP.

[2016-06-29 19:57] #1258 closed

[2016-06-29 21:02] ligadata-yasser commented on #1249
Verified

[2016-06-29 21:08] ligadata-yasser commented on #1249
Merged, Closing

[2016-06-29 21:08] #1249 closed

[2016-06-29 22:56] ligadata-ramana commented on #1182
It was fixed in 1.4.1.

[2016-06-30 01:33] ligadata-ramana commented on #1245
Please verify the fix in 1.5.0.Test

[2016-06-30 06:31] ligadata-dan commented on #1259
@ligadata-saleh
Hi saleh,

Are you trying to connect to broker v0.9 or v0.8?

[2016-06-30 11:26] ligadata-saleh commented on #1259
the script is not adding the $KERBEROS_CONFIG_OPT to the java command , i print the command its always empty

[2016-06-30 16:05] #1245 closed

[2016-06-30 19:41] ligadata-william commented on #1257
Verified and closing.

[2016-06-30 19:41] #1257 closed

[2016-06-30 20:08] ligadata-william commented on #1232
The fix for this has been checked in. Closing.

[2016-06-30 20:08] #1232 closed

[2016-06-30 20:09] ligadata-william commented on #1182
@ligadata-haitham have you verified whether this is working or not?

[2016-06-30 21:26] ligadata-william commented on #1041
While attempting to use cassandra with the latest libraries, I ran into the following exception when trying to add metadata:
[code]

Looks like we have yet another Guava dependency issue.

[2016-06-30 22:02] ligadata-ahmad opened #1272 "Failed to start MetadataAPIservice akka.actor.InvalidActorNameException: actor name [metadata-api-service] is not unique!"
Failed to start MetadataAPIservice in 1.5.0.Test branch

akka.actor.InvalidActorNameException: actor name [metadata-api-service] is not unique!
        at akka.actor.dungeon.ChildrenContainer$NormalChildrenContainer.reserve(ChildrenContainer.scala:130) ~[ExtDependencyLibs_2.11-1.5.0.jar:1.0]
        at akka.actor.dungeon.Children$class.reserveChild(Children.scala:76) ~[ExtDependencyLibs_2.11-1.5.0

[2016-06-30 22:09] ligadata-pokuri commented on #1041
Today I will move it to guava 16.0.1

[2016-06-30 22:15] ligadata-pokuri opened #1273 "Engine always processing from beginning of kafka topic when ever we restarted"
Engine always processing from beginning of kafka topic when ever we restarted

[2016-07-01 00:02] ligadatahari commented on #1272
Fixed the issue
Ahmed, please verify it.

THanks

[2016-07-01 00:04] ligadata-haitham commented on #1182
i installed 1.4.0 binaries, ran the medical app and got results, and when i try to upgrade i get the following error :
INFO [main] - Jar Absolute Path:/opt/Kamanja-1.4.1/ClusterInstall/ClusterInstallerDriver-1.4.1, ClusterInstallerDriversLocation:/opt/Kamanja-1.4.1/ClusterInstall
Jar Absolute Path:/opt/Kamanja-1.4.1/ClusterInstall/ClusterInstallerDriver-1.4.1, ClusterInstallerDriversLocation:/opt/

[2016-07-01 00:13] ligadata-dan commented on #1273
@ligadata-pokuri

Fixed.

[2016-07-01 00:17] ligadata-dan commented on #1265
kafka has backward compatibility issue at this moment. will fix at later date.

[2016-07-01 00:20] ligadata-dan commented on #1266
@ligadata-william

Willie, to report this you need to start v0.8 broker, and use kamanja 1.5 connection... you will go into a fetch fail loop and CtrcC should break you out.

[2016-07-01 00:23] ligadata-dan opened #1274 "ClusterInstall will not account for new Kafka security"
When validating Kafka during a migrate script we need to parse and use the security variables in the cluster config.

[2016-07-01 00:44] ligadata-ramana commented on #1248
I have used Telecom application to reproduce the problem. Since StorageAdapterStatistics will be included in KamanjaStatisticsEvent, I tried to setup another kafka queue for StatisticsEvent and monitor that queue.  See the steps below

create a kafka topic for statistics events

$KAFKA_HOME/bin/kafka-topics.sh --create --zookeeper localhost:2181 --replication-factor 1 --partitions "8" --topic test

[2016-07-01 00:50] ligadata-ramana commented on #1248
I see the following in the console where I started WatchStatisticsEvent.sh

{ "@@SchemaId": 1000002, "@@TransactionId": 300842, "@@TimePartitionValue": 0, "@@RowNumber": 0, "statistics": "{\"Name\":\"1\",\"Version\":\"1.5.0.0\",\"UniqueId\":124,\"Metrics\":\"{\\\"UsedMemory\\\":\\\"24 MB\\\",\\\"FreeMomory\\\":\\\"22 MB\\\",\\\"TotalMemory\\\":\\\"47 MB\\\",\\\"MaxMemory\\\":\\\"3545 MB\\\"}\\\",

[2016-07-01 00:53] ligadata-dan commented on #1259
@ligadata-saleh

Hi saleh, I fixed  it. please verify

[2016-07-01 01:10] ligadata-pokuri commented on #1041
Now we are using guava 16.0.1. You can try now.

[2016-07-01 01:11] ligadata-pokuri commented on #1267
Now we migrated from Guava 14.0.1 to 16.0.1. HBase & PMML are working fine with Guava 16.0.1

[2016-07-01 01:11] ligadata-pokuri commented on #1267
@ligadata-william , can you verify it?

[2016-07-01 01:12] ligadata-pokuri commented on #1041
@ligadata-william , can you verify it?

[2016-07-01 01:14] ligadata-pokuri commented on #1192
@ligadata-ramana also fixed and merged to 1.5.0.

[2016-07-01 01:44] ligadata-saleh opened #1276 "kafka kerberos sasl_ssl unable to find valid certification path to requested target"
Hi ,
we need to add "-Djavax.net.ssl.trustStore=/etc/security/tls/kafka.server.truststore.jks" to the all java commands that connect to kafka using sasl_ssl listener otherwise am getting this error :

Caused by: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target
 at sun.security.provider.certpath.SunCertPathBuilder.build(SunCertP

[2016-07-01 02:06] ligadata-pokuri commented on #1192
Verified in 1.5.0.Test branch.

[2016-07-01 02:06] #1192 closed

[2016-07-01 02:26] ligadata-william commented on #1014
I've tested and merged the fix given here. Closing.

[2016-07-01 02:26] #1014 closed

[2016-07-01 02:27] ligadata-william commented on #1273
@ligadata-dan is this is 1.5.0.Test already or another branch?

[2016-07-01 02:56] ligadata-william commented on #1273
This still occurs in 1.5.0.Test

[2016-07-01 03:01] ligadata-william commented on #1273
Clarification of my earlier statement. If a message is properly executed, it is not executed when the engine restarts, however, if a message causes the below exception, restarting the engine causes it to re-process those messages.
[code]

[2016-07-01 03:22] ligadata-william commented on #1272
I've verified this. Closing.

[2016-07-01 03:22] #1272 closed

[2016-07-01 04:04] ligadata-william opened #1278 "If a message causes an exception in Kamanja, upon restart, it will get processed again"
As the title states, when a message is processed by Kamanja and the below exception is thrown, upon restarting Kamanja, it will reprocess the same offsets in Kafka.
[code]

[2016-07-01 04:04] ligadata-william commented on #1273
Opened #1278 regarding my previous comment and closing this issue as verified.

[2016-07-01 04:04] #1273 closed

[2016-07-01 04:56] ligadata-william commented on #1267
@ligadata-pokuri I still see this in the latest 1.5.0.Test

[2016-07-01 05:06] ligadata-william commented on #1266
Verified as fixed. Closing.

[2016-07-01 05:06] #1266 closed

[2016-07-01 05:52] ligadata-william commented on #965
Verified as fixed. Closing.

[2016-07-01 05:52] #965 closed

[2016-07-01 06:06] ligadata-pokuri commented on #1276
Hi Saleh,

I Added KAMANJA_KEYSTORE, KAMANJA_KEYSTORE_PASS, KAMANJA_TRUSTSTORE & KAMANJA_TRUSTSTORE_PASS options to scripts to pass Keystore, Keystore password, Truststore & Trust store Password.

Can you use them and try once?

[2016-07-01 17:29] ligadata-ahmad opened #1281 "Failed to update kpmml model"
Steps to reproduce :

1. Add helloworld message
2. Add KPMML_Model_HelloWorld.xml
3. Change model version from source file from version="00.01.00"  to version="00.02.00"
4. Update model ( ./kamanja update model kpmml Kamanja/input/SampleApplications/metadata/model/KPMML_Model_HelloWorld.xml TENANTID tenant1)

Expected :
Update model successfully

Actual result :

Result: {
  "APIResults" : {
    "

[2016-07-01 17:54] ligadata-ahmad commented on #1281
@ligadatahari  I found the same issue with java model

[2016-07-01 18:01] ligadata-ahmad commented on #1281
The update operations failed in both MetadataAPIService and MetadataAPI

[2016-07-01 18:16] ligadata-ahmad commented on #1281
same thing with scala model

[2016-07-01 18:32] ligadata-ahmad commented on #1281
I think here is the problem

lets say we have  kpmmlhelloworld v1 already loaded  and we are trying to update to v2

if you look at Kamanja/trunk/MetadataAPI/src/main/scala/com/ligadata/MetadataAPI/ModelUtils.scala
line number 1583

`if (modDef == null || DoesModelAlreadyExist(modDef) == false) {
        return (new ApiResult(ErrorCodeConstants.Failure, "UpdateKPMMLModel", null, s"KPMML model must

[2016-07-01 19:52] ligadata-dan commented on #1248
Ok, this works.. closing

[2016-07-01 19:52] #1248 closed

[2016-07-01 19:55] ligadata-dan commented on #1278
@ligadata-pokuri
As per our discussion

[2016-07-01 19:57] ligadata-dan commented on #1276
@ligadata-saleh

Documentation has been updated

[2016-07-01 19:57] ligadata-william opened #1282 "Kamanja unable to instantiate Storage output adapter when using hbase"
When I start Kamanja, I receive the following exception:
[code]
I am using the following adapter configuration:
[code]

[2016-07-01 20:39] ligadata-dan commented on #1282
Ok, I fixed it, please verify.

The issue is we can get an expected exception prior to KamanjaExceptionEvent being loaded. The NPE is actually trying to get an instance of that object.

[2016-07-01 20:54] ligadata-saleh commented on #1276
verified , works fine now

[2016-07-01 20:54] #1276 closed

[2016-07-01 21:01] ligadata-william commented on #1282
Verified as fixed. Closing.

[2016-07-01 21:01] #1282 closed

[2016-07-01 21:47] ligadata-dan commented on #1149
@ligadatahari

Assigning to you..  You may  have already fixed this, if so , just verify

[2016-07-01 21:52] ligadata-ahmad opened #1283 "HelpMenu.txt doesn't have any commands for jtm models"
HelpMenu.txt doesn't have any commands for jtm models

[2016-07-01 23:11] ligadata-ahmad opened #1284 "Tenant id is missed in jtm commands in documentation"
In this webpage :
http://kamanja.org/advanced-developers-guide-1-5/models-1-5/jtm-1-5/#How_JTM_Works

The tenant id is missed in the following commands :
kamanja < metadata api properties file > add model jtm < jtm spec file >
kamanja < metadata api properties file > update model jtm < jtm spec file >

The following are the correct commands :

kamanja add model jtm input(optional) TENANTID <tenant

[2016-07-01 23:53] ligadata-alison commented on #1284
Fixed - thanks!

[2016-07-01 23:53] #1284 closed

[2016-07-01 23:59] ligadata-ahmad commented on #1284
Verified , Thanks Alison

[2016-07-02 00:45] ligadata-ahmad opened #1287 "activate and deactivate don't work using kamanja commands"
Steps to reproduce :

1. add copd model
2. ./kamanja deactivate  model com.ligadata.kamanja.samples.models.copdriskassessment.000000000000000001

Expected : model deactivated successfully
Actual :
Result: {
  "APIResults" : {
    "Status Code" : -1,
    "Function Name" : "StartMetadataAPI",
    "Result Data" : null,
    "Result Description" : "No value found for 'deactivatemodelcom.ligadata.kamanj

[2016-07-02 07:24] ligadatahari commented on #1149
https://github.com/LigaData/Kamanja/issues/1165

[2016-07-03 15:45] ligadata-saleh commented on #1259
verified

[2016-07-03 15:45] #1259 closed

[2016-07-03 15:57] ligadata-saleh opened #1289 "sasl_ssl kamanja consumer group id is empty"
- producer adapters works fine consumers on the other hand send these warning :

 WARN [pool-20-thread-1] - KamanjaKafkaConsumer Exception during Kafka Queue processing medicalinput, cause:
org.apache.kafka.common.errors.GroupAuthorizationException: Not authorized to access group:
 WARN [pool-18-thread-1] - KamanjaKafkaConsumer Exception during Kafka Queue processing telecominput, cause:
org.apach

[2016-07-04 15:39] ligadata-tulasi opened #1290 "The target data field in PMML should be one of the fields in input message definition."

[2016-07-05 07:34] ligadata-pokuri commented on #1281
Verified and merged to 1.5.0.Test

[2016-07-05 07:34] #1281 closed

[2016-07-05 07:34] ligadata-pokuri commented on #1283
Verified and merged to 1.5.0.Test

[2016-07-05 07:34] #1283 closed

[2016-07-05 07:35] ligadata-pokuri commented on #1287
Verified and merged to 1.5.0.Test

[2016-07-05 07:35] #1287 closed

[2016-07-05 07:36] ligadata-pokuri commented on #1267
Not able to repro it with the version I build. William can you verify it and let me know what is the issue you have.

[2016-07-05 07:37] ligadata-pokuri commented on #1278
We will fix this in next version. This will reprocess the messages which are failed to deserialize. I think it can move to P2

[2016-07-05 07:38] ligadata-pokuri commented on #1243
We will fix this in next version if not fixed in 1.5.0. And I am moving the priority to P2.

[2016-07-05 07:39] ligadata-pokuri commented on #1129
@ligadata-ahmad creating the list. I am making it as P2.

[2016-07-05 07:40] ligadata-pokuri commented on #1125
Need to enhance the product to support this in coming releases

[2016-07-05 07:42] ligadata-pokuri commented on #1274
@ligadata-dan , may be we need to fix this in 1.5.0.

[2016-07-05 07:59] ligadata-pokuri commented on #1182
This is fixed only in 1.5.0. Only migration from 1.4/1.3/1.2 to 1.5 works without any issues. 1.4.0 to 1.4.1 we are not removing the dependency fat jars, which are added to dependency jars in 1.4.0.

[2016-07-05 14:29] ligadata-dan commented on #1289
@ligadata-saleh
 Fixing

[2016-07-05 15:45] ligadata-dan commented on #1289
@ligadata-saleh @ligadata-pokuri

Had a chat with Saleh, and the concern with adding a group id to the consumer is forcing the consumer into using Groups.  which will probably not work with our Consumer implementation.  We will loose control of our offsets.  I will test if the presence of this field will cause problems....

Saleh will also test the code with the fix (only exists in the SASL_SSL pa

[2016-07-05 16:57] ligadata-pokuri commented on #1274
This can happen for fresh installation also. This is mainly to validate the components while doing Cluster Install.

[2016-07-05 18:17] ligadata-william commented on #1267
I'm not sure why yet but this issue only persists when built on mac. If I build this on linux and run it on linux or mac, this issue no longer persists. Perhaps something to do with sbt on os x. Some more investigation is needed. Until then:

WORKAROUND: Build from source on linux when running pmml models

Removing verify but dropping this down to a P2 for now.

[2016-07-05 18:18] ligadata-haitham opened #1291 "General fixes on CreateMessage tool"
here are some small issues to be fixed:

1) when providing a wrong delimitor , the error message is not clear. ( maybe check for existance of the delimitor before using it).

2) when outputPath path ends with "/" (example: /opt/) , the result message path has extra "/" :
you can find the file in this path /opt//message_20160703051505.json .
(WORKS BUT DOES NOT LOOK PRETTY, maybe check for "/" at t

[2016-07-05 18:19] ligadata-pokuri commented on #1267
@ligadata-william , assigning this to only you. You can investigate when you have time.

[2016-07-05 19:20] ligadata-ahmad opened #1292 "We need to remove all commands related to "types" from kamanja help"
These commands need to be removed from kamanja help since we are no longer support types  :

IV. Type operations
kamanja get type input(optional)
kamanja get all types
kamanja dump all types

[2016-07-05 19:48] ligadata-haitham commented on #1255
in short, to avoid this issue, when switching from server to embedded mode,we should turn off KamanjaManager, upload the ClusterConfig.json, and then start KamanjaManager again.

[2016-07-05 19:48] #1255 closed

[2016-07-05 19:55] ligadata-haitham commented on #1182
according to ramana , the migration fix for 1.4.0 to 1.4.1 is done in branch (1.4.1.migration) , but was never merged into 1.4.0 .
i can verify that and close this issue soon.

[2016-07-05 20:03] ligadata-yousef commented on #1291
i am working on it @ligadata-haitham

[2016-07-05 20:05] ligadata-william opened #1293 "easyInstallKamanja.sh fails if wget is not installed"
There is an error that occurs when running easyInstallKamanja.sh (usually on mac) where if wget is not installed, the installation fails when attempting to run wget. A check should be done at the beginning of the install script to determine if wget is installed (or can be found on the $PATH).

[2016-07-05 20:06] ligadata-yousef commented on #1290
Hi tulasi,

i am working on it and i sent an email to Rich and Greg for some help.
the problem is when you describe the target field like below it will parse:

  <Targets>
      <Target field="Species" optype="categorical">
        <TargetValue value="setosa"/>
        <TargetValue value="versicolor"/>
        <TargetValue value="virginica"/>
      </Target>
    </Targets>

but if it described lik

[2016-07-05 20:09] ligadata-ahmad opened #1294 "failed to add function"
failed to add function using add function command :

./kamanja add function ../input/SampleApplications/metadata/function/udfFcns.json TENANTID tenant1

Error message:

 "Error :com.ligadata.Exceptions.Json4sParsingException: No usable value for Functions\nNo usable value for OwnerId\nDid not find value which can be converted into java.lang.StringFailed to Add Function"
  }
}

[2016-07-05 20:13] ligadata-pokuri commented on #1255
@ligadata-haitham , If you want, can you ask alison to add this to her documentation as NOTE

[2016-07-05 20:57] ligadata-ahmad opened #1295 "we need to keep only one command to add function instead of two"
Currently we have two commands to add function :
1.add function input(optional)
2.kamanja load functions from a file

we need to keep only one of them .

[2016-07-05 21:14] ligadata-ahmad opened #1296 "Result Description is not correct when running (kamanja dump all functions)"
command :

kamanja dump all functions

The current message : "Successfully fetched all containers"
should be replaced with "Successfully fetched all functions"

[2016-07-05 21:24] ligadata-haitham opened #1297 "CreateMessage should check for timePartition value to be in the message fields"
timePartition value should be checked to be one of the message fields, see below example :
(asdasd is not a valid message field)

{
  "Message":{
    "NameSpace":"com.ligadata.kamanja",
    "Name":"testmessage",
    "Version":"00.01.00",
    "Description":"",
    "Fixed":"false",
    "Persist":"false",
    "Fields":[{
      "Name":"Sepal_Length",
      "Type":"System.Double"
    },{
      "Name":"

[2016-07-05 21:34] ligadata-yousef commented on #1297
i am working on it @ligadata-haitham

[2016-07-05 21:48] ligadata-alison commented on #1255
It's ok Haitham. I have added the note.

On Tue, Jul 5, 2016 at 1:13 PM, ligadata-pokuri <notifications@github.com>
wrote:

[2016-07-05 22:04] ligadata-dhaval commented on #1041
Hi, the error says that the guava version should be greater than or equal to 16.01 and we have set it as 16.0.1 instead of 16.01
The dot seems to have caused the confusion. I am updating the build.sbt and trying it again.

[2016-07-05 22:20] ligadata-pokuri commented on #1293
We need to change wget to any download. We need to download jar here. We don't want to check in jdbc jars in our repository. We will fix this in 1.5.1

[2016-07-05 22:39] ligadata-alison commented on #1295
Please let me know when one of the commands is removed. Then I can update
the documentation.

On Tue, Jul 5, 2016 at 1:57 PM, ligadata-ahmad <notifications@github.com>
wrote:

[2016-07-05 22:39] ligadata-alison commented on #1292
Please let me know when the type commands have been removed from the help
menu. Then I can update the documentation.

On Tue, Jul 5, 2016 at 12:20 PM, ligadata-ahmad <notifications@github.com>
wrote:

[2016-07-05 23:24] ligadata-dan commented on #1289
@ligadata-saleh @ligadata-pokuri @ligadatahari

Hi, checked in the code that will set the group.ids in our consumer/producers.

In the ClusterConfig add this for each (if you don't, it will default to "kamanja-kafka-group"....  Then use this group ID for the ACL operations.

          "AdapterSpecificCfg": {
            "HostList": "localhost:9093",
            **"kafka.group":"big1",**

[2016-07-06 02:08] ligadata-ahmad opened #1298 "RESTAPI throws Exception without sending any result to the caller"
I am getting the following exception when running this command :

curl -X DELETE -k https://localhost:8081/api/config/ligadata1

and never got any result on the caller side .

DEBUG [metadata-api-service-akka.actor.default-dispatcher-4] - DELETE reqeust : api/config/ligadata1
[ERROR] [07/06/2016 02:02:57.592] [metadata-api-service-akka.actor.default-dispatcher-4] [akka://metadata-api-service/user/

[2016-07-06 06:44] ligadatahari opened #1299 "Kamanja 1.5 doc requires how to read from queues when using Kerberos/SSL"
Reading from output queue requires passing configuration file with ssl parameters as specified in this link
http://www.confluent.io/blog/apache-kafka-security-authorization-authentication-encryption

under console section

[2016-07-06 14:49] ligadatahari commented on #1294
Can you please provide the json file

[2016-07-06 14:56] ligadata-alison commented on #1299
Hi Hari,
    I don't understand your email. Is there something to change in
documentation?
thanks,
alison

On Tue, Jul 5, 2016 at 11:44 PM, Hariharane Ramasamy <
notifications@github.com> wrote:

[2016-07-06 16:12] ligadata-dhaval commented on #1292
Hi,

I have made the changes for types in the help menu in 1.5.0.Test.

Regards,
Dhaval Kolapkar

Best Regards,
Dhaval Kolapkar
Platform Engineer Intern | LigaDATA

On Tue, Jul 5, 2016 at 3:39 PM, ligadata-alison <notifications@github.com>
wrote:

[2016-07-06 17:21] ligadata-ramana commented on #1243
Created pull request

[2016-07-06 17:22] ligadata-ramana commented on #1243
pull request #1300

[2016-07-06 17:37] ligadata-alison commented on #1292
Documentation updated

On Wed, Jul 6, 2016 at 9:12 AM, Dhaval Kolapkar <notifications@github.com>
wrote:

[2016-07-06 17:37] #1292 closed

[2016-07-06 18:24] ligadata-ahmad commented on #1294
I tried to add both files that are located in /Kamanja 1.5.0_2.11/input/SampleApplications/metadata/function
1. coreUdfFcnDefs_Medical.json
2. udfFcns.json

[2016-07-06 19:17] ligadata-ahmad opened #1301 "Null pointer exception when removing ClusterConfig through RESTAPI"
Steps to reproduce :

1. start MetadataAPI Services
2. run the folling command
curl -X PUT --data-binary  @"ClusterConfig.json"  -k  https://localhost:8081/api/RemoveConfig

DEBUG [metadata-api-service-akka.actor.default-dispatcher-15] - PUT reqeust : api/RemoveConfig
[ERROR] [07/06/2016 19:12:08.462] [metadata-api-service-akka.actor.default-dispatcher-15] [akka://metadata-api-service/user/metadat

[2016-07-06 20:14] ligadata-william commented on #1182
Is the change in 1.4.1.migration only or has this been merged into 1.4.1?

[2016-07-06 20:17] ligadata-pokuri commented on #1182
William, that is not merged to 1.4.1 or 1.4.2. if we give another hot fix
in 1.4.x we merge this. These changes are already in 1.5.0.test. we are not
going to do on this anything in 1.4.x at this moment
On Jul 7, 2016 12:15 AM, "William Tarver" <notifications@github.com> wrote:

[2016-07-06 21:34] ligadata-ahmad opened #1302 "remove engine config fails if I pass the clusterConfig.json"
command $KAMANJA_HOME/bin/kamanja remove engine config $KAMANJA_HOME/config/ClusterConfig.json

it failed with this exception :
java.lang.ClassCastException: scala.collection.immutable.$colon$colon cannot be cast to scala.collection.immutable.Map
        at com.ligadata.MetadataAPI.ConfigUtils$$anonfun$UploadModelsConfig$1.apply(ConfigUtils.scala:630) ~[KamanjaInternalDeps_2.11-1.5.0.jar:0.1-SNAPS

[2016-07-06 21:40] ligadata-william opened #1303 "Adding a message via the MetadataAPIService causes zookeeper notification error"
When I add the Hello World message definition using the REST Service, the message is added properly, but there is an error indicating objectType TenantDef is unknown:
[code]

[2016-07-06 21:47] ligadata-william commented on #1149
The "Result Data" is still a String instead of an array of keys.
[code]

[2016-07-06 22:37] ligadata-dhaval commented on #1041
Hi, I tried
1.updating the guava version to 19 in build.sbt
2. change sbt version to 0.13.7 and cassandra 3.7
3. Based on the http://datastax.github.io/java-driver/manual/native_protocol/ tried compatibiity check with cassandra 3.0.8 and drivers 3.x
All seem to be giving the same error. Please find the metadata api and cluster config used.

[files .zip](https://github.com/LigaData/Kamanja/files/35

[2016-07-07 00:31] ligadata-ahmad commented on #1129
Here is the list of all Kamanja commands and the corresponding REST calls

https://docs.google.com/a/ligadata.com/document/d/1xSNIMh6oDlFtt5d0cigfOPpnyQrTeA7smFvixW_C_TE/edit?usp=sharing

[2016-07-07 01:06] ligadata-dan commented on #1129
@ligadata-ahmad

Ok, seems good, let send this doc out to Baraa to see if he needs any of them fixed

[2016-07-07 05:22] ligadatahari commented on #1296
fixed

[2016-07-07 07:21] ligadata-ramana commented on #1294
Fix is checked into the branch Issue1294. A pull request #1305 created

[2016-07-07 12:12] ligadata-saleh commented on #1289
@ligadata-dan i have to create the group manually for the adapters to work fine , i think more testing is needed here , but for the sasl_ssl its working fine now .

verified

[2016-07-07 12:12] #1289 closed

[2016-07-07 14:57] ligadata-dan commented on #1274
@ligadata-saleh @ligadata-william

Hi Saleh, can you try to install Kamanja with Kerberos enabled Kafka , from branch  issue1274 (https://github.com/LigaData/Kamanja/pull/1304)

[2016-07-07 14:58] ligadata-dan commented on #1274
@ligadata-saleh @ligadata-william

FYI, the doc for this that we have is here

http://kamanja.org/cluster-installation-1-5/#When_Migrating_Old_Content_to_a_New_Installation

[2016-07-07 18:22] ligadata-william commented on #1298
This is still an issue on branch 1.5.0.Test. Please indicate the branch you've checked in the fix for.

[2016-07-07 18:24] ligadata-william commented on #1301
This is still an issue in 1.5.0.Test. Please indicate which branch you checked the fix into.

[2016-07-07 18:26] ligadata-william commented on #1296
This is still an issue in 1.5.0.Test. Please indicate the branch you checked the fix into.

[2016-07-07 19:07] ligadata-william commented on #1296
I got the correct branch now :P and this is verified as fixed.

[2016-07-07 19:07] #1296 closed

[2016-07-07 19:09] ligadata-william commented on #1301
I was on the wrong branch before. However, there are a couple issues still that should be seen to here. The APIResult returns as:
[code]
Which leaves the user confused as to why this isn't working, we need a more detailed Result Description.

The other issue is that there is no logging of the error on the service side, so if an issue occurs, an administrator can't investigate what's going on.

[2016-07-07 19:53] ligadata-william commented on #1294
@ligadata-ramana, I believe the core issue is properly fixed, but the dependency jars given in the Function definitions is still the individual jars rather than our fat jars. See error:
[code]

[2016-07-07 20:51] ligadata-william commented on #1041
I'm still encountering the guava issue. I don't know why but it seems to not be honoring the dependency override during assembly. I'm not sure why yet.

[2016-07-07 20:52] ligadata-william commented on #1041
As an additional note: I'm building on OS X. I'll try building on linux to see if something different happens.

[2016-07-07 21:08] ligadata-dhaval opened #1306 "Cluster install fails if the install directory is already present even though it is empty"
I performed cluster install and while replacing the <InstallDirectory> paths in ClusterCfgMetadataAPIConfig.properties and ClusterConfig.json I gave the path /tmp/KamanjaCluster. In the tmp folder the KamanjaCluster is present and is empty. When I ran the cluster install, it gave the error - For fresh install, found valid directory/link at  <InstallDirectory>  at least on one node.
This error occu

[2016-07-07 21:32] ligadata-dan commented on #1274
@ligadata-dhaval

Dhaval tested the install path.. tested the SSL path.

[2016-07-07 22:03] ligadata-william commented on #1294
The files getting copied into sample applications at install time are located in:
trunk/SampleApplication/Medical/Functions/coreUdfFcnDefs_Medical.json
trunk/SampleApplication/Medical/Functions/udfFcns.json

[2016-07-07 22:07] ligadata-ramana opened #1307 "GenerateAdapterBindings: serializer is defaulting to csvserdeser eventhough dataformat is json"

[2016-07-07 22:08] ligadata-alison commented on #1306
Hi Dhaval,
      I added a note regarding your issue in the documentation.
thanks,
alison

[2016-07-07 23:51] ligadata-dhaval commented on #1041
@ligadata-haitham and I tried out and it seems the issue is with the jars compiled using Mac. Haitham ran the examples on a unix machine and it worked fine. I also used Haitham's binaries and ran it on MAc and it worked fine but if I added my lib folder to his Kamanja it failed. Also tried copying his lib folder into my folder and it worked. There seems some issue with guava on mac while running e

[2016-07-08 00:12] ligadata-william commented on #1041
I'm giving this to you Dhaval. If you've verified this works on linux, then merge branch 1.4.1-Kamanja-issues-1041 into 1.5.0.Test and close this issue.

[2016-07-08 00:13] ligadata-william commented on #1294
I've verified this is fixed. Closing.

[2016-07-08 00:13] #1294 closed

[2016-07-08 00:28] ligadata-william opened #1311 "When removing Cluster Configuration through the REST API, NullPointerException returned"
command used:
[code]
error received:
[code]
There are 2 issues here really:
1. A NullPointerException is given to the user instead of a proper error.
2. Cluster Configuration isn't being removed.

[2016-07-08 00:28] ligadata-ramana commented on #1307
new pull request is #1310

[2016-07-08 00:30] ligadata-william commented on #1301
I'm closing this as the lack of an APIResult has been resolved. However, what I would consider a much more pressing issue, #1311, needs to be addressed. Cluster Config removal is still failing and the user is left without a reason why.

[2016-07-08 00:30] #1301 closed

[2016-07-08 00:42] ligadatahari commented on #1298
I am catching exception, meaningful can be deferred later

[2016-07-08 02:29] ligadatahari commented on #1295
fixed verify

Removed Load Functions from a file

[2016-07-08 05:41] ligadatahari opened #1312 "Update Help to reflect 646 feature and 1302 issues"
Update Help accordingly

[2016-07-08 05:45] ligadatahari commented on #1312
Fixed

[2016-07-08 14:08] ligadata-alison commented on #1295
Once Dhaval has removed this command from the help menu, then I will update
the documentation.

On Thu, Jul 7, 2016 at 7:29 PM, Hariharane Ramasamy <
notifications@github.com> wrote:

[2016-07-08 14:09] ligadata-alison commented on #1312
Hi Hari,
    What commands did you remove from the Help menu?
thanks,
alison

On Thu, Jul 7, 2016 at 10:45 PM, Hariharane Ramasamy <
notifications@github.com> wrote:

[2016-07-08 16:41] ligadata-dhaval commented on #1295
It is removed from the help menu.

[2016-07-08 16:58] ligadata-william commented on #1312
Please add detail to this issue as it isn't exactly obvious what I should be looking for.

[2016-07-08 16:58] ligadata-william commented on #1295
@ligadata-dhaval, if you've verified this issue is fixed, please close the issue.

[2016-07-08 17:09] ligadatahari commented on #1312
Kamanja add function is there
Kamanja load function from a file  (is removed)

------------------------------ Please look at kamanja help output below  for 646 features ------------------------------------------- (Tenant id filter, Properties/PropertiesFile)

******************** Help Menu ****************************
I. Message operations
kamanja add message input(optional) TENANTID <tenantId>  P

[2016-07-08 17:20] ligadata-william commented on #1311
The issue persists, we are still unable to remove cluster configuration through REST API. On the service side, I get error:
[code]
There shouldn't be any need to pass tenantid info for Cluster Configuration (if that's what this error means).

[2016-07-08 17:23] ligadata-william commented on #1302
I've verified this is fixed. Closing.

[2016-07-08 17:23] #1302 closed

[2016-07-08 17:35] ligadata-william commented on #1298
I've verified that a Result is being returned to the client. Closing.

[2016-07-08 17:35] #1298 closed

[2016-07-08 17:40] ligadata-dhaval commented on #1312
I have verified this. Will close it

Best Regards,
Dhaval Kolapkar
Platform Engineer | LigaDATA

On Fri, Jul 8, 2016 at 10:09 AM, Hariharane Ramasamy <
notifications@github.com> wrote:

[2016-07-08 17:41] #1312 closed

[2016-07-08 17:43] ligadata-dhaval commented on #1295
Verified.

Result: {
  "APIResults" : {
    "Status Code" : 0,
    "Function Name" : "StartMetadataAPI/route",
    "Result Data" : null,
    "Result Description" : "The action = loadfunctionsfromafile is no longer supported, please use add function"
  }
}

[2016-07-08 17:43] #1295 closed

[2016-07-08 18:38] ligadata-shilpa opened #1313 "SAS Model Validation : TypeCheckException encountered while running SAS Models on Kamanja 1.5RC1"
The SAS PMML models are storing the data in string format using the "Best Format" conversions. They probably are assuming that our pmml consumer will do the necessary type coercion where required. JPMML lib however is missing the conversion from string to integer which is why the jpmml evaluator is throwing a Type Check Exception when it encounters strings where it is expecting numbers.

**Error M

[2016-07-08 20:54] vruusmann commented on #1313
The expression `<Constant>FMTWIDTH</Constant>` cannot be coerced to integer. It's an invalid field value reference.

Please see the following SO thread for extended discussion:
https://stackoverflow.com/questions/33003359/fmtwidth-error-while-using-jpmml-to-evaluate-a-sas-produced-pmml-file

Also, the JPMML library contains a visitor class that can locate and fix such expressions:
https://github.c

[2016-07-10 10:23] ligadata-yousef commented on #1297
fixed.

i added a pull request with this id #1314.  @ligadata-haitham  please verify after @ligadata-pokuri or @ligadata-william  merged to 1.5.0.Test or you can test it in "GenerateMessageFile-Kamanja-640" branch.

[2016-07-10 10:24] ligadata-yousef commented on #1290
fixed.

i added a pull request with this id #1314. @ligadata-tulasi please verify after @ligadata-pokuri or @ligadata-william merged to 1.5.0.Test or you can test it in "GenerateMessageFile-Kamanja-640" branch.

[2016-07-10 10:40] ligadata-yousef commented on #1291
fixed.

i added a pull request with this id #1314. @ligadata-haitham please verify after @ligadata-pokuri or @ligadata-william merged to 1.5.0.Test or you can test it in "GenerateMessageFile-Kamanja-640" branch.

[2016-07-11 08:58] ligadata-yousef opened #1315 "ClusterConfig for smart file output adapter"
Hi
Alison,

in this link http://kamanja.org/advanced-developers-guide-1-5/adapters-1-5/sfoa-1-5/
in the ClusterConfig.json please change:

1- com.ligadata.InputAdapters.SmartFileProducer$    to      com.ligadata.OutputAdapters.SmartFileProducer$

2- smartfileinputoutputadapters_2.10-1.0.jar    to      KamanjaInternalDeps_2.10-1.5.0.jar   because smartfileinputoutputadapters_2.10-1.0.jar not in $KA

[2016-07-11 10:06] ligadata-william opened #1316 "Kamanja compiled under scala 2.10 fails to serialize/deserialize messages in kafka"
When a user start Kamanja that has been built in scala 2.10 and attempts to process messages, the following exception appears even when Kamanja has all the necessary metadata added.

[code]

[2016-07-11 14:30] ligadata-alison commented on #1315
Done

[2016-07-11 14:30] #1315 closed

[2016-07-11 14:49] ligadata-saleh commented on #1316
@ligadata-william  I can't replicate the exception you are getting also @ligadata-yousef  test 2.10 without any problems , can you please clean and recompile the source again , also can you please check the kafka version you are using the new consumer is working fine with "kafka_2.10-0.9.0.0" and "kafka_2.11-0.9.0.0" .

Thanks
Saleh

[2016-07-11 17:40] ligadata-dhaval commented on #1041
I have checked with Haitham and the changes in the branch
1.4.1-Kamanja-issues-1041
is already there in the 1.5.0.Test. So we just closing this as verified.

Best Regards,
Dhaval Kolapkar
Platform Engineer | LigaDATA

On Thu, Jul 7, 2016 at 5:12 PM, William Tarver <notifications@github.com>
wrote:

[2016-07-11 17:51] ligadata-dan commented on #1316
@ligadata-saleh @ligadata-william

Hi Saleh, not sure this is a kafka related issue.  Seems like msg1 implementation is missing a method or something.    Could be some scala 2.10 vs 2.11 msg compilation issue.

[2016-07-11 17:56] ligadata-saleh commented on #1316
Hi Dan ,

I couldn't replicate the problem , so i just assume the could be a kafka
2.10 consumer tried to connect to kafka 2.11 server , anyways it seems a
build issue more than anything else .

Thanks
Saleh
On Mon, Jul 11, 2016 at 8:51 PM Dank <notifications@github.com> wrote:

--

Thanks,

Saleh H. Abdallah

Senior Software Engineer

E: saleh@ligadata.com
[image: LD]

[2016-07-11 18:15] ligadata-william commented on #1316
If it were a kafka version issue, Kamanja never would have been able to read messages from kafka in the first place, so I imagine that isn’t the issue. I’m rebuilding Kamanja 2.10 and 2.11 from scratch. It really shouldn’t have an effect if I have the correct version of scala installed when I compile the metadata but we’ll see.

[2016-07-11 18:56] ligadata-william commented on #1316
I am completely unable to get Kamanja 1.5.0 working when compiled against scala 2.10. I've verified scala version, java version, kafka version, operating system version; everything. It quite simply isn't working. Even InitKVStores_*.sh scripts all fail to serialize/deserialize.

[2016-07-11 19:50] ligadata-dhaval opened #1317 "Medical app watch queue command issue"
In medical app documentation, watch queue command is
bash $KAMANJA_HOME/bin/kamanja $KAMANJA_HOME/bin/WatchOutputQueue.sh

It should be
$KAMANJA_HOME/bin/WatchOutputQueue.sh

[2016-07-11 19:55] ligadata-william commented on #1316
Finally figured out the issue. I made sure that scala -version returned 2.10.5. However, we don't ever actually invoke scala when we run things. In fact, we're invoking scalac. When I ran scalac -version, it returned 2.11.7, which explains why I've been having issues (This is what sleep depravation does to me). I'm verifying quickly with the hello world app. Once it runs ok, I'll close this.

[2016-07-11 19:55] ligadata-william commented on #1316
Verified as working. Closing.

[2016-07-11 19:55] #1316 closed

[2016-07-11 20:01] ligadata-alison commented on #1317
Done

[2016-07-11 20:01] #1317 closed

[2016-07-11 22:48] #1041 closed

[2016-07-11 22:54] ligadata-dhaval opened #1318 "Kafka install from homebrew affects CreateQueues.sh and WatchQueues.sh scripts"
New kafka versions when downloaded from homebrew do not have .sh extensions for their scripts while those from the kafka binaries have. This is an inconsistency which is affecting kamanja scripts WatchQueues and CreateQueues and similar related to kafka queues. @ligadata-alison, kindly could you add it in the website, if we have a section for known issues. I am posting on the forum in the meantime

[2016-07-11 23:08] ligadata-shilpa opened #1319 "Kamanja 1.5RC1 Demo: Failure in loading PMML models into Kamanja 1.5 RC1 | Only works for Decision Tree models"
While uploading  metadata in Kamanja 1.5RC1 (kafka version 0.9), the model load fails when any model other than Decision Trees are used. I have tested this for Linear Regression, Neural Nets, Random Forest, KMeans and Ada Boost algorithms. All these models were generated from R ([R_Models.zip](https://github.com/LigaData/Kamanja/files/358264/R_Models.zip)). Datasets used were AutoMPG([AutoMPG.csv.

[2016-07-11 23:39] ligadata-shilpa opened #1320 "Kamanja 1.5: Use of ExpressionCorrector.java class for invalid PMML expressions detection and replacement"
This is in relation to bug I had reported in SAS EM PMML models - #1313

Based on the response from Villu Ruusmann (author of pmml):

The expression `<Constant>FMTWIDTH</Constant>` cannot be coerced to integer. It's an invalid field value reference.

So, this expression needs to be replaced with `<FieldRef field="FMTWIDTH"/>`
Solution from Stack overflow: https://stackoverflow.com/questions/330033

[2016-07-12 15:02] ligadata-alison commented on #1318
Done

[2016-07-12 15:02] #1318 closed

[2016-07-12 18:31] ligadata-dhaval opened #1321 "Kamanja quickstart and developer guide minor documentation issues"
Documentation questions:

1. Output Adapter Message Binding example has only one messageName and document says there are 2.
2.  CleanUtil-1.0 tool  not in bin folder
3.  Jason Transformation Model should be JSON in Add a JTM model.

[2016-07-12 18:45] ligadata-alison commented on #1321
Fixed Jason to JSON but the other 2 issues need input from Rich and William.
RIch - would you please resolve the issue that Dhaval discovered in the Message Bindings documentation and then let me know the update?
William - what do I put for the missing CleanUtil-1.0 tool?

[2016-07-12 18:50] ligadata-dhaval opened #1322 "Sample code for beneficiary_Medical.json is printed twice."
The sample code for beneficiary_Medical.json is printed twice.

[2016-07-12 18:56] ligadata-alison commented on #1322
Done

[2016-07-12 18:56] #1322 closed

[2016-07-12 20:13] ligadata-haitham commented on #1297
this issue is fixed in "GenerateMessageFile-Kamanja-640" branch.

[2016-07-12 20:13] #1297 closed

[2016-07-12 21:36] ligadata-haitham commented on #1291
all these issues are fixed in branch "GenerateMessageFile-Kamanja-640"

[2016-07-12 21:36] #1291 closed

[2016-07-12 23:31] ligadata-tulasi commented on #1290
Verified, the issue is fixed in branch GenerateMessageFile-Kamanja-640.

[2016-07-13 22:05] ligadata-shilpa opened #1323 "Failure to Add Model + Null Pointer Exception when loading PMML models into Kamanja 1.5"
I was running Kamanja 1.5 (latest version from the website) and ran into the following error while uploading the model:

**Stack Trace attched below:**

.
.
.
DEBUG [main] - Trying to load class:scala.runtime.package, resolve:false
DEBUG [main] - Metadata synching is now available.
DEBUG [main] - We may create a default output message depending on whether they are supplied in ModelConfig object ..

[2016-07-15 19:52] ligadata-shilpa commented on #1320
Attached link to the various vendor specific jpmml-evaluator visitor class jars which seem to have been added recently. We need to ensure these are a part of our build too to avoid this problem:

https://github.com/jpmml/jpmml-evaluator

[2016-07-16 10:03] ligadata-pokuri commented on #1320
Hi @ligadatahari

We are including the following maven repositories, which are not getting the special handled stuff (functions, visiters, etc) from sas, knime, rapidminer & rattle

libraryDependencies += "org.jpmml" % "pmml-evaluator" % "1.2.9"
libraryDependencies += "org.jpmml" % "pmml-model" % "1.2.9"
libraryDependencies += "org.jpmml" % "pmml-schema" % "1.2.9"

Can you take a look at the follo

[2016-07-16 18:50] ligadata-rich commented on #1320
I downloaded the latest source from github... built with 'mvn clean test' and see this in the output for the sas tests:

Running org.jpmml.sas.visitors.ExpressionCorrectorTest
Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 0.001 sec - in org.jpmml.sas.visitors.ExpressionCorrectorTest

Dumping the jars (jar tvf <...jar>), the org.jpmml.sas.visitors.ExpressionCorrectorTest was not i

[2016-07-16 19:00] ligadata-rich commented on #1320
To always get the latest version of the jpmml components, we need entries in the build.sbt for the internal jar (is that the one where these things are, @ligadata-pokuri?) that has the 'latest.integration'

libraryDependencies += "org.jpmml" % "pmml-sas" % "latest.integration"
libraryDependencies += "org.jpmml" % "pmml-knime" % "latest.integration"
libraryDependencies += "org.jpmml" % "pmml-rapidm

[2016-07-16 23:10] ligadata-pokuri commented on #1320
@ligadata-rich we can not change version now for 1.5.1 unless we really tested whole product. Main issue with changing the version is dependency jars. Guava etc. For 1.5.1 I prefer to use 1.2.9 instead of latest version.

yes we can use those dependencies. But how to use new functions, visitor etc from new packages?